<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetSoftwareDao">


    <resultMap id="ManufacturerResultMap" type="java.util.HashMap">
        <result property="key" column="manufacturer"/>
        <result property="value" column="num"/>
    </resultMap>
    <resultMap id="StatusResultMap" type="java.util.HashMap">
        <result property="key" column="software_status"/>
        <result property="value" column="num"/>
    </resultMap>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetSoftware">
        <id column="id" property="id"/>
        <result column="size" property="size"/>
        <result column="operation_system" property="operationSystem"/>
        <result column="category_model" property="categoryModel"/>
        <result column="category_model_name" property="categoryModelName"/>
        <result column="name" property="name"/>
        <result column="upload_software_name" property="uploadSoftwareName"/>
        <result column="path" property="path"/>
        <result column="version" property="version"/>
        <result column="manufacturer" property="manufacturer"/>
        <result column="description" property="description"/>
        <result column="asset_group" property="assetGroup"/>
        <result column="software_label" property="softwareLabel"/>
        <result column="software_status" property="softwareStatus"/>
        <result column="authorization" property="authorization"/>
        <result column="report_source" property="reportSource"/>
        <result column="protocol" property="protocol"/>
        <result column="service_life" property="serviceLife"/>
        <result column="buy_date" property="buyDate"/>
        <result column="language" property="language"/>
        <result column="release_time" property="releaseTime"/>
        <result column="serial" property="serial"/>
        <result column="md5_code" property="md5Code"/>
        <result column="publisher" property="publisher"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="memo" property="memo"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="md5_code" property="md5Code"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, size, operation_system, category_model, name, upload_software_name, path, version, manufacturer, description, asset_group, software_label, software_status, authorization, report_source, protocol, service_life, buy_date, language, release_time, serial, md5_code, publisher, gmt_create, memo, gmt_modified, create_user, modify_user, status
    </sql>

    <sql id="Table_Name">
        asset_software
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" size != null">
            size,
        </if>
        <if test=" operationSystem != null">
            operation_system,
        </if>
        <if test=" categoryModel != null">
            category_model,
        </if>
        <if test=" name != null">
            name,
        </if>
        <if test=" uploadSoftwareName != null">
            upload_software_name,
        </if>
        <if test=" path != null">
            path,
        </if>
        <if test=" version != null">
            version,
        </if>
        <if test=" manufacturer != null">
            manufacturer,
        </if>
        <if test=" description != null">
            description,
        </if>
        <if test=" assetGroup != null">
            asset_group,
        </if>
        <if test=" softwareLabel != null">
            software_label,
        </if>
        <if test=" softwareStatus != null">
            software_status,
        </if>
        <if test=" authorization != null">
            authorization,
        </if>
        <if test=" reportSource != null">
            report_source,
        </if>
        <if test=" protocol != null">
            protocol,
        </if>
        <if test=" serviceLife != null">
            service_life,
        </if>
        <if test=" buyDate != null">
            buy_date,
        </if>
        <if test=" language != null">
            language,
        </if>
        <if test=" releaseTime != null">
            release_time,
        </if>
        <if test=" serial != null">
            serial,
        </if>
        <if test=" md5Code != null">
            md5_code,
        </if>
        <if test=" publisher != null">
            publisher,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" memo != null">
            memo,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" size != null">
            #{size },
        </if>
        <if test=" operationSystem != null">
            #{operationSystem },
        </if>
        <if test=" categoryModel != null">
            #{categoryModel },
        </if>
        <if test=" name != null">
            #{name },
        </if>
        <if test=" uploadSoftwareName != null">
            #{uploadSoftwareName },
        </if>
        <if test=" path != null">
            #{path },
        </if>
        <if test=" version != null">
            #{version },
        </if>
        <if test=" manufacturer != null">
            #{manufacturer },
        </if>
        <if test=" description != null">
            #{description },
        </if>
        <if test=" assetGroup != null">
            #{assetGroup },
        </if>
        <if test=" softwareLabel != null">
            #{softwareLabel },
        </if>
        <if test=" softwareStatus != null">
            #{softwareStatus },
        </if>
        <if test=" authorization != null">
            #{authorization },
        </if>
        <if test=" reportSource != null">
            #{reportSource },
        </if>
        <if test=" protocol != null">
            #{protocol },
        </if>
        <if test=" serviceLife != null">
            #{serviceLife },
        </if>
        <if test=" buyDate != null">
            #{buyDate },
        </if>
        <if test=" language != null">
            #{language },
        </if>
        <if test=" releaseTime != null">
            #{releaseTime },
        </if>
        <if test=" serial != null">
            #{serial },
        </if>
        <if test=" md5Code != null">
            #{md5Code },
        </if>
        <if test=" publisher != null">
            #{publisher },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" memo != null">
            #{memo },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" size != null">
            size = #{size },
        </if>
        <if test=" operationSystem != null">
            operation_system = #{operationSystem },
        </if>
        <if test=" categoryModel != null">
            category_model = #{categoryModel },
        </if>
        <if test=" name != null">
            name = #{name },
        </if>
        <if test=" uploadSoftwareName != null">
            upload_software_name = #{uploadSoftwareName },
        </if>
        <if test=" path != null">
            path = #{path },
        </if>
        <if test=" version != null">
            version = #{version },
        </if>
        <if test=" manufacturer != null">
            manufacturer = #{manufacturer },
        </if>
        <if test=" description != null">
            description = #{description },
        </if>
        <if test=" assetGroup != null">
            asset_group = #{assetGroup },
        </if>
        <if test=" softwareLabel != null">
            software_label = #{softwareLabel },
        </if>
        <if test=" softwareStatus != null">
            software_status = #{softwareStatus },
        </if>
        <if test=" authorization != null">
            authorization = #{authorization },
        </if>
        <if test=" reportSource != null">
            report_source = #{reportSource },
        </if>
        <if test=" protocol != null">
            protocol = #{protocol },
        </if>
        <if test=" serviceLife != null">
            service_life = #{serviceLife },
        </if>
        <if test=" buyDate != null">
            buy_date = #{buyDate },
        </if>
        <if test=" language != null">
            language = #{language },
        </if>
        <if test=" releaseTime != null">
            release_time = #{releaseTime },
        </if>
        <if test=" serial != null">
            serial = #{serial },
        </if>
        <if test=" md5Code != null">
            md5_code = #{md5Code },
        </if>
        <if test=" publisher != null">
            publisher = #{publisher },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" memo != null">
            memo = #{memo },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" operationSystem != null">
            and operation_system = #{operationSystem }
        </if>
        <if test=" categoryModel != null">
            and category_model = #{categoryModel }
        </if>
        <if test=" name != null">
            and name like CONCAT('%',#{name},'%')
        </if>
        <if test=" version != null">
            and version = #{version }
        </if>
        <if test=" manufacturer != null">
            and manufacturer = #{manufacturer }
        </if>
        <if test=" assetGroup != null">
            and asset_group = #{assetGroup }
        </if>
        <if test=" softwareLabel != null">
            and software_label = #{softwareLabel }
        </if>
        <if test=" softwareStatus != null">
            and software_status = #{softwareStatus }
        </if>
        <if test=" authorization != null">
            and authorization = #{authorization }
        </if>
        <if test=" reportSource != null">
            and report_source = #{reportSource }
        </if>
        <if test=" protocol != null">
            and protocol = #{protocol }
        </if>
        <if test=" language != null">
            and language = #{language }
        </if>
        <if test=" releaseTime != null">
            and release_time = #{releaseTime }
        </if>
        <if test=" publisher != null">
            and publisher = #{publisher }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
        <if test=" serial != null">
            and serial=#{serial},
        </if>
    </sql>

    <!--资产条件查询-->
    <sql id="Multiple_Query">

        <if test="softwareStatusList != null and softwareStatusList.size() > 0">
            and software_status in
            <foreach item="softwareStatus" collection="softwareStatusList" open="(" separator="," close=")">
                #{softwareStatus}
            </foreach>
        </if>
        <if test=" categoryModels != null and categoryModels.length > 0">
            and category_model in
            <foreach collection="categoryModels" open="(" close=")" separator="," index="index" item="item">
                #{item}
            </foreach>
        </if>


        <if test=" ids != null and ids.size() > 0">
            and asset_software.id in
            <foreach collection="ids" open="(" close=")" separator="," index="index" item="item">
                #{item}
            </foreach>
        </if>

        <if test="id != null">
            and asset_software.id = #{id}
        </if>

        <if test="name != null">
            and name like CONCAT('%',#{name},'%')
        </if>
        <if test="assetName != null">
            and name =#{name}
        </if>
        <if test=" softwareStatus != null">
            and software_status = #{softwareStatus}
        </if>
        <if test=" manufacturer != null">
            and manufacturer = #{manufacturer}
        </if>
        <if test=" authorization != null">
            and authorization = #{authorization}
        </if>
        <if test=" operationSystem != null">
            and operation_system = #{operationSystem}
        </if>
        <if test=" reportSource != null">
            and report_source = #{assetSource }
        </if>
        <if test="queryTime ==1">
            <if test="  beginTime != null">
                and asset_software.gmt_create &gt;= #{beginTime }
            </if>
            <if test=" endTime != null">
                and asset_software.gmt_create &lt;= #{endTime }
            </if>
        </if>

        <if test="queryTime == 2">
            <if test="  beginTime != null">
                and service_life &gt;= #{beginTime }
            </if>
            <if test=" endTime != null">
                and service_life &lt;= #{endTime }
            </if>
        </if>


    </sql>
    <insert id="insert" parameterType="com.antiy.asset.entity.AssetSoftware" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetSoftware">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        a.id, size, operation_system, a.category_model,
        a.name, upload_software_name, path, version,
        manufacturer, a.description, asset_group,service_life,
        software_label, software_status, authorization,
        report_source, protocol, language, a.release_time,
        publisher, a.gmt_create, a.memo, a.gmt_modified,
        a.create_user,a.modify_user, a.status, a.buy_date,
        b.name as category_model_name,md5_code,serial
        from
        <include refid="Table_Name"></include>
        a
        left join asset_category_model b on a.category_model=b.id
        where a.id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        update
        <include refid="Table_Name"></include>
        set status = 0
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.antiy.asset.entity.AssetSoftware" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.antiy.asset.entity.AssetSoftware">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.asset.vo.query.AssetSoftwareQuery">
        select count(1) count from
        <include refid="Table_Name"></include>
        <if test="(categoryModel != null and categoryModel != '') or (categoryModels != null and categoryModels.length > 0)">
            left join asset_category_model b on asset_software.category_model = b.id
        </if>
        <where>
            <trim prefixOverrides="and|or">
                <choose>
                    <when test="taskBussinessIds!= null and taskBussinessIds.size() > 0 and ids == null and id == null">
                        and (asset_software.status = 1 or asset_software.id in
                        <foreach index="index" item="item" collection="taskBussinessIds" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                        )
                    </when>
                    <otherwise>
                        and asset_software.status = 1
                    </otherwise>
                </choose>

                <if test="(categoryModel != null and categoryModel != '') or (categoryModels != null and categoryModels.length > 0)">
                    and b.status = 1
                </if>
                <include refid="Multiple_Query"></include>
                <if test=" multipleQuery != null">
                    and (
                    asset_software.name LIKE CONCAT('%',#{multipleQuery},'%')
                    or asset_software.serial LIKE CONCAT('%',#{multipleQuery},'%')
                    or asset_software.id LIKE CONCAT('%',#{multipleQuery},'%'))
                </if>
            </trim>
        </where>

    </select>
    <select id="findCountCheck" resultType="int" parameterType="com.antiy.asset.vo.query.AssetSoftwareQuery">
        select count(1) count from
        <include refid="Table_Name"></include>
        <where>
            <if test=" assetName != null">

                asset_software.name =#{assetName}
            </if>

        </where>

    </select>

    <select id="findQuery" resultMap="BaseResultMap"
            parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>


    <select id="findListAssetSoftware" resultMap="BaseResultMap"
            parameterType="com.antiy.asset.vo.query.AssetSoftwareQuery">
        select
        asset_software.id,
        asset_software.name,
        asset_software.authorization,
        asset_software.operation_system,
        asset_software.manufacturer,
        asset_software.version,
        asset_software.software_status,
        asset_software.release_time,
        asset_software.gmt_create,
        asset_software.category_model ,
        asset_software.memo,
        asset_software.language,
        asset_software.path,
        asset_software.serial,
        asset_software.protocol
        <if test="(categoryModel != null and categoryModel != '') or (categoryModels != null and categoryModels.length > 0)">
            ,
            b.name as category_model_name
        </if>
        from
        <include refid="Table_Name"></include>
        <if test="(categoryModel != null and categoryModel != '') or (categoryModels != null and categoryModels.length > 0)">
            left join asset_category_model b on asset_software.category_model = b.id
        </if>

        <where>
            <trim prefixOverrides="and|or">
                <choose>
                    <when test="taskBussinessIds!= null and taskBussinessIds.size() > 0 and ids == null and id == null">
                        and (asset_software.status = 1 or asset_software.id in
                        <foreach index="index" item="item" collection="taskBussinessIds" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                        )
                    </when>
                    <otherwise>
                        and asset_software.status = 1
                    </otherwise>
                </choose>
                <if test="(categoryModel != null and categoryModel != '') or (categoryModels != null and categoryModels.length > 0)">
                    and b.status=1
                </if>
                <include refid="Multiple_Query"></include>
                <if test=" multipleQuery != null">
                    and (
                    asset_software.name LIKE CONCAT('%',#{multipleQuery},'%')
                    or asset_software.serial LIKE CONCAT('%',#{multipleQuery},'%')
                    or asset_software.id LIKE CONCAT('%',#{multipleQuery},'%')
                    )
                </if>
            </trim>
        </where>
        order by
        <if test="ids!= null and ids.size() > 0">
            FIELD(`asset_software.id`,
            <foreach index="index" item="item" collection="ids" separator=",">
                #{item}
            </foreach>
            ) desc,
        </if>
        asset_software.id desc
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="checkRepeatSoftware" resultType="int" parameterType="com.antiy.asset.entity.AssetSoftware">
        select id
        from
        <include refid="Table_Name"/>
        where name = #{name} and version = #{version}
        and status = 1
    </select>

    <select id="findManufacturerName" resultType="string">
        select distinct(t3.manufacturer) from asset t1 inner join asset_software_relation t2 on t1.id=t2.asset_id
        inner join asset_software t3 on t3.id = t2.software_id
        <where>
            and t3.software_status != 5
            and t2.status =1
            and t1.status =1
            and t1.asset_status!=5
            <choose>
                <when test="manufacturerName != null and manufacturerName != ''">
                    and t3.manufacturer like CONCAT('%',#{manufacturerName},'%')
                </when>
                <otherwise>
                    and t3.manufacturer is not null
                </otherwise>
            </choose>

            <if test="areaIds != null and areaIds.size > 0">
                and t1.area_id in
                <foreach item="areaId" collection="areaIds" open="(" separator="," close=")">
                    #{areaId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="countManufacturer" resultMap="ManufacturerResultMap" parameterType="java.util.List">
        select manufacturer, count(manufacturer) num from asset_software where 1=1
        <if test=" softwareStatusList != null and softwareStatusList.size() >0">
            and software_status in
            <foreach collection="softwareStatusList" open="(" close=")" separator="," index="index" item="item">
                #{item}
            </foreach>
        </if>
        and manufacturer is not null and status =1 GROUP BY manufacturer order by num desc
    </select>

    <select id="countStatus" resultMap="StatusResultMap">
        select software_status, count(software_status) num from asset_software  where status =1 GROUP BY software_status
    </select>

    <select id="findCountByCategoryModel" resultType="java.lang.Long"
            parameterType="com.antiy.asset.vo.query.AssetSoftwareQuery">
        select count(1) count
        from asset_software t1 where 1=1
        <if test=" categoryModels != null and categoryModels.length >0 ">
            and category_model in
            <foreach collection="categoryModels" open="(" close=")" separator="," index="index" item="item">
                #{item}
            </foreach>
        </if>
        <if test=" softwareStatusList != null and softwareStatusList.size() >0">
            and software_status in
            <foreach collection="softwareStatusList" open="(" close=")" separator="," index="index" item="item">
                #{item}
            </foreach>
        </if>
        and status=1
    </select>

    <select id="pulldownManufacturer" resultType="java.lang.String">
        select distinct manufacturer from asset_software
        where status = 1
    </select>

    <select id="findCountInstall" resultType="java.lang.Integer"
            parameterType="com.antiy.asset.vo.query.AssetSoftwareQuery">
        select
        count(1) as count
        from
        asset_software a
        left join asset_software_relation b on a.id = b.software_id
        where 1 = 1
        <if test=" multipleQuery != null">
            and a.name LIKE CONCAT('%',#{multipleQuery},'%')
        </if>
        <if test=" categoryModel != null">
            and category_model = #{categoryModel }
        </if>
        <if test=" softwareStatus != null">
            and software_status in
            <foreach collection="softwareStatusList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test=" authorization != null">
            and authorization = #{authorization }
        </if>
        <if test=" reportSource != null">
            and report_source = #{reportSource }
        </if>
        <if test=" beginTime != null">
            and release_time &gt;= #{beginTime }
        </if>
        <if test=" endTime != null">
            and release_time &lt;= #{endTime }
        </if>
        and a.status = 1
        and b.id is not null
    </select>
    <!--软件资产对应的硬件资产数列表-->
    <select id="findInstallList" resultType="com.antiy.asset.entity.AssetSoftware"
            parameterType="com.antiy.asset.vo.query.AssetSoftwareQuery">
        select
        a.id,
        a.name,
        a.version,
        a.manufacturer,
        a.software_status as softwareStatus,
        a.release_time as releaseTime,
        b.software_id,
        count( b.software_id ) as assetCount
        from
        asset_software a
        left join asset_software_relation b on a.id = b.software_id and b.status = 1
        where 1 = 1
        <if test=" multipleQuery != null">
            and a.name LIKE CONCAT('%',#{multipleQuery},'%')
        </if>
        <if test=" categoryModel != null">
            and category_model = #{categoryModel }
        </if>
        <if test=" softwareStatus != null">
            and software_status in
            <foreach collection="softwareStatusList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test=" authorization != null">
            and authorization = #{authorization }
        </if>
        <if test=" reportSource != null">
            and report_source = #{reportSource }
        </if>
        <if test=" beginTime != null">
            and release_time &gt;= #{beginTime }
        </if>
        <if test=" endTime != null">
            and release_time &lt;= #{endTime }
        </if>
        and b.id is not null
        and a.status = 1
        group by
        a.id
    </select>
    <select id="findAssetInstallCount" parameterType="com.antiy.asset.vo.query.AssetSoftwareQuery"
            resultType="java.lang.Integer">
        select
        count(1) as count
        from
        asset_software_relation a
        left join asset_network_card b on a.id = b.asset_id and b.status = 1
        left join asset c on c.id = a.asset_id and c.status = 1
        left join asset_user d on c.responsible_user_id = d.id and d.status = 1
        where 1 = 1
        and a.software_id = #{id}
        <if test=" installStatus != null">
            and a.install_status = #{installStatus}
        </if>
        <if test=" multipleQuery != null">
            and (c.name LIKE CONCAT('%',#{multipleQuery},'%')
            or c.number LIKE CONCAT('%',#{multipleQuery},'%')
            or c.serial LIKE CONCAT('%',#{multipleQuery},'%'))
        </if>
        <if test=" installType != null">
            and a.install_type = #{installType}
        </if>
        <if test=" assetId != null">
            and a.asset_id = #{assetId}
        </if>
        and c.status = 1
    </select>
    <select id="findAssetInstallList" parameterType="com.antiy.asset.vo.query.AssetSoftwareQuery"
            resultType="com.antiy.asset.entity.AssetSoftwareInstall">
        select
        a.id,
        a.asset_id as assetId,
        a.software_id as softwareId,
        c.number,
        c.name,
        d.id as userId,
        d.name as userName,
        case
        when group_concat(b.ip_address) is not null then
        group_concat(b.ip_address)
        when (select concat(inner_ip,outer_ip) from asset_network_equipment where asset_id = a.id and status = 1) is not null then
        (select concat(inner_ip,outer_ip) from asset_network_equipment where asset_id = a.id and status = 1)
        when (select ip from asset_safety_equipment where asset_id = a.id and status = 1) is not null then
        (select ip from asset_safety_equipment where asset_id = a.id and status = 1)
        else '' end as ip,
        case
        when group_concat( b.mac_address ) is not null then
        group_concat( b.mac_address )
        when (select mac_address from asset_network_equipment where asset_id = a.id and status = 1) is not null then
        (select mac_address from asset_network_equipment where asset_id = a.id and status = 1)
        when (select mac from asset_safety_equipment where asset_id = a.id and status = 1) is not null then
        (select mac from asset_safety_equipment where asset_id = a.id and status = 1)
        else '' end as mac,
        c.serial,
        c.category_model as categoryModel,
        (select name from asset_category_model where id = c.category_model) as categoryModelName,
        c.manufacturer,
        a.install_time as installTime,
        a.install_status as installStatus,
        case
        when a.install_type is not null then a.install_type
        else c.install_type
        end as installType
        from
        asset_software_relation a
        left join asset_network_card b on a.id = b.asset_id and b.status = 1
        left join asset c on c.id = a.asset_id and c.status = 1 and c.id is not null
        left join asset_user d on c.responsible_user_id = d.id
        where 1 = 1

        and a.software_id = #{id}
        <if test=" installStatus != null">
            and a.install_status = #{installStatus}
        </if>
        <if test=" multipleQuery != null">
            and (name LIKE CONCAT('%',replace(replace(#{multipleQuery},'%','\%'),'_','\_'),'%')
            or number LIKE CONCAT('%',replace(replace(#{multipleQuery},'%','\%'),'_','\_'),'%')
            or serial LIKE CONCAT('%',replace(replace(#{multipleQuery},'%','\%'),'_','\_'),'%')
            or exists (select 1 from asset_network_card b where asset.id = b.asset_id and ip_address like
            CONCAT('%',replace(replace(#{multipleQuery},'%','\%'),'_','\_'),'%') and b.status = 1)
            or exists (select 1 from asset_network_equipment b where asset.id = b.asset_id and inner_ip like
            CONCAT('%',replace(replace(#{multipleQuery},'%','\%'),'_','\_'),'%') and b.status = 1)
            or exists (select 1 from asset_network_equipment b where asset.id = b.asset_id and outer_ip like
            CONCAT('%',replace(replace(#{multipleQuery},'%','\%'),'_','\_'),'%') and b.status = 1)
            or exists (select 1 from asset_safety_equipment b where asset.id = b.asset_id and ip like
            CONCAT('%',replace(replace(#{multipleQuery},'%','\%'),'_','\_'),'%') and b.status = 1)
            or exists (select 1 from asset_network_card b where asset.id = b.asset_id and mac_address like
            CONCAT('%',replace(replace(#{multipleQuery},'%','\%'),'_','\_'),'%') and b.status = 1)
            or exists (select 1 from asset_network_equipment b where asset.id = b.asset_id and mac_address like
            CONCAT('%',replace(replace(#{multipleQuery},'%','\%'),'_','\_'),'%') and b.status = 1)
            or exists (select 1 from asset_safety_equipment b where asset.id = b.asset_id and mac like
            CONCAT('%',replace(replace(#{multipleQuery},'%','\%'),'_','\_'),'%') and b.status = 1)
            )
        </if>
        <if test=" installType != null">
            and (a.install_type = #{installType} or c.install_type = #{installType})
        </if>
        <if test=" assetId != null">
            and a.asset_id = #{assetId}c
        </if>
        group by
        a.id
    </select>
</mapper>
