<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetNetworkEquipmentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetNetworkEquipment">
        <id column="id" property="id"/>
        <result column="asset_id" property="assetId"/>
        <result column="interface_size" property="interfaceSize"/>
        <result column="port_size" property="portSize"/>
        <result column="is_wireless" property="isWireless"/>
        <result column="cpu_version" property="cpuVersion"/>
        <result column="firmware_version" property="firmwareVersion"/>
        <result column="cpu_size" property="cpuSize"/>
        <result column="ios" property="ios"/>
        <result column="inner_ip" property="innerIp"/>
        <result column="outer_ip" property="outerIp"/>
        <result column="mac_address" property="macAddress"/>
        <result column="subnet_mask" property="subnetMask"/>
        <result column="expect_bandwidth" property="expectBandwidth"/>
        <result column="register" property="register"/>
        <result column="dram_size" property="dramSize"/>
        <result column="flash_size" property="flashSize"/>
        <result column="ncrm_size" property="ncrmSize"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="memo" property="memo"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, asset_id as assetId, interface_size as interfaceSize, is_wireless as isWireless,port_size as portSize,cpu_version as cpuVersion, cpu_size as cpuSize, ios, inner_ip as innerIp, outer_ip as outerIp, mac_address as macAddress, subnet_mask as subnetMask, expect_bandwidth as expectBandwidth, register, dram_size as dramSize, flash_size as flashSize, ncrm_size as ncrmSize, firmware_version as firmwareVersion, create_user AS createUser, modify_user AS modifyUser, status
    </sql>

    <sql id="Table_Name">
        asset_network_equipment
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" assetId != null">
            asset_id,
        </if>
        <if test=" firmwareVersion != null">
            firmware_version,
        </if>
        <if test=" interfaceSize != null">
            interface_size,
        </if>
        <if test=" portSize != null">
            port_size,
        </if>
        <if test=" isWireless != null">
            is_wireless,
        </if>
        <if test=" cpuVersion != null">
            cpu_version,
        </if>
        <if test=" cpuSize != null">
            cpu_size,
        </if>
        <if test=" ios != null">
            ios,
        </if>
        <if test=" innerIp != null">
            inner_ip,
        </if>
        <if test=" outerIp != null">
            outer_ip,
        </if>
        <if test=" macAddress != null">
            mac_address,
        </if>
        <if test=" subnetMask != null">
            subnet_mask,
        </if>
        <if test=" expectBandwidth != null">
            expect_bandwidth,
        </if>
        <if test=" register != null">
            register,
        </if>
        <if test=" dramSize != null">
            dram_size,
        </if>
        <if test=" flashSize != null">
            flash_size,
        </if>
        <if test=" ncrmSize != null">
            ncrm_size,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" memo != null">
            memo,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" assetId != null">
            #{assetId },
        </if>
        <if test=" firmwareVersion != null">
            #{firmwareVersion },
        </if>
        <if test=" interfaceSize != null">
            #{interfaceSize },
        </if>
        <if test=" portSize != null">
            #{portSize },
        </if>
        <if test=" isWireless != null">
            #{isWireless },
        </if>
        <if test=" cpuVersion != null">
            #{cpuVersion },
        </if>
        <if test=" cpuSize != null">
            #{cpuSize },
        </if>
        <if test=" ios != null">
            #{ios },
        </if>
        <if test=" innerIp != null">
            #{innerIp },
        </if>
        <if test=" outerIp != null">
            #{outerIp },
        </if>
        <if test=" macAddress != null">
            #{macAddress },
        </if>
        <if test=" subnetMask != null">
            #{subnetMask },
        </if>
        <if test=" expectBandwidth != null">
            #{expectBandwidth },
        </if>
        <if test=" register != null">
            #{register },
        </if>
        <if test=" dramSize != null">
            #{dramSize },
        </if>
        <if test=" flashSize != null">
            #{flashSize },
        </if>
        <if test=" ncrmSize != null">
            #{ncrmSize },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" memo != null">
            #{memo },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>
    <sql id="IF_Base_Column_List_ForBatch">

            asset_id,

            firmware_version,

            interface_size,

            port_size,

            is_wireless,

            cpu_version,

            cpu_size,

            ios,

            inner_ip,

            outer_ip,

            mac_address,

            subnet_mask,

            expect_bandwidth,

            register,

            dram_size,

            flash_size,

            ncrm_size,

            create_user,

            modify_user,

            gmt_create,

            memo,

            gmt_modified,

            status

    </sql>

    <sql id="IF_Value_Column_List_ForBatch">

            #{entity.assetId},

            #{entity.firmwareVersion },

            #{entity.interfaceSize },

            #{entity.portSize },

            #{entity.isWireless },

            #{entity.cpuVersion },

            #{entity.cpuSize },

            #{entity.ios },

            #{entity.innerIp },

            #{entity.outerIp },

            #{entity.macAddress },

            #{entity.subnetMask },

            #{entity.expectBandwidth },

            #{entity.register },

            #{entity.dramSize },

            #{entity.flashSize },

            #{entity.ncrmSize },

            #{entity.createUser },

            #{entity.modifyUser },

            #{entity.gmtCreate },

            #{entity.memo },

            #{entity.gmtModified },

            #{entity.status }

    </sql>

    <sql id="Set_Column_List">
        <if test=" assetId != null">
            asset_id = #{assetId },
        </if>
        <if test=" firmwareVersion != null">
            firmware_version = #{firmwareVersion },
        </if>
        <if test=" interfaceSize != null">
            interface_size = #{interfaceSize },
        </if>
        <if test=" portSize != null">
            port_size = #{portSize },
        </if>
        <if test=" isWireless != null">
            is_wireless = #{isWireless },
        </if>

        <if test=" cpuVersion != null">
            cpu_version = #{cpuVersion },
        </if>
        <if test=" cpuSize != null">
            cpu_size = #{cpuSize },
        </if>
        <if test=" ios != null">
            ios = #{ios },
        </if>
        <if test=" innerIp != null">
            inner_ip = #{innerIp },
        </if>
        <if test=" outerIp != null">
            outer_ip = #{outerIp },
        </if>
        <if test=" macAddress != null">
            mac_address = #{macAddress },
        </if>
        <if test=" subnetMask != null">
            subnet_mask = #{subnetMask },
        </if>
        <if test=" expectBandwidth != null">
            expect_bandwidth = #{expectBandwidth },
        </if>
        <if test=" register != null">
            register = #{register },
        </if>
        <if test=" dramSize != null">
            dram_size = #{dramSize },
        </if>
        <if test=" flashSize != null">
            flash_size = #{flashSize },
        </if>
        <if test=" ncrmSize != null">
            ncrm_size = #{ncrmSize },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" memo != null">
            memo = #{memo },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" assetId != null">
            and asset_id = #{assetId }
        </if>
        <if test=" interfaceSize != null">
            and interface_size = #{interfaceSize }
        </if>
        <if test=" isWireless != null">
            and is_wireless = #{isWireless }
        </if>
        <if test=" innerIp != null">
            and inner_ip = #{innerIp }
        </if>
        <if test=" outerIp != null">
            and outer_ip = #{outerIp }
        </if>
        <if test=" macAddress != null">
            and mac_address = #{macAddress }
        </if>
        <if test=" subnetMask != null">
            and subnet_mask = #{subnetMask }
        </if>
        and status = 1
    </sql>

    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List_ForBatch"></include>
        </trim>


        values

        <foreach collection="list" item="entity" separator=",">
            (
            <include refid="IF_Value_Column_List_ForBatch"></include>

            )


        </foreach>
    </insert>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetNetworkEquipment" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetNetworkEquipment">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.antiy.asset.entity.AssetNetworkEquipment" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        update
        <include refid="Table_Name"></include>
        set status = 0
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.antiy.asset.entity.AssetNetworkEquipment" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.antiy.asset.entity.AssetNetworkEquipment">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1) count
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.antiy.asset.entity.AssetNetworkEquipment"
            parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>


    <select id="findListAssetNetworkEquipment" resultMap="BaseResultMap"
            parameterType="com.antiy.asset.vo.query.AssetNetworkEquipmentQuery">
        select * from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test=" assetId != null">
                and asset_id = #{assetId }
            </if>
            <if test=" interfaceSize != null">
                and interface_size = #{interfaceSize }
            </if>
            <if test=" isWireless != null">
                and is_wireless = #{isWireless }
            </if>
            <if test=" innerIp != null">
                and inner_ip = #{innerIp }
            </if>
            <if test=" outerIp != null">
                and outer_ip = #{outerIp }
            </if>
            <if test=" macAddress != null">
                and mac_address = #{macAddress }
            </if>
            <if test=" subnetMask != null">
                and subnet_mask = #{subnetMask }
            </if>
            and status = 1
        </trim>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

    <select id="findPortById" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        id,
        asset_soft_id,
        PORT,
        protocol,
        description
        FROM
        asset_port_protocol
        WHERE
        asset_soft_id = #{assetSoftId}
        AND source = #{assetTypeEnum.getCode()}
        AND STATUS = 1
        AND id IN ( ( SELECT id FROM asset_port_protocol WHERE asset_soft_id = #{assetSoftId} AND source = #{assetTypeEnum.getCode()} AND port IS NULL ) )
    </select>

    <select id="findPortAmount" resultType="int">
        SELECT
        port_size
        FROM
        <include refid="Table_Name"></include>
        WHERE
        asset_id = #{assetId}
    </select>
</mapper>
