<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetSoftwareLicenseDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetSoftwareLicense">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="manufacturer" property="manufacturer"/>
        <result column="software_id" property="softwareId"/>
        <result column="buy_date" property="buyDate"/>
        <result column="expiry_date" property="expiryDate"/>
        <result column="license_secret_key" property="licenseSecretKey"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="memo" property="memo"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="status" property="status"/>
        <result property="softwareName" column="software_name"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, manufacturer, software_id AS softwareId, buy_date AS buyDate, expiry_date AS expiryDate, license_secret_key AS licenseSecretKey, gmt_create AS gmtCreate, gmt_modified AS gmtModified, memo, create_user AS createUser, modify_user AS modifyUser, status
    </sql>

    <sql id="Table_Name">
        asset_software_license
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" name != null">
            name,
        </if>
        <if test=" manufacturer != null">
            manufacturer,
        </if>
        <if test=" softwareId != null">
            software_id,
        </if>
        <if test=" buyDate != null">
            buy_date,
        </if>
        <if test=" expiryDate != null">
            expiry_date,
        </if>
        <if test=" licenseSecretKey != null">
            license_secret_key,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" memo != null">
            memo,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" name != null">
            #{name },
        </if>
        <if test=" manufacturer != null">
            #{manufacturer },
        </if>
        <if test=" softwareId != null">
            #{softwareId },
        </if>
        <if test=" buyDate != null">
            #{buyDate },
        </if>
        <if test=" expiryDate != null">
            #{expiryDate },
        </if>
        <if test=" licenseSecretKey != null">
            #{licenseSecretKey},
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" memo != null">
            #{memo },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" name != null">
            name = #{name },
        </if>
        <if test=" manufacturer != null">
            manufacturer = #{manufacturer },
        </if>
        <if test=" softwareId != null">
            software_id = #{softwareId },
        </if>
        <if test=" buyDate != null">
            buy_date = #{buyDate },
        </if>
        <if test=" expiryDate != null">
            expiry_date = #{expiryDate },
        </if>
        <if test=" licenseSecretKey != null">
            license_secret_key = #{licenseSecretKey},
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" memo != null">
            memo = #{memo },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" name != null">
            and name = #{name }
        </if>
        <if test=" manufacturer != null">
            and manufacturer = #{manufacturer }
        </if>
        <if test=" softwareId != null">
            and software_id = #{softwareId }
        </if>
        <if test=" buyDate != null">
            and buy_date = #{buyDate }
        </if>
        <if test=" expiryDate != null">
            and expiry_date = #{expiryDate }
        </if>
        <if test=" licenseSecretKey != null">
            and license_secret_key = #{licenseSecretKey}
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModified != null">
            and gmt_modified = #{gmtModified }
        </if>
        <if test=" memo != null">
            and memo = #{memo }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" modifyUser != null">
            and modify_user = #{modifyUser }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetSoftwareLicense" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetSoftwareLicense">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.antiy.asset.entity.AssetSoftwareLicense" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        update
        <include refid="Table_Name"></include>
        set status = 0
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.antiy.asset.entity.AssetSoftwareLicense" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.antiy.asset.entity.AssetSoftwareLicense">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1)
        FROM
        asset_software_license softlic
        LEFT JOIN asset_software software ON softlic.software_id = software.id
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test=" name != null and name != '' ">
                and softlic.name like #{name}"%"
            </if>
            <if test=" manufacturer != null and manufacturer != '' ">
                and softlic.manufacturer like #{manufacturer}"%"
            </if>
            <if test=" softwareId != null">
                and software_id = #{softwareId}
            </if>
            <if test=" buyDate != null">
                and buy_date = #{buyDate}
            </if>
            <if test=" expiryDate != null">
                and expiry_date = #{expiryDate}
            </if>
            <if test=" licenseSecretKey != null">
                and license_secret_key = #{licenseSecretKey}
            </if>
            and softlic.status = 1
        </trim>
    </select>

    <select id="findQuery" resultMap="BaseResultMap"
            parameterType="com.antiy.common.base.ObjectQuery">
        SELECT
        software.name as software_name, softlic.name, softlic.license_secret_key,softlic.expiry_date
        FROM
        asset_software_license softlic
        LEFT JOIN asset_software software ON softlic.software_id = software.id
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test=" name != null and name != '' ">
                and softlic.name like #{name}"%"
            </if>
            <if test=" manufacturer != null and manufacturer != '' ">
                and softlic.manufacturer like #{manufacturer}"%"
            </if>
            <if test=" softwareId != null">
                and software_id = #{softwareId}
            </if>
            <if test=" buyDate != null">
                and buy_date = #{buyDate}
            </if>
            <if test=" expiryDate != null">
                and expiry_date = #{expiryDate}
            </if>
            <if test=" licenseSecretKey != null">
                and license_secret_key = #{licenseSecretKey}
            </if>
            and softlic.status = 1
        </trim>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <delete id="deleteByAssetId" parameterType="java.lang.Integer">
       delete
        from
            asset_software_license
        where
            software_id in ( select id from asset_software_relation where asset_id = #{assetId} )
    </delete>
</mapper>