<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetOaOrderApproveDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetOaOrderApprove">
        <id column="id" property="id"/>
        <result column="order_number" property="orderNumber"/>
        <result column="approve_user_id" property="approveUserId"/>
        <result column="approve_user_name" property="approveUserName"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_number, approve_user_id, approve_user_name, view, approve_time
    </sql>

    <sql id="Table_Name">
        asset_oa_order_approve
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" orderNumber != null">
            order_number,
        </if>
        <if test=" approveUserId != null">
            approve_user_id,
        </if>
        <if test=" approveUserName != null">
            approve_user_name,
        </if>
        <if test=" view != null">
            view,
        </if>
        <if test=" approveTime != null">
            approve_time,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" orderNumber != null">
            #{orderNumber },
        </if>
        <if test=" approveUserId != null">
            #{approveUserId },
        </if>
        <if test=" approveUserName != null">
            #{approveUserName },
        </if>
        <if test=" view != null">
            #{view },
        </if>
        <if test=" approveTime != null">
            #{approveTime },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" orderNumber != null">
            order_number = #{orderNumber },
        </if>
        <if test=" approveUserId != null">
            approve_user_id = #{approveUserId },
        </if>
        <if test=" approveUserName != null">
            approve_user_name = #{approveUserName },
        </if>
        <if test=" view != null">
            view = #{view },
        </if>
        <if test=" approveTime != null">
            approve_time = #{approveTime },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" orderNumber != null">
            and order_number = #{orderNumber }
        </if>
        <if test=" approveUserId != null">
            and approve_user_id = #{approveUserId }
        </if>
        <if test=" approveUserName != null">
            and approve_user_name = #{approveUserName }
        </if>
        <if test=" view != null">
            and view = #{view }
        </if>
        <if test=" approveTime != null">
            and approve_time = #{approveTime }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetOaOrderApprove" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetOaOrderApprove">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.antiy.asset.entity.AssetOaOrderApprove" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.antiy.asset.entity.AssetOaOrderApprove" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.antiy.asset.entity.AssetOaOrderApprove">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.antiy.asset.entity.AssetOaOrderApprove" parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

    <!--批量添加-->
    <insert id="insertBatch" parameterType="List" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into asset_oa_order_approve
        (order_number, view, approve_user_id, approve_user_name, approve_time)
        VALUES
        <foreach collection="list" item="avr" separator=",">
            (
            #{avr.orderNumber },
            #{avr.view },
            #{avr.approveUserId },
            #{avr.approveUserName },
            #{avr.approveTime }
            )
        </foreach>
    </insert>

    <!-- 根据orderNumber查询 -->
    <select id="getByOrderNumber" resultType="com.antiy.asset.entity.AssetOaOrderApprove" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where order_number = #{orderNumber}
    </select>

</mapper>