<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetMonitorRuleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetMonitorRule">
        <id column="id" property="id"/>
        <result column="unique_id" property="uniqueId"/>
        <result column="name" property="name"/>
        <result column="area_id" property="areaId"/>
        <result column="alarm_level" property="alarmLevel"/>
        <result column="rule_status" property="ruleStatus"/>
        <result column="cpu_threshold" property="cpuThreshold"/>
        <result column="memory_threshold" property="memoryThreshold"/>
        <result column="disk_threshold" property="diskThreshold"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, unique_id, name, area_id, alarm_level, rule_status, cpu_threshold, memory_threshold, disk_threshold, gmt_create, gmt_modified, create_user, modify_user, status
    </sql>

    <sql id="Table_Name">
        asset_monitor_rule
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" uniqueId != null">
            unique_id,
        </if>
        <if test=" name != null">
            name,
        </if>
        <if test=" areaId != null">
            area_id,
        </if>
        <if test=" alarmLevel != null">
            alarm_level,
        </if>
        <if test=" ruleStatus != null">
            rule_status,
        </if>
        <if test=" cpuThreshold != null">
            cpu_threshold,
        </if>
        <if test=" memoryThreshold != null">
            memory_threshold,
        </if>
        <if test=" diskThreshold != null">
            disk_threshold,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" uniqueId != null">
            #{uniqueId },
        </if>
        <if test=" name != null">
            #{name },
        </if>
        <if test=" areaId != null">
            #{areaId },
        </if>
        <if test=" alarmLevel != null">
            #{alarmLevel },
        </if>
        <if test=" ruleStatus != null">
            #{ruleStatus },
        </if>
        <if test=" cpuThreshold != null">
            #{cpuThreshold },
        </if>
        <if test=" memoryThreshold != null">
            #{memoryThreshold },
        </if>
        <if test=" diskThreshold != null">
            #{diskThreshold },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
        name = #{name },
        area_id = #{areaId },
        alarm_level = #{alarmLevel },
        rule_status = #{ruleStatus },
        cpu_threshold = #{cpuThreshold },
        memory_threshold = #{memoryThreshold },
        disk_threshold = #{diskThreshold },
        runtime_exception_threshold = #{runtimeExceptionThreshold },
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        gmt_modified = #{gmtModified },
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        modify_user = #{modifyUser },
        <if test=" status != null">
            status = #{status },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" uniqueId != null">
            and unique_id = #{uniqueId }
        </if>
        <if test=" name != null">
            and name = #{name }
        </if>
        <if test=" areaId != null">
            and area_id = #{areaId }
        </if>
        <if test=" alarmLevel != null">
            and alarm_level = #{alarmLevel }
        </if>
        <if test=" ruleStatus != null">
            and rule_status = #{ruleStatus }
        </if>
        <if test=" cpuThreshold != null">
            and cpu_threshold = #{cpuThreshold }
        </if>
        <if test=" memoryThreshold != null">
            and memory_threshold = #{memoryThreshold }
        </if>
        <if test=" diskThreshold != null">
            and disk_threshold = #{diskThreshold }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModified != null">
            and gmt_modified = #{gmtModified }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" modifyUser != null">
            and modify_user = #{modifyUser }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetMonitorRule" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetMonitorRule">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where unique_id = #{uniqueId } and status = 1
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where unique_id = #{uniqueId } and status = 1
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
    </select>

    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        <choose>
            <when test="relatedAssetSort">
                select count(1)
                from
                asset_monitor_rule amr
                left join asset_monitor_rule_relation amrr on amr.unique_id = amrr.rule_unique_id
                <trim prefix="WHERE" prefixOverrides="AND |OR ">
                    <if test="areaList.size > 0">
                        and amr.area_id in
                        <foreach item="areaId" collection="areaList" open="(" separator="," close=")">
                            #{areaId}
                        </foreach>
                    </if>
                    and amr.status = 1
                </trim>
                group by amr.unique_id
                order by relatedAssetAmount ${sortOrder}
                ) temp left join asset_monitor_rule amr on amr.unique_id = temp.unique_id
            </when>
            <otherwise>
                select count(1)
                from
                <include refid="Table_Name"></include>
                amr
                <trim prefix="WHERE" prefixOverrides="AND |OR ">
                    <if test=" name != null and name !=''">
                        and amr.`name` like
                        concat('%',replace(replace(replace(#{name},'\\','\\\\'),'_','\_'),'%','\%'),'%')
                    </if>
                    <if test=" alarmLevel != null and alarmLevel !=''">
                        and amr.`alarm_level` = #{alarmLevel}
                    </if>
                    <if test="areaList.size > 0">
                        and area_id in
                        <foreach item="areaId" collection="areaList" open="(" separator="," close=")">
                            #{areaId}
                        </foreach>
                    </if>
                </trim>
                order by amr.gmt_create desc
            </otherwise>
        </choose>
    </select>

    <select id="findQuery" resultMap="BaseResultMap" parameterType="com.antiy.common.base.ObjectQuery">
        <choose>
            <when test="relatedAssetSort">
                SELECT
                temp.unique_id,
                temp.relatedAssetAmount,
                temp.NAME,
                temp.area_id,
                temp.alarm_level,
                temp.rule_status from (
                SELECT
                amr.unique_id,
                count( amr.unique_id ) AS relatedAssetAmount,
                amr.NAME,
                amr.area_id,
                amr.alarm_level,
                amr.rule_status
                from
                asset_monitor_rule amr
                left join asset_monitor_rule_relation amrr on amr.unique_id = amrr.rule_unique_id
                <trim prefix="WHERE" prefixOverrides="AND |OR ">
                    <if test="areaList.size > 0">
                        and amr.area_id in
                        <foreach item="areaId" collection="areaList" open="(" separator="," close=")">
                            #{areaId}
                        </foreach>
                    </if>
                    and amr.status = 1
                </trim>
                group by amr.unique_id
                order by relatedAssetAmount ${sortOrder}
                <if test="pageSize !=-1">
                    LIMIT #{pageSize} offset #{pageOffset}
                </if>
                ) temp left join asset_monitor_rule amr on amr.unique_id = temp.unique_id
            </when>
            <otherwise>
                select * from
                <include refid="Table_Name"></include>
                amr
                <trim prefix="WHERE" prefixOverrides="AND |OR ">
                    <if test=" name != null and name !=''">
                        and amr.`name` like
                        concat('%',replace(replace(replace(#{name},'\\','\\\\'),'_','\_'),'%','\%'),'%')
                    </if>
                    <if test=" alarmLevel != null and alarmLevel !=''">
                        and amr.`alarm_level` = #{alarmLevel}
                    </if>
                    <if test="areaList.size > 0">
                        and area_id in
                        <foreach item="areaId" collection="areaList" open="(" separator="," close=")">
                            #{areaId}
                        </foreach>
                    </if>
                    and amr.status = 1
                </trim>
                order by amr.gmt_create desc
                <if test="pageSize !=-1">
                    LIMIT #{pageSize} offset #{pageOffset}
                </if>
            </otherwise>
        </choose>
    </select>

    <select id="nameNoRepeat" resultType="java.lang.Boolean"
            parameterType="com.antiy.common.base.ObjectQuery">
        select IF
        ( count( 1 ) &gt;= 1, TRUE, FALSE ) as result from
        <include refid="Table_Name"/>
        where status = 1 and name = #{name}
    </select>

    <select id="idempotent" resultType="java.lang.Boolean"
            parameterType="com.antiy.common.base.ObjectQuery">
        select IF
        ( count( 1 ) &gt;= 1, TRUE, FALSE ) as result from
        <include refid="Table_Name"/>
        where status = 0 and unique_id = #{uniqueId}
    </select>
    <update id="editRuleStatusByUI" >
        update  asset_monitor_rule
        set rule_status=#{ruleStatus}
        where unique_id=#{uniqueId}
        and status=1
    </update>
    <update id="deleteByUniqueId">
        <foreach collection="list" separator=";" item="item">
            update  asset_monitor_rule
            set status=0
            where unique_id=#{item}
            and status=1
        </foreach>

    </update>
    <select id="queryByUniqueId" resultMap="BaseResultMap">
        select *
        from asset_monitor_rule
        where unique_id=#{uniqueId}
        and status=1
    </select>
    <select id="countAssetByUniqueId" resultType="int">
        SELECT
           count(a.id)
            from asset_monitor_rule as amr
            left join  asset_monitor_rule_relation as amrr
            on amr.unique_id=amrr.unique_id and amrr.status=1
            left join asset as a
            on amrr.asset_id=a.id and a.status=1
            LEFT JOIN asset_ip_relation AS air ON air.asset_id = a.id and air.status=1
            LEFT JOIN asset_mac_relation AS t_mac ON t_mac.asset_id = a.id and t_mac.status=1
            where amr.unique_id=#{uniqueId}
            and amr.status=1
            <if test="areaList !=null and areaList.size()>0">
                and amr.area_id in
                <foreach collection="areaList" separator="," item="e" close=")" open="(" >
                    #{e}
                </foreach>
            </if>
            group by a.id
    </select>
    <select id="queryAssetByUniqueId" resultType="com.antiy.asset.vo.response.AssetResponse">

      SELECT
            a.id as stringId,
            a.`name`,
            a.`number`,
            a.manufacturer,
            a.asset_group as assetGroup,
            a.importance_degree as importanceDegree,
            GROUP_CONCAT(distinct air.ip) AS ips,
            GROUP_CONCAT(distinct t_mac.mac) AS macs
            from asset_monitor_rule as amr
            left join  asset_monitor_rule_relation as amrr
            on amr.unique_id=amrr.unique_id and amrr.status=1
            left join asset as a
            on amrr.asset_id=a.id and a.status=1
            LEFT JOIN asset_ip_relation AS air ON air.asset_id = a.id and air.status=1
            LEFT JOIN asset_mac_relation AS t_mac ON t_mac.asset_id = a.id and t_mac.status=1
            where amr.unique_id=#{uniqueId}
            and amr.status=1
            <if test="areaList !=null and areaList.size()>0">
                and amr.area_id in
                <foreach collection="areaList" separator="," item="e" close=")" open="(" >
                    #{e}
                </foreach>
            </if>
            group by a.id
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
</mapper>