<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetBusinessDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetBusiness">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="importance" property="importance"/>
        <result column="description" property="description"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="status" property="status"/>
        <result column="unique_id" property="uniqueId"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, importance, description, gmt_create, gmt_modified, create_user, modify_user, status,unique_id
    </sql>

    <sql id="Table_Name">
        asset_business
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" name != null">
            name,
        </if>
        <if test=" uniqueId != null">
            unique_id,
        </if>
        <if test=" importance != null">
            importance,
        </if>
        <if test=" description != null">
            description,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" name != null">
            #{name },
        </if>
        <if test=" uniqueId != null">
            #{uniqueId },
        </if>
        <if test=" importance != null">
            #{importance },
        </if>
        <if test=" description != null">
            #{description },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" name != null">
            name = #{name },
        </if>
        <if test=" uniqueId != null">
            unique_id = #{uniqueId},
        </if>
        <if test=" importance != null">
            importance = #{importance },
        </if>
        <if test=" description != null">
            description = #{description },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" name != null">
            and name = #{name }
        </if>
        <if test=" uniqueId != null">
            and unique_id = #{uniqueId }
        </if>
        <if test=" importance != null">
            and importance = #{importance }
        </if>
        <if test=" description != null">
            and description = #{description }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModified != null">
            and gmt_modified = #{gmtModified }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" modifyUser != null">
            and modify_user = #{modifyUser }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetBusiness" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetBusiness" >
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>
    <select id="getAll" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where status = 1
    </select>
    <!-- 根据主键查询 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
    </select>

    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <include refid="base_query"></include>
        </trim>
    </select>

    <select id="findQuery" resultType="com.antiy.asset.vo.response.AssetBusinessResponse" parameterType="com.antiy.common.base.ObjectQuery">
        select
        `name`,
        id,
        importance,
        description,
        gmt_create as gmtCreate,
        gmt_modified as gmtModified,
        (SELECT
        count( * )
        FROM
        asset_business_relation
        WHERE
        asset_business_relation.asset_business_id = asset_business.id
        AND asset_business_relation.STATUS = 1
        ) as assetCount,
        asset_business.unique_id as uniqueId
        from
        <include refid="Table_Name"></include>

        <trim prefix="WHERE" prefixOverrides="AND |OR ">
           <include refid="base_query"></include>
        </trim>

        order by

        <choose>
            <when test="sortOrder != null and sortOrder != '' and sortName != null and sortName != ''">
                ${sortName} ${sortOrder} ,gmt_modified desc
            </when>
            <otherwise>
                gmt_modified desc
            </otherwise>
        </choose>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <sql id="base_query">
        <if test=" name != null">
            `name` like
            CONCAT('%',replace(replace(replace(#{name},'\\','\\\\'),'%','\%'),'_','\_'),'%')
        </if>
        <if test=" gmtModifiedStart != null">
            and gmt_modified >= #{gmtModifiedStart}
        </if>
        <if test="gmtModifiedEnd">
            and  gmt_modified &lt;= #{gmtModifiedEnd}
        </if>
        and status=1
    </sql>
    <select id="getByName" resultMap="BaseResultMap">
        select * from
        <include refid="Table_Name"></include>
        where  `name`=#{name}
        and status=1
    </select>
    <select id="getByUniqueId" resultMap="BaseResultMap">
        select * from
        <include refid="Table_Name"></include>
        where  `unique_id`=#{uniqueId}
        and status=1
    </select>
    <update id="updateStatusByUniqueId">
            update  asset_business
            set status=0
            where unique_id=#{uniqueId}
    </update>
    <update id="updateByUniqueId">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where unique_id = #{uniqueId}
    </update>

</mapper>