<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetReportDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetAreaEntity">
        <id column="areaAssetCount" property="areaAssetCount"/>
        <result column="areaId" property="areaId"/>
        <result column="date" property="date"/>
    </resultMap>
    <!--获取所有的统计数据-->
    <select id="getAllAssetWithArea" resultType="java.util.Map"
            parameterType="com.antiy.asset.vo.request.ReportQueryRequest">
        SELECT
        <trim suffixOverrides=",">
            <foreach collection="assetAreaIds" item="item">
                sum(CASE WHEN area_id IN (#{item.parentAreaId},
                <foreach collection="item.childrenAradIds" separator="," item="area">
                    #{area}
                </foreach>
                )
                THEN 1
                ELSE 0
                END
                ) AS #{item.parentAreaName},
            </foreach>
        </trim>
        FROM
        asset
        WHERE
        gmt_create &lt;= #{endTime}
        AND asset_status != '9'
        AND STATUS = 1
    </select>

    <select id="getNewAssetWithCategoryByDay" parameterType="com.antiy.asset.vo.request.ReportQueryRequest"
            resultType="com.antiy.asset.entity.AssetCategoryEntity">
        SELECT count(1) as categoryCount,category_model as categoryModel,FROM_UNIXTIME(gmt_create/1000,'%w') as
        date FROM asset
        WHERE `status`=1 and asset_status != '9'
        <if test="startTime!=null">
            and gmt_create>=#{startTime}
        </if>
        <if test="endTime!=null">
            and gmt_create &lt;= #{endTime}
        </if>
        <if test="areaIds!=null and areaIds.size()>0">
            and area_id in
            <foreach item="areaId" collection="areaIds" open="(" separator="," close=")">
                #{areaId}
            </foreach>
        </if>
        GROUP BY category_model,FROM_UNIXTIME(gmt_create/1000,'%w') order by date;
    </select>

    <select id="getNewAssetWithCategoryByMonth" parameterType="com.antiy.asset.vo.request.ReportQueryRequest"
            resultType="com.antiy.asset.entity.AssetCategoryEntity">
        SELECT count(1) as categoryCount,category_model as categoryModel,FROM_UNIXTIME(gmt_create/1000,'%Y-%m') as date
        FROM
        asset WHERE `status`=1 and asset_status != '9'
        <if test="startTime!=null">
            and gmt_create>=#{startTime}
        </if>
        <if test="endTime!=null">
            and gmt_create &lt;= #{endTime}
        </if>
        <if test="areaIds!=null and areaIds.size()>0">
            and area_id in
            <foreach item="areaId" collection="areaIds" open="(" separator="," close=")">
                #{areaId}
            </foreach>
        </if>
        GROUP BY category_model,FROM_UNIXTIME(gmt_create/1000,'%Y-%m') order by date;
    </select>
    <select id="getAssetConutWithGroup" parameterType="com.antiy.asset.vo.request.ReportQueryRequest"
            resultType="com.antiy.asset.entity.AssetGroupEntity">
        SELECT
        count(1) AS groupCount,
        ag.id AS groupId,
        FROM_UNIXTIME(
        ag.gmt_create ,
        '%w'
        ) AS date,
        ag.name AS name
        FROM
        asset_group_relation agr
        LEFT JOIN asset_group ag ON agr.asset_group_id = ag.id
        LEFT JOIN asset ON asset.id = agr.asset_id
        WHERE

       ag.gmt_create  &lt; #{endTime}


        AND asset.asset_status != '9'
        AND agr. STATUS = 1
        AND asset. STATUS = 1
        GROUP BY
        groupId,
        FROM_UNIXTIME( ag.gmt_create , '%w'),
        name
        ORDER BY groupCount desc LIMIT 0,5
    </select>




    <select id="findCategoryCountByTime" resultType="com.antiy.asset.entity.AssetCategoryEntity"
            parameterType="com.antiy.common.base.ObjectQuery">
        SELECT
        count( 1 ) AS categoryCount,
        asset.category_model AS categoryModel,
        FROM_UNIXTIME( asset.gmt_create / 1000, #{format} ) AS date,
        acm.parent_id as parentId,
        acm.name as categoryName
        FROM
        asset
        LEFT JOIN asset_category_model acm ON acm.id = asset.category_model
        WHERE
        asset.gmt_create > #{beginTime}
        AND asset.gmt_create &lt; #{endTime}
        AND asset.`status` &lt;&gt; 9
        AND asset.category_model IS NOT NULL
        GROUP BY
        asset.category_model,
        FROM_UNIXTIME( asset.gmt_create / 1000, #{format} );
    </select>

</mapper>
