<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetReportDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetAreaEntity">
        <id column="areaAssetCount" property="areaAssetCount"/>
        <result column="areaId" property="areaId"/>
        <result column="date" property="date"/>
    </resultMap>
    <!--获取所有的统计数据-->
    <select id="getAllAssetWithArea" resultType="java.util.Map"
            parameterType="com.antiy.asset.vo.request.ReportQueryRequest">
        SELECT
        <foreach collection="assetAreaIds" item="item">
            sum(CASE WHEN area_id IN (#{item.parentAreaId},
            <foreach collection="item.childrenAradIds" separator="," item="area">
                #{area}
            </foreach>
            )
            THEN 1
            ELSE 0
            END
            ) AS #{item.parentAreaId}
        </foreach>
        FROM
        asset
        WHERE
        gmt_create &lt;= #{endTime}
        AND asset_status != '9'
        AND STATUS = 1
        ORDER BY
        areaCount DESC
    </select>


</mapper>
