<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetCategoryModelDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetCategoryModel">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="asset_type" property="assetType"/>
        <result column="parent_id" property="parentId"/>
        <result column="description" property="description"/>
        <result column="is_default" property="isDefault"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="memo" property="memo"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="status" property="status"/>
        <result column="count" property="count"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, asset_type AS assetType, parent_id AS parentId,is_default AS isDefault, description, gmt_create AS gmtCreate, gmt_modified AS gmtModified, memo, create_user AS createUser, modify_user AS modifyUser, status
    </sql>

    <sql id="Table_Name">
        asset_category_model
    </sql>
    <sql id="Delete_Status">
        0
    </sql>

    <sql id="IF_Base_Column_List">
        <if test=" name != null">
            name,
        </if>
        <if test=" type != null">
            type,
        </if>
        <if test=" assetType != null">
            asset_type,
        </if>
        <if test=" parentId != null">
            parent_id,
        </if>
        <if test=" description != null">
            description,
        </if>
        <if test=" isDefault != null">
            is_default,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" memo != null">
            memo,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" name != null">
            #{name },
        </if>
        <if test=" type != null">
            #{type },
        </if>
        <if test=" assetType != null">
            #{assetType },
        </if>
        <if test=" parentId != null">
            #{parentId },
        </if>
        <if test=" description != null">
            #{description },
        </if>
        <if test=" isDefault != null">
            #{isDefault},
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" memo != null">
            #{memo },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" name != null">
            name = #{name },
        </if>
        <if test=" type != null">
            type = #{type },
        </if>
        <if test=" assetType != null">
            asset_type = #{assetType },
        </if>
        <if test=" parentId != null">
            parent_id = #{parentId },
        </if>
        <if test=" description != null">
            description = #{description },
        </if>
        <if test=" isDefault != null">
            is_default = #{isDefault},
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" memo != null">
            memo = #{memo },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" name != null">
            and name = #{name }
        </if>
        <if test=" type != null">
            and type = #{type }
        </if>
        <if test=" assetType != null">
            and asset_type = #{assetType }
        </if>
        <if test=" parentId != null">
            and parent_id = #{parentId }
        </if>

        <if test=" isDefault != null">
            and is_default = #{isDefault}
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModified != null">
            and gmt_modified = #{gmtModified }
        </if>
        <if test=" memo != null">
            and memo = #{memo }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" modifyUser != null">
            and modify_user = #{modifyUser }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
    </sql>
    <sql id="Where_Column">
        <if test=" name != null">
            and name = #{name }
        </if>
        <if test=" type != null">
            and type = #{type }
        </if>
        <if test=" assetType != null">
            and asset_type = #{assetType }
        </if>
        <if test=" parentId != null">
            and parent_id = #{parentId }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
        <if test="status == null">
            and status = 1
        </if>

    </sql>
    <insert id="insert" parameterType="com.antiy.asset.entity.AssetCategoryModel" useGeneratedKeys="true"
            keyProperty="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetCategoryModel">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id} and status=1
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.antiy.asset.entity.AssetCategoryModel" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id} and status=1
    </select>

    <update id="deleteById" parameterType="java.lang.Integer">
        update
        <include refid="Table_Name"></include>
        set status = 0
        where id = #{id} and status=1
    </update>

    <update id="delete">
        update
        <include refid="Table_Name"></include>
        set
        status=
        <include refid="Delete_Status"></include>
        where
        id
        in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item.id}
        </foreach>
        and status=1
    </update>

    <select id="getByWhere" resultType="com.antiy.asset.entity.AssetCategoryModel" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.antiy.asset.entity.AssetCategoryModel">
        select
        <include refid="Base_Column_List"></include>
        from
        <include refid="Table_Name"></include>
        where status=1
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.asset.vo.query.AssetCategoryModelQuery">
        select count(1) count
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.antiy.asset.entity.AssetCategoryModel"
            parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>


    <select id="findListAssetCategoryModel" resultMap="BaseResultMap"
            parameterType="com.antiy.asset.vo.query.AssetCategoryModelQuery">
        select
        *
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test=" id != null">
                and id = #{id }
            </if>
            <if test=" name != null">
                and name = #{name }
            </if>
            <if test=" type != null">
                and type = #{type }
            </if>
            <if test=" assetType != null">
                and asset_type = #{assetType }
            </if>
            <if test=" parentId != null">
                and parent_id = #{parentId }
            </if>
            <if test=" status != null">
                and status = #{status }
            </if>
            <if test=" status == null">
                and status = 1
            </if>
        </trim>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="findRepeatName" resultType="int">
        select count(1) count
        from
        <include refid="Table_Name"></include>
        where name=#{name}
        <if test="id!=null">
            and id!=#{id}
        </if>
        and status =1
    </select>
    <select id="getNextLevelCategoryByName" resultType="com.antiy.asset.entity.AssetCategoryModel"
            parameterType="java.lang.String">
       select id, name, type, asset_type AS assetType, parent_id AS parentId,is_default AS isDefault,
       description, gmt_create AS gmtCreate, gmt_modified AS gmtModified, memo, create_user AS createUser,
       modify_user AS modifyUser, status
       from asset_category_model
       WHERE parent_id
       in ( select id  from asset_category_model where name=#{name})
    </select>

    <select id="getNextLevelCategoryByNameArray" resultType="com.antiy.asset.entity.AssetCategoryModel"
            parameterType="java.lang.String">
        select id, name, type, asset_type AS assetType, parent_id AS parentId,is_default AS isDefault,
        description, gmt_create AS gmtCreate, gmt_modified AS gmtModified, memo, create_user AS createUser,
        modify_user AS modifyUser, status
        from asset_category_model
        WHERE parent_id
        in ( select id from asset_category_model where 1=1
        <if test=" names != null and names.length > 0">
            and name in
            <foreach collection="names" open="(" close=")" separator="," index="index" item="item">
                #{item}
            </foreach>
        </if>
        )
    </select>

    <select id="findAllCategory" resultMap="BaseResultMap">
        select
        id, parent_id,name
        from
        <include refid="Table_Name"></include>
        where status=1
    </select>

    <select id="getByName" resultMap="BaseResultMap">
        select * from asset_category_model where name=#{name} and status=1
    </select>

    <resultMap id="CtegoryValiEntityResultMap" type="com.antiy.asset.entity.CategoryValiEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>

    <select id="getNameByAssetId" resultMap="CtegoryValiEntityResultMap">
        SELECT
        acm.id,
	    acm.name,
	    acm.parent_id
        FROM
	    asset_category_model acm
	    LEFT JOIN asset ON asset.category_model = acm.id
        WHERE
	    asset.id = #{id}
    </select>

    <select id="getNameByCtegoryId" resultMap="CtegoryValiEntityResultMap">
        SELECT
        acm.id,
	    acm.name,
	    acm.parent_id
        FROM
	    asset_category_model acm
        WHERE
	    acm.id = #{id}
    </select>



    <select id="findAllCategoryCount" resultMap="BaseResultMap">
SELECT
	id,
	NAME,
	type,
	asset_type,
	parent_id,
	description,
	is_default,
	gmt_create,
	gmt_modified,
	memo,
	create_user,
	modify_user,
	STATUS,
	sum(count) as count
FROM
	(
		SELECT
			category.*, COUNT(category.id) AS count
		FROM
			asset_category_model category
		LEFT JOIN asset ON asset.category_model = category.id
		WHERE
			category. STATUS = 1
		AND asset. STATUS = 1
		AND asset_type = 2
		GROUP BY
			category.id
		UNION
			SELECT
				category.*, 0 AS count
			FROM
				asset_category_model category
			LEFT JOIN asset ON asset.category_model = category.id
			WHERE
				(
					asset.id IS NULL
					OR asset.`status` = 0
				)
			AND asset_type = 2
			AND category. STATUS = 1
			GROUP BY
				category.id
			UNION
				SELECT
					category.*, COUNT(category.id) AS count
				FROM
					asset_category_model category
				LEFT JOIN asset_software ON asset_software.category_model = category.id
				WHERE
					category. STATUS = 1
				AND asset_software. STATUS = 1
				AND asset_type = 1
				GROUP BY
					category.id
				UNION
					SELECT
						category.*, 0 AS count
					FROM
						asset_category_model category
					LEFT JOIN asset_software ON asset_software.category_model = category.id
					WHERE
						(
							asset_software.id IS NULL
							OR asset_software.`status` = 0
						)
					AND asset_type = 1
					AND category. STATUS = 1
					GROUP BY
						category.id
					ORDER BY
						id
	) category
GROUP BY
	id,
	NAME,
	type,
	asset_type,
	parent_id,
	description,
	is_default,
	gmt_create,
	gmt_modified,
	memo,
	create_user,
	modify_user,
	STATUS
	    </select>

    <!--判断是否还有子节点-->
    <select id="hasChild" resultType="java.lang.Integer">
        select count(1) from asset_category_model where parent_id = #{id} and status = 1
    </select>
</mapper>
