<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetOaOrderApplyDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetOaOrderApply">
        <id column="id" property="id"/>
        <result column="order_number" property="orderNumber"/>
        <result column="content" property="content"/>
        <result column="lend_start_time" property="lendStartTime"/>
        <result column="lend_end_time" property="lendEndTime"/>
        <result column="lend_purpose" property="lendPurpose"/>
        <result column="asset_number" property="assetNumber"/>
        <result column="apply_user_id" property="applyUserId"/>
        <result column="apply_user_name" property="applyUserName"/>
        <result column="apply_time" property="applyTime"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_number, content, lend_start_time, lend_end_time, lend_purpose,  asset_number, apply_user_id, apply_user_name, apply_time
    </sql>

    <sql id="Table_Name">
        asset_oa_order_apply
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" orderNumber != null">
            order_number,
        </if>
        <if test=" content != null">
            content,
        </if>
        <if test=" lendStartTime != null">
            lend_start_time,
        </if>
        <if test=" lendEndTime != null">
            lend_end_time,
        </if>
        <if test=" lendPurpose != null">
            lend_purpose,
        </if>
        <if test="  assetNumber != null">
            asset_number,
        </if>
        <if test=" applyUserId != null">
            apply_user_id,
        </if>
        <if test=" applyUserName != null">
            apply_user_name,
        </if>
        <if test=" applyTime != null">
            apply_time,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" orderNumber != null">
            #{orderNumber },
        </if>
        <if test=" content != null">
            #{content },
        </if>
        <if test=" lendStartTime != null">
            #{lendStartTime },
        </if>
        <if test=" lendEndTime != null">
            #{lendEndTime },
        </if>
        <if test=" lendPurpose != null">
            #{lendPurpose },
        </if>
        <if test="  assetNumber != null">
            #{ assetNumber },
        </if>
        <if test=" applyUserId != null">
            #{applyUserId },
        </if>
        <if test=" applyUserName != null">
            #{applyUserName },
        </if>
        <if test=" applyTime != null">
            #{applyTime },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" orderNumber != null">
            order_number = #{orderNumber },
        </if>
        <if test=" content != null">
            content = #{content },
        </if>
        <if test=" lendStartTime != null">
            lend_start_time = #{lendStartTime },
        </if>
        <if test=" lendEndTime != null">
            lend_end_time = #{lendEndTime },
        </if>
        <if test=" lendPurpose != null">
            lend_purpose = #{lendPurpose },
        </if>
        <if test="  assetNumber != null">
            asset_number = #{ assetNumber },
        </if>
        <if test=" applyUserId != null">
            apply_user_id = #{applyUserId },
        </if>
        <if test=" applyUserName != null">
            apply_user_name = #{applyUserName },
        </if>
        <if test=" applyTime != null">
            apply_time = #{applyTime },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" orderNumber != null">
            and order_number = #{orderNumber }
        </if>
        <if test=" content != null">
            and content = #{content }
        </if>
        <if test=" lendStartTime != null">
            and lend_start_time = #{lendStartTime }
        </if>
        <if test=" lendEndTime != null">
            and lend_end_time = #{lendEndTime }
        </if>
        <if test=" lendPurpose != null">
            and lend_purpose = #{lendPurpose }
        </if>
        <if test="  assetNumber != null">
            and  asset_number = #{ assetNumber }
        </if>
        <if test=" applyUserId != null">
            and apply_user_id = #{applyUserId }
        </if>
        <if test=" applyUserName != null">
            and apply_user_name = #{applyUserName }
        </if>
        <if test=" applyTime != null">
            and apply_time = #{applyTime }
        </if>
    </sql>


    <insert id="insert" parameterType="com.antiy.asset.entity.AssetOaOrderApply" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetOaOrderApply">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultMap="BaseResultMap">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultMap="BaseResultMap" parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

    <!-- 根据orderNumber查询 -->
    <select id="getByOrderNumber" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where order_number = #{orderNumber}
    </select>

    <!-- 根据资产编号查找ip和mac -->
    <select id="getIpAndMacByAssetNumber" resultType="hashmap" parameterType="java.lang.String">
        select
        ip,
        mac,
        asset.id as assetId,
        asset.asset_status as assetStatus,
		(case asset.is_innet when 1 then '已入网' when 2 then '未入网' else '' end) as isInnet
        from asset asset
        inner join asset_ip_relation aip on asset.id=aip.asset_id
        inner join asset_mac_relation mip on asset.id=mip.asset_id
        where aip.status = 1 and mip.status = 1 and asset.number = #{assetNumber} limit 1
    </select>

</mapper>