<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetOperationRecordDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetOperationRecord">
        <id column="id" property="id"/>
        <result column="target_object_id" property="targetObjectId"/>
        <result column="target_type" property="targetType"/>
        <result column="target_status" property="targetStatus"/>
        <result column="content" property="content"/>
        <result column="create_user" property="createUser"/>
        <result column="gmt_create" property="gmtCreate"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, target_object_id AS targetObjectId, target_type AS targetType, content, create_user AS createUser, gmt_create AS gmtCreate, target_status AS targetStatus
    </sql>

    <sql id="Table_Name">
        asset_operation_record
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" targetObjectId != null">
            target_object_id,
        </if>
        <if test=" targetType != null">
            target_type,
        </if>
        <if test=" targetStatus != null">
            target_status,
        </if>
        <if test=" content != null">
            content,
        </if>
        <if test=" operateUserId != null">
            operate_user_id,
        </if>
        <if test=" operateUserName != null">
            operate_user_name,
        </if>
        <if test=" schemaId != null">
            schema_id,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" targetObjectId != null">
            #{targetObjectId },
        </if>
        <if test=" targetType != null">
            #{targetType },
        </if>
        <if test=" targetStatus != null">
            #{targetStatus },
        </if>
        <if test=" content != null">
            #{content },
        </if>
        <if test=" operateUserId != null">
            #{operateUserId },
        </if>
        <if test=" operateUserName != null">
            #{operateUserName },
        </if>
        <if test=" schemaId != null">
            #{schemaId },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" targetObjectId != null">
            target_object_id = #{targetObjectId },
        </if>
        <if test=" targetType != null">
            target_type = #{targetType },
        </if>
        <if test=" targetStatus != null">
            target_status = #{targetStatus },
        </if>
        <if test=" content != null">
            content = #{content },
        </if>
        <if test=" operateUserId != null">
            operate_user_id = #{operateUserId },
        </if>
        <if test=" operateUserName != null">
            operate_user_name = #{operateUserName },
        </if>
        <if test=" schemaId != null">
            schema_id = #{schemaId },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" targetObjectId != null">
            and target_object_id = #{targetObjectId }
        </if>
        <if test=" targetType != null">
            and target_type = #{targetType }
        </if>
        <if test=" targetStatus != null">
            and target_status = #{targetStatus }
        </if>
        <if test=" content != null">
            and content = #{content }
        </if>
        <if test=" operateUserId != null">
            and operate_user_id = #{operateUserId }
        </if>
        <if test=" operateUserName != null">
            and operate_user_name = #{operateUserName }
        </if>
        <if test=" schemaId != null">
            and schema_id = #{schemaId }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetOperationRecord">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetOperationRecord">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.antiy.asset.entity.AssetOperationRecord" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.antiy.asset.entity.AssetOperationRecord" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.antiy.asset.entity.AssetOperationRecord">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.antiy.asset.entity.AssetOperationRecord"
            parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

    <select id="findAssetOperationRecordByAssetId" parameterType="com.antiy.asset.vo.query.AssetOperationRecordQuery"
            resultType="com.antiy.asset.entity.AssetOperationRecordMapper">
        SELECT
            a.id,
            a.target_object_id as targetObjectId,
            a.target_status as targetStatus,
            a.content,
            a.operate_user_name as operateUserName,
            a.gmt_create as gmtCreate,
            c.putinto_user as putintoUser,
            c.putinto_time as putintoTime,
            c.file_info as fileInfo,
            c.type,
            c.result
        FROM
            asset_operation_record a
          LEFT JOIN scheme c ON a.schema_id = c.id
          AND c.status = 1
          AND a.target_object_id = #{targetObjectId}
          AND a.target_type = #{targetType}
          order by a.id
    </select>
</mapper>