<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetMonitorRuleRelationDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetMonitorRuleRelation">
        <id column="id" property="id"/>
        <result column="asset_id" property="assetId"/>
        <result column="rule_unique_id" property="ruleUniqueId"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="gmt_create" property="gmtCreate"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, unique_id, asset_id, rule_unique_id, gmt_modified, gmt_create
    </sql>

    <sql id="Table_Name">
        asset_monitor_rule_relation
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" assetId != null">
            asset_id,
        </if>
        <if test=" uniqueId != null">
            unique_id,
        </if>
        <if test=" ruleUniqueId != null">
            rule_unique_id,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" assetId != null">
            #{assetId },
        </if>
        <if test=" uniqueId != null">
            #{uniqueId },
        </if>
        <if test=" ruleUniqueId != null">
            #{ruleUniqueId },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" assetId != null">
            asset_id = #{assetId },
        </if>
        <if test=" uniqueId != null">
            unique_id = #{unique_Id },
        </if>
        <if test=" ruleUniqueId != null">
            rule_unique_id = #{ruleUniqueId },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" assetId != null">
            and asset_id = #{assetId }
        </if>
        <if test=" ruleUniqueId != null">
            and rule_unique_id = #{ruleUniqueId }
        </if>
        <if test=" gmtModified != null">
            and gmt_modified = #{gmtModified }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetMonitorRuleRelation" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <insert id="insertBatch">
        insert into<include refid="Table_Name"/>(unique_id,asset_id,rule_unique_id,gmt_create)
        values
        <foreach collection="list" item="monitorRuleRelation" separator=",">
            (
            #{monitorRuleRelation.uniqueId},
            #{monitorRuleRelation.assetId},
            #{monitorRuleRelation.ruleUniqueId},
            #{monitorRuleRelation.gmtCreate}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetMonitorRuleRelation">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <delete id="deleteAllById" parameterType="java.lang.String">
        delete from
        <include refid="Table_Name"></include>
        where rule_unique_id = #{ruleUniqueId}
    </delete>

    <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
    </select>

    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count( distinct asset.id)
        from
        <include refid="Table_Name"/>
        amrr
        right join asset on asset.id=amrr.asset_id and asset.status=1
        left join asset_ip_relation air on asset.id=air.asset_id and air.status=1
        left join asset_mac_relation amr on asset.id=amr.asset_id and amr.status=1
        left join asset_group_relation agr on asset.id=agr.asset_id and agr.status=1
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <include refid="queryAssetRealtion"/>
        </trim>
    </select>

    <select id="findQuery" resultMap="BaseResultMap" parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

    <select id="assetAmountRelatedRule" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(amrr.rule_unique_id)
        from
        <include refid="Table_Name"></include>
        amrr left join asset_monitor_rule amr on amr.unique_id = amrr.rule_unique_id
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test=" ruleUniqueId != null and ruleUniqueId != ''">
                and amrr.rule_unique_id = #{ruleUniqueId}
            </if>
            <if test="areaList.size > 0">
                and amr.area_id in
                <foreach item="areaId" collection="areaList" open="(" separator="," close=")">
                    #{areaId}
                </foreach>
            </if>
            and amr.status = 1
        </trim>
    </select>
    <select id="queryAsset" resultType="com.antiy.asset.vo.response.AssetMonitorRuleRelationResponse">
        select asset.id assetId,asset.name,asset.number,asset.manufacturer supplier,
        group_concat(air.ip) ip,group_concat(amr.mac) mac,asset.asset_group assetGroup,asset.importance_degree
        importance
        from
        <include refid="Table_Name"/>
        amrr
        right join asset on asset.id=amrr.asset_id and asset.status=1
        left join asset_ip_relation air on asset.id=air.asset_id and air.status=1
        left join asset_mac_relation amr on asset.id=amr.asset_id and amr.status=1
        left join asset_group_relation agr on asset.id=agr.asset_id and agr.status=1
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <include refid="queryAssetRealtion"/>
        </trim>
        <choose>
            <when test="ruleUniqueId !=null and ruleUniqueId.trim !=''">
                group by asset.id,amrr.gmt_create
                order by amrr.gmt_create desc,amrr.asset_id desc
            </when>
            <otherwise>
                group by asset.id
                order by asset.id desc
            </otherwise>
        </choose>

        <if test="pageSize != -1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <sql id="queryAssetRealtion">
        <if test="multipleQuery != null and multipleQuery.trim != ''">
            and (asset.name LIKE
            CONCAT('%',replace(replace(replace(#{multipleQuery},'\\','\\\\'),'%','\%'),'_','\_'),'%')
            or asset.number LIKE
            CONCAT('%',replace(replace(replace(#{multipleQuery},'\\','\\\\'),'%','\%'),'_','\_'),'%')
            or air.ip like
            CONCAT('%',replace(replace(replace(#{multipleQuery},'\\','\\\\'),'%','\%'),'_','\_'),'%')
            or replace(amr.mac,':','-') like
            CONCAT('%',replace(replace(replace(#{multipleQuery},'\\','\\\\'),'%','\%'),'_','\_'),'%')
            )
        </if>
        <choose>
            <when test="ruleUniqueId !=null and ruleUniqueId.trim !=''">
                and amrr.rule_unique_id=#{ruleUniqueId}
                and amrr.status=1
                and amrr.id is not null
            </when>
            <when test="assetIds !=null and !assetIds.isEmpty">
                and asset.id in
                <foreach collection="assetIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                <if test="statusList !=null and !statusList.isEmpty">
                    and asset.asset_status in
                    <foreach collection="statusList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="areaList !=null and !areaList.isEmpty">
                    and asset.area_id in
                    <foreach collection="areaList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="removedAssetIds !=null and !removedAssetIds.isEmpty">
                    and asset.id not in
                    <foreach collection="removedAssetIds" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="supplier !=null and !supplier.isEmpty">
                    and asset.manufacturer in
                    <foreach collection="supplier" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="importance !=null and !importance.isEmpty">
                    and asset.importance_degree in
                    <foreach collection="importance" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="assetGroup !=null and !assetGroup.isEmpty">
                    and agr.asset_group_id in
                    <foreach collection="assetGroup" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="categoryIds !=null and !categoryIds.isEmpty">
                    and asset.category_model in
                    <foreach collection="categoryIds" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                and  asset.id not in(select amrr.asset_id from asset_monitor_rule_relation amrr  INNER JOIN asset_monitor_rule  amr
                on amrr.rule_unique_id=amr.unique_id and amr.status=1 where amrr.status=1)
            </otherwise>
        </choose>


    </sql>
</mapper>