<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetEntryDao">

    <sql id="assetEntryQuery">
        <if test="multipleQuery != null and multipleQuery.trim != ''">
            and (asset.name LIKE
            CONCAT('%',replace(replace(replace(#{multipleQuery},'\\','\\\\'),'%','\%'),'_','\_'),'%')
            or asset.number LIKE
            CONCAT('%',replace(replace(replace(#{multipleQuery},'\\','\\\\'),'%','\%'),'_','\_'),'%')
            or air.ip like
            CONCAT('%',replace(replace(replace(#{multipleQuery},'\\','\\\\'),'%','\%'),'_','\_'),'%')
            or replace(amr.mac,':','-') like
            CONCAT('%',replace(replace(replace(replace(#{multipleQuery},'\\','\\\\'),'%','\%'),'_','\_'),':','-'),'%')
            )
        </if>
        <if test="assetGroups !=null and assetGroups.size >0">
            and agr.asset_group_id in
            <foreach collection="assetGroups" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <choose>
            <when test="entryStatus != null and entryStatus.trim !=''">
                and asset.admittance_status =#{entryStatus}
            </when>
            <otherwise>
                and asset.admittance_status between 1 and 2
            </otherwise>
        </choose>
        <if test="assetStatus !=null and assetStatus.length >0">
            and asset.asset_status in
            <foreach collection="assetStatus" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="assetId !=null and assetId.trim !=''">
            and asset.id=#{assetId}
        </if>
        <if test="areaIds !=null and areaIds.size >0">
            and asset.area_id in
            <foreach collection="areaIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="assetCategorys !=null and assetCategorys.size >0">
            and asset.category_model in
            <foreach collection="assetCategorys" separator="," item="item" open="(" close=")">
                #{item}
            </foreach>
        </if>
        and asset.status=1
        and asset.is_borrow=2
        and asset.is_orphan=2
    </sql>
    <insert id="insert"/>
    <insert id="insertRecord" parameterType="com.antiy.asset.vo.request.AssetEntryRecordRequest">

    </insert>
    <insert id="insertRecordBatch" parameterType="java.util.List">
        insert into asset_entry_record(asset_id,source,result,change_status,gmt_create,create_user)
        values
        <foreach collection="recordList" separator="," item="item">
            (#{item.assetId},#{item.entrySource},#{item.entryResult},#{item.changeStatus},#{item.gmtCreate},#{item.createUser})
        </foreach>
    </insert>
    <update id="update"/>
    <update id="updateEntryStatus" parameterType="com.antiy.asset.vo.request.AssetEntryRequest">
        update asset
        set admittance_status=#{updateStatus}
        where id in
        <foreach collection="assetActivityRequests" item="item" open="(" separator="," close=")">
            #{item.stringId}
        </foreach>
        and status=1
    </update>
    <delete id="deleteById"/>
    <select id="getById"/>
    <select id="getByWhere"/>
    <select id="getAll"/>
    <select id="findCount" parameterType="com.antiy.common.base.ObjectQuery" resultType="java.lang.Integer">
        select count(distinct asset.id) from asset
        <choose>

            <when test="assetId !=null and assetId.trim !=''">
                where asset.id=#{assetId}
            </when>
            <otherwise>
                left join asset_group_relation agr on asset.id=agr.asset_id and agr.status=1
                left join asset_ip_relation air on asset.id=air.asset_id and air.status=1
                left join asset_mac_relation amr on asset.id=amr.asset_id and amr.status=1
                <trim prefix="where 1=1">
                    <include refid="assetEntryQuery"/>
                </trim>
            </otherwise>
        </choose>

    </select>
    <select id="findQuery" parameterType="com.antiy.common.base.ObjectQuery"
            resultType="com.antiy.asset.vo.response.AssetEntryResponse">
        select asset.id stringId,asset.name,asset.number,group_concat(distinct air.ip) ip,
        group_concat(distinct amr.mac) mac,asset.admittance_status entryStatus,
        if(asset.asset_status in (6,7,9,10) and asset.admittance_status = 2,false,true) isEntryOperation,
        asset_group as assetGroupName, asset_status assetStatus
        from asset
        left join asset_group_relation agr on asset.id=agr.asset_id and agr.status=1
        left join asset_ip_relation air on asset.id=air.asset_id and air.status=1
        left join asset_mac_relation amr on asset.id=amr.asset_id and amr.status=1
        left join asset_entry_record aer on asset.id=aer.asset_id and aer.status=1
        <trim prefix="where 1=1">
            <include refid="assetEntryQuery"/>
        </trim>
        group by asset.id
        order by any_value(aer.gmt_create) desc,any_value(aer.id) desc
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
        <if test=" pageSize =-1 and start !=null and end !=null">
            limit #{start},#{end}
        </if>
    </select>
    <select id="queryEntryRecord" resultType="com.antiy.asset.vo.response.AssetEntryRecordResponse">
        select source entrySource,result entryResult,change_status changeStatus,gmt_create gmtCreate,create_user createUser
        from asset_entry_record
        where
        asset_id=#{primaryKey}
        and status=1
        order by gmt_create desc,id desc

    </select>
    <select id="queryEntryStatus" resultType="com.antiy.asset.vo.response.AssetEntryStatusResponse">
        select id assetId, admittance_status entryStatus
        from asset
        <trim prefix="where 1=1">
            <if test="assetIds !=null and !assetIds.isEmpty">
                and id in
                <foreach collection="assetIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </trim>
    </select>

</mapper>