<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetLinkRelationDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetLinkRelation">
        <id column="id" property="id"/>
        <result column="asset_id" property="assetId"/>
        <result column="asset_ip" property="assetIp"/>
        <result column="asset_port" property="assetPort"/>
        <result column="parent_asset_id" property="parentAssetId"/>
        <result column="parent_asset_ip" property="parentAssetIp"/>
        <result column="parent_asset_port" property="parentAssetPort"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="memo" property="memo"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, asset_id, asset_ip, asset_port, parent_asset_id, parent_asset_ip, parent_asset_port, gmt_create, gmt_modified, memo, create_user, modify_user, status
    </sql>

    <sql id="Table_Name">
        asset_link_relation
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" assetId != null">
            asset_id,
        </if>
        <if test=" assetIp != null">
            asset_ip,
        </if>
        <if test=" assetPort != null">
            asset_port,
        </if>
        <if test=" parentAssetId != null">
            parent_asset_id,
        </if>
        <if test=" parentAssetIp != null">
            parent_asset_ip,
        </if>
        <if test=" parentAssetPort != null">
            parent_asset_port,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" memo != null">
            memo,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" assetId != null">
            #{assetId },
        </if>
        <if test=" assetIp != null">
            #{assetIp },
        </if>
        <if test=" assetPort != null">
            #{assetPort },
        </if>
        <if test=" parentAssetId != null">
            #{parentAssetId },
        </if>
        <if test=" parentAssetIp != null">
            #{parentAssetIp },
        </if>
        <if test=" parentAssetPort != null">
            #{parentAssetPort },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" memo != null">
            #{memo },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" assetId != null">
            asset_id = #{assetId },
        </if>
        <if test=" assetIp != null">
            asset_ip = #{assetIp },
        </if>
        <if test=" assetPort != null">
            asset_port = #{assetPort },
        </if>
        <if test=" parentAssetId != null">
            parent_asset_id = #{parentAssetId },
        </if>
        <if test=" parentAssetIp != null">
            parent_asset_ip = #{parentAssetIp },
        </if>
        <if test=" parentAssetPort != null">
            parent_asset_port = #{parentAssetPort },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" memo != null">
            memo = #{memo },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" assetId != null">
            and asset_id = #{assetId }
        </if>
        <if test=" assetIp != null">
            and asset_ip = #{assetIp }
        </if>
        <if test=" assetPort != null">
            and asset_port = #{assetPort }
        </if>
        <if test=" parentAssetId != null">
            and parent_asset_id = #{parentAssetId }
        </if>
        <if test=" parentAssetIp != null">
            and parent_asset_ip = #{parentAssetIp }
        </if>
        <if test=" parentAssetPort != null">
            and parent_asset_port = #{parentAssetPort }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModified != null">
            and gmt_modified = #{gmtModified }
        </if>
        <if test=" memo != null">
            and memo = #{memo }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" modifyUser != null">
            and modify_user = #{modifyUser }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetLinkRelation" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetLinkRelation">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        update
        <include refid="Table_Name"></include>
        set status='0'
        where id = #{id}
    </delete>

    <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
    </select>

    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
    </select>

    <select id="findQuery" resultMap="BaseResultMap" parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

    <select id="queryIpAddressByAssetId" resultType="java.lang.String">
        <choose>
            <when test="enable">
                select ip_address from asset_network_card t1 WHERE not exists
                (select 1 from asset_link_relation t2 where (t2.asset_id=#{assetId} and t1.ip_address= t2.asset_ip)
                or(t2.parent_asset_id=#{assetId} and t1.ip_address= t2.parent_asset_ip) and status='1'
                <if test="assetPort!=null and assetPort!=''">
                    and asset_port=#{assetPort}
                </if>
                ) and
                asset_id=#{assetId} and
                status='1'
                union all select outer_ip as ip_address from asset_network_equipment t1 WHERE not exists
                (select 1 from asset_link_relation t2 where (t2.asset_id=#{assetId} and t1.inner_ip= t2.asset_ip)
                or(t2.parent_asset_id=#{assetId} and t1.inner_ip= t2.parent_asset_ip) and status='1'

                <if test="assetPort!=null and assetPort!=''">
                    and parent_asset_port=#{assetPort}
                </if>

                )
                and
                asset_id=#{assetId}
                and
                status='1'
            </when>
            <otherwise>
                select ip_address from asset_network_card WHERE asset_id=#{assetId} and status='1' union all
                select outer_ip as ip_address from asset_network_equipment WHERE asset_id=#{assetId} and status='1'
            </otherwise>
        </choose>
    </select>

    <update id="deleteRelationByAssetId">
        update asset_link_relation set status='0'
        <where>
            <if test="assetIds!= null and assetIds.size() > 0">
                asset_id in
                <foreach item="assetId" collection="assetIds" open="(" separator="," close=")">
                    #{assetId}
                </foreach>
                or parent_asset_id
                <foreach item="assetId" collection="assetIds" open="(" separator="," close=")">
                    #{assetId}
                </foreach>
            </if>
        </where>
    </update>
</mapper>