<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetHardSoftLibDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetHardSoftLib">
        <id column="id" property="id"/>
        <result column="business_id" property="businessId"/>
        <result column="number" property="number"/>
        <result column="type" property="type"/>
        <result column="supplier" property="supplier"/>
        <result column="product_name" property="productName"/>
        <result column="version" property="version"/>
        <result column="upgrade_msg" property="upgradeMsg"/>
        <result column="sys_version" property="sysVersion"/>
        <result column="language" property="language"/>
        <result column="soft_version" property="softVersion"/>
        <result column="soft_platform" property="softPlatform"/>
        <result column="hard_platform" property="hardPlatform"/>
        <result column="other" property="other"/>
        <result column="data_source" property="dataSource"/>
        <result column="is_storage" property="isStorage"/>
        <result column="cpe_uri" property="cpeUri"/>
        <result column="memo" property="memo"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="create_user" property="createUser"/>
        <result column="modified_user" property="modifiedUser"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, business_id, number, type, supplier, product_name, version, upgrade_msg, sys_version, language, soft_version, soft_platform, hard_platform, other, data_source, is_storage, cpe_uri, memo, gmt_modified, gmt_create, create_user, modified_user, status
    </sql>

    <sql id="Table_Name">
        asset_hard_soft_lib
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" businessId != null">
            business_id,
        </if>
        <if test=" number != null">
            number,
        </if>
        <if test=" type != null">
            type,
        </if>
        <if test=" supplier != null">
            supplier,
        </if>
        <if test=" productName != null">
            product_name,
        </if>
        <if test=" version != null">
            version,
        </if>
        <if test=" upgradeMsg != null">
            upgrade_msg,
        </if>
        <if test=" sysVersion != null">
            sys_version,
        </if>
        <if test=" language != null">
            language,
        </if>
        <if test=" softVersion != null">
            soft_version,
        </if>
        <if test=" softPlatform != null">
            soft_platform,
        </if>
        <if test=" hardPlatform != null">
            hard_platform,
        </if>
        <if test=" other != null">
            other,
        </if>
        <if test=" dataSource != null">
            data_source,
        </if>
        <if test=" isStorage != null">
            is_storage,
        </if>
        <if test=" cpeUri != null">
            cpe_uri,
        </if>
        <if test=" memo != null">
            memo,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifiedUser != null">
            modified_user,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" businessId != null">
            #{businessId },
        </if>
        <if test=" number != null">
            #{number },
        </if>
        <if test=" type != null">
            #{type },
        </if>
        <if test=" supplier != null">
            #{supplier },
        </if>
        <if test=" productName != null">
            #{productName },
        </if>
        <if test=" version != null">
            #{version },
        </if>
        <if test=" upgradeMsg != null">
            #{upgradeMsg },
        </if>
        <if test=" sysVersion != null">
            #{sysVersion },
        </if>
        <if test=" language != null">
            #{language },
        </if>
        <if test=" softVersion != null">
            #{softVersion },
        </if>
        <if test=" softPlatform != null">
            #{softPlatform },
        </if>
        <if test=" hardPlatform != null">
            #{hardPlatform },
        </if>
        <if test=" other != null">
            #{other },
        </if>
        <if test=" dataSource != null">
            #{dataSource },
        </if>
        <if test=" isStorage != null">
            #{isStorage },
        </if>
        <if test=" cpeUri != null">
            #{cpeUri },
        </if>
        <if test=" memo != null">
            #{memo },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifiedUser != null">
            #{modifiedUser },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" businessId != null">
            business_id = #{businessId },
        </if>
        <if test=" number != null">
            number = #{number },
        </if>
        <if test=" type != null">
            type = #{type },
        </if>
        <if test=" supplier != null">
            supplier = #{supplier },
        </if>
        <if test=" productName != null">
            product_name = #{productName },
        </if>
        <if test=" version != null">
            version = #{version },
        </if>
        <if test=" upgradeMsg != null">
            upgrade_msg = #{upgradeMsg },
        </if>
        <if test=" sysVersion != null">
            sys_version = #{sysVersion },
        </if>
        <if test=" language != null">
            language = #{language },
        </if>
        <if test=" softVersion != null">
            soft_version = #{softVersion },
        </if>
        <if test=" softPlatform != null">
            soft_platform = #{softPlatform },
        </if>
        <if test=" hardPlatform != null">
            hard_platform = #{hardPlatform },
        </if>
        <if test=" other != null">
            other = #{other },
        </if>
        <if test=" dataSource != null">
            data_source = #{dataSource },
        </if>
        <if test=" isStorage != null">
            is_storage = #{isStorage },
        </if>
        <if test=" cpeUri != null">
            cpe_uri = #{cpeUri },
        </if>
        <if test=" memo != null">
            memo = #{memo },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifiedUser != null">
            modified_user = #{modifiedUser },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" businessId != null">
            and business_id = #{businessId }
        </if>
        <if test=" number != null">
            and number = #{number }
        </if>
        <if test=" type != null">
            and type = #{type }
        </if>
        <if test=" supplier != null">
            and supplier = #{supplier }
        </if>
        <if test=" productName != null">
            and product_name = #{productName }
        </if>
        <if test=" version != null">
            and version = #{version }
        </if>
        <if test=" upgradeMsg != null">
            and upgrade_msg = #{upgradeMsg }
        </if>
        <if test=" sysVersion != null">
            and sys_version = #{sysVersion }
        </if>
        <if test=" language != null">
            and language = #{language }
        </if>
        <if test=" softVersion != null">
            and soft_version = #{softVersion }
        </if>
        <if test=" softPlatform != null">
            and soft_platform = #{softPlatform }
        </if>
        <if test=" hardPlatform != null">
            and hard_platform = #{hardPlatform }
        </if>
        <if test=" other != null">
            and other = #{other }
        </if>
        <if test=" dataSource != null">
            and data_source = #{dataSource }
        </if>
        <if test=" isStorage != null">
            and is_storage = #{isStorage }
        </if>
        <if test=" cpeUri != null">
            and cpe_uri = #{cpeUri }
        </if>
        <if test=" memo != null">
            and memo = #{memo }
        </if>
        <if test=" gmtModified != null">
            and gmt_modified = #{gmtModified }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" modifiedUser != null">
            and modified_user = #{modifiedUser }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetHardSoftLib" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetHardSoftLib">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>

    <select id="getByBusinessId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{businessId}
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
    </select>

    <select id="countByWhere" resultType="int" parameterType="java.util.Map">
        select
        count(*)
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <include refid="Where_Column_List"></include>
        </trim>
    </select>

    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
    </select>

    <select id="findQuery" resultMap="BaseResultMap" parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

    <select id="pulldownSupplier" resultType="string" parameterType="com.antiy.asset.vo.query.AssetPulldownQuery">
        select distinct supplier from
        <include refid="Table_Name"></include>
        where status = 1 and type='h'
        and is_storage=1
        <if test="supplier != null">
            and supplier like CONCAT('%',replace(replace(#{supplier},'%','\%'),'_','\_'),'%')
        </if>
        limit 50
    </select>

    <select id="pulldownName" resultType="string" parameterType="com.antiy.asset.vo.query.AssetPulldownQuery">
        select distinct product_name from
        <include refid="Table_Name"></include>
        where status = 1 and type='h'
        and is_storage=1
        <if test="supplier != null">
            and supplier =#{supplier}
        </if>
        <if test="name != null">
            and product_name like CONCAT('%',replace(replace(#{name},'%','\%'),'_','\_'),'%')
        </if>
        limit 50
    </select>

    <select id="queryHardSoftLibByVersion" resultMap="BaseResultMap"
            parameterType="com.antiy.asset.vo.query.AssetPulldownQuery">
        select * from
        <include refid="Table_Name"></include>
        where status = 1 and type='h'
        and is_storage =1
        <if test="supplier != null">
            and supplier =#{supplier}
        </if>
        <if test="name != null">
            and product_name =#{name}
        </if>
        <if test="version != null">
            and SUBSTR(cpe_uri,#{pos}) like CONCAT('%',replace(replace(#{version},'%','\%'),'_','\_'),'%')
        </if>
        limit 50
    </select>

    <select id="pullDownOs" resultType="com.antiy.asset.vo.response.OsSelectResponse">
        select filter.product_name as value,temp.id from (
        SELECT
        min(business_id) as id ,product_name as value
        from
        <include refid="Table_Name"></include>
        lib
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            and lib.type = 'o'
            <if test=" productName != null and productName != '' ">
                and lib.product_name like CONCAT('%', replace(replace(REPLACE
                (#{productName},'\\','\\\\'),'%','\%'),'_','\_'),
                '%')
            </if>
            <if test=" isfilter">
                and product_name in (select product_name from asset_cpe_filter where status = 1)
            </if>
            and lib.status = 1 and is_storage = 1
        </trim>
        GROUP BY product_name limit 50) temp INNER JOIN asset_cpe_filter filter on filter.product_name =
        temp.value
    </select>

    <!--软硬件列表查询-->
    <select id="queryHardSoftLibList" resultMap="BaseResultMap"
            parameterType="com.antiy.asset.vo.query.AssetHardSoftLibQuery">
        SELECT
        t1.id,
        t1.business_id,
        t1.number,
        t1.type,
        t1.supplier,
        t1.product_name,
        t1.version,
        t1.upgrade_msg,
        t1.sys_version,
        t1.LANGUAGE,
        t1.soft_version,
        t1.soft_platform,
        t1.hard_platform,
        t1.is_storage,
        t1.cpe_uri,
        t1.gmt_create
        FROM
        ( SELECT id FROM asset_hard_soft_lib a
        force index(index_relation)
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <choose>
                <when test='assetType.name == "a"'>
                    <choose>
                        <when test='type =="a"'>
                            and a.type = 'a'
                        </when>
                        <when test='type =="o"'>
                            and a.type = 'o'
                        </when>
                        <otherwise>
                            and a.type in ('a','o')
                        </otherwise>
                    </choose>
                </when>
                <when test='assetType.name == "h"'>
                    and a.type = 'h'
                </when>
            </choose>
            <if test=" productName != null and productName != ''">
                and a.product_name like CONCAT('%', replace(replace(REPLACE
                (#{productName},'\\','\\\\'),'%','\%'),'_','\_'), '%')
            </if>
            <if test=" supplier != null and supplier != ''">
                and a.supplier like CONCAT('%', replace(replace(REPLACE (#{supplier},'\\','\\\\'),'%','\%'),'_','\_'),
                '%')
            </if>
            <if test=" isStorage != null">
                and a.is_storage = #{isStorage }
            </if>
            <if test="exceptIds != null and exceptIds.size() > 0">
                and business_id not in
                <foreach collection="exceptIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="removeBusinessIds != null and removeBusinessIds.size() > 0">
                and business_id not in
                <foreach collection="removeBusinessIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            and a.status = 1
        </trim>
        ORDER BY id DESC LIMIT #{pageOffset}, #{pageSize} ) t2
        LEFT JOIN asset_hard_soft_lib t1 ON t1.id = t2.id
        ORDER BY
        t1.id DESC
    </select>
    <select id="queryHardSoftLibCount" resultType="java.lang.Integer"
            parameterType="com.antiy.asset.vo.query.AssetHardSoftLibQuery">
        select
        count(1) count
        from
        asset_hard_soft_lib a force index(index_relation)
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <choose>
                <when test='assetType.name == "a"'>
                    <choose>
                        <when test='type =="a"'>
                            and a.type = 'a'
                        </when>
                        <when test='type =="o"'>
                            and a.type = 'o'
                        </when>
                        <otherwise>
                            and a.type in ('a','o')
                        </otherwise>
                    </choose>
                </when>
                <when test='assetType.name == "h"'>
                    and a.type = 'h'
                </when>
            </choose>
            <if test=" productName != null and productName != ''">
                and a.product_name like CONCAT('%', replace(replace(REPLACE
                (#{productName},'\\','\\\\'),'%','\%'),'_','\_'), '%')
            </if>
            <if test=" supplier != null and supplier != ''">
                and a.supplier like CONCAT('%', replace(replace(REPLACE (#{supplier},'\\','\\\\'),'%','\%'),'_','\_'),
                '%')
            </if>
            <if test=" isStorage != null">
                and a.is_storage = #{isStorage }
            </if>
            <if test="exceptIds != null and exceptIds.size() > 0">
                and business_id not in
                <foreach collection="exceptIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="removeBusinessIds != null and removeBusinessIds.size() > 0">
                and business_id not in
                <foreach collection="removeBusinessIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            and a.status = 1
        </trim>
    </select>
    <!--排除已存在的资产id-->
    <select id="exceptIds" resultType="java.lang.Long">
        <choose>
            <when test="assetType == 'h'">
                select hard_id from asset_hard_assembly_relation where assembly_id = #{businessId} and status = 1
            </when>
            <when test="assetType == 'a'">
                <choose>
                    <when test="sourceType == 'assembly'">
                        select soft_id from asset_assembly_soft_relation where assembly_id = #{businessId} and status =
                        1
                    </when>
                    <when test="sourceType == 'protocol'">
                        select soft_id from asset_soft_protocol_relation where protocol_id = #{businessId} and status =
                        1
                    </when>
                    <when test="sourceType == 'dependService'">
                        select soft_id from asset_soft_service_relation where service_id = #{businessId} and status = 1
                    </when>
                    <when test="sourceType == 'supplyService'">
                        select soft_id from asset_soft_service_lib where service_id = #{businessId} and status = 1
                    </when>
                </choose>
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>
    <select id="queryCountSoftWares" resultType="java.lang.Integer"
            parameterType="com.antiy.asset.vo.query.AssetSoftwareQuery">
        select count(1) from (SELECT
        t1.id,
        t1.business_id,
        t1.number,
        t1.type,
        t1.supplier,
        t1.product_name,
        t1.version,
        t1.upgrade_msg,
        t1.sys_version,
        t1.LANGUAGE,
        t1.soft_version,
        t1.soft_platform,
        t1.hard_platform,
        t1.is_storage,
        t1.cpe_uri,
        t1.gmt_create
        from asset_hard_soft_lib t1
        <trim prefix="where" prefixOverrides="And">
            And type='a'
            <if test=" name != null and name != ''">
                and t1.product_name like CONCAT('%', replace(replace(REPLACE
                (#{name},'\\','\\\\'),'%','\%'),'_','\_'), '%')
            </if>
            <if test=" manufacturer != null and manufacturer != ''">
                and t1.supplier like CONCAT('%', replace(replace(REPLACE
                (#{manufacturer},'\\','\\\\'),'%','\%'),'_','\_'),
                '%')
            </if>
            and locate(soft_platform,#{operationSystem})>0
        </trim>
        ) t2
    </select>
    <!--    查询所有软件(与资产无关）-->
    <select id="querySoftWares" resultMap="BaseResultMap" parameterType="com.antiy.asset.vo.query.AssetSoftwareQuery">
        SELECT
        t1.id,
        t1.business_id,
        t1.number,
        t1.type,
        t1.supplier,
        t1.product_name,
        t1.version,
        t1.upgrade_msg,
        t1.sys_version,
        t1.LANGUAGE,
        t1.soft_version,
        t1.soft_platform,
        t1.hard_platform,
        t1.is_storage,
        t1.cpe_uri,
        t1.gmt_create
        from asset_hard_soft_lib t1
        <trim prefix="where" prefixOverrides="And">
            And type='a'
            <if test=" name != null and name != ''">
                and t1.product_name like CONCAT('%', replace(replace(REPLACE
                (#{name},'\\','\\\\'),'%','\%'),'_','\_'), '%')
            </if>
            <if test=" manufacturer != null and manufacturer != ''">
                and t1.supplier like CONCAT('%', replace(replace(REPLACE
                (#{manufacturer},'\\','\\\\'),'%','\%'),'_','\_'),
                '%')
            </if>
            and locate(soft_platform,#{operationSystem})>0
        </trim>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="querySoftsRelations" resultMap="BaseResultMap">
      SELECT
        t2.id,
        t2.business_id,
        t2.number,
        t2.type,
        t2.supplier,
        t2.product_name,
        t2.version,
        t2.upgrade_msg,
        t2.sys_version,
        t2.LANGUAGE,
        t2.soft_version,
        t2.soft_platform,
        t2.hard_platform,
        t2.is_storage,
        t2.cpe_uri,
        t2.gmt_create
        from asset_software_install_template t1 LEFT JOIN asset_hard_soft_lib t2 ON t1.software_id=t2.business_id and t1.install_template_id=#{templateId}
    </select>
    
    <sql id="Asset_Query_Column_List">
        t1.id,
        t1.business_id,
        t1.type,
        t1.supplier,
        t1.product_name,
        t1.version,
        t1.upgrade_msg,
        t1.sys_version,
        t1.LANGUAGE,
        t1.soft_version,
        t1.soft_platform,
        t1.hard_platform,
        t1.other
    </sql>
    <!-- cpe信息查询-软硬操作系统 -->
    <sql id="Asset_Sub_Query_Common_Sql">
         SELECT id FROM asset_hard_soft_lib force index(index_relation)
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test=" productName != null">
                and product_name like CONCAT('%', replace(replace(REPLACE
                (#{productName},'\\','\\\\'),'%','\%'),'_','\_'), '%')
            </if>
            <if test=" supplier != null">
                and supplier like CONCAT('%', replace(replace(REPLACE (#{supplier},'\\','\\\\'),'%','\%'),'_','\_'),
                '%')
            </if>
            and is_storage = 1
            and status = 1
        </trim>
        ORDER BY id DESC
    </sql>
    <select id="queryAssetList" parameterType="com.antiy.asset.vo.query.AssetHardSoftOperQuery" resultMap="BaseResultMap">
        SELECT
        <include refid="Asset_Query_Column_List"/>
        FROM
        (<include refid="Asset_Sub_Query_Common_Sql"/>
          LIMIT #{pageOffset}, #{pageSize}
        ) t2
        LEFT JOIN asset_hard_soft_lib t1 ON t1.id = t2.id
        ORDER BY
        t1.id DESC
    </select>
    <select id="queryAssetListCount" parameterType="com.antiy.asset.vo.query.AssetHardSoftOperQuery" resultType="java.lang.Integer">
      SELECT
        count(1)
        FROM
        (<include refid="Asset_Sub_Query_Common_Sql"/>
        ) t2
        LEFT JOIN asset_hard_soft_lib t1 ON t1.id = t2.id
        ORDER BY
        t1.id DESC
    </select>
</mapper>