<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetChangeRecordDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetChangeRecord">
        <id column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="is_store" property="isStore"/>
        <result column="change_val" property="changeVal"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="memo" property="memo"/>
        <result column="business_id" property="businessId"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, status, create_user, is_store, change_val, gmt_create, gmt_modified, memo, business_id
    </sql>

    <sql id="Table_Name">
        asset_change_record
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" type != null">
            type,
        </if>
        <if test=" status != null">
            status,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" isStore != null">
            is_store,
        </if>
        <if test=" changeVal != null">
            change_val,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" memo != null">
            memo,
        </if>
        <if test=" businessId != null">
            business_id,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" type != null">
            #{type },
        </if>
        <if test=" status != null">
            #{status },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" isStore != null">
            #{isStore },
        </if>
        <if test=" changeVal != null">
            #{changeVal },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" memo != null">
            #{memo },
        </if>
        <if test=" businessId != null">
            #{businessId },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" type != null">
            type = #{type },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" isStore != null">
            is_store = #{isStore },
        </if>
        <if test=" changeVal != null">
            change_val = #{changeVal },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" memo != null">
            memo = #{memo },
        </if>
        <if test=" businessId != null">
            business_id = #{businessId },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" type != null">
            and type = #{type }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" isStore != null">
            and is_store = #{isStore }
        </if>
        <if test=" changeVal != null">
            and change_val = #{changeVal }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModified != null">
            and gmt_modified = #{gmtModified }
        </if>
        <if test=" memo != null">
            and memo = #{memo }
        </if>
        <if test=" businessId != null">
            and business_id = #{businessId }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetChangeRecord" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetChangeRecord">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.antiy.asset.entity.AssetChangeRecord" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>
    <!-- 根据主键查询 -->
    <select id="getByDescTime" resultType="com.antiy.asset.entity.AssetChangeRecord" parameterType="java.lang.Integer">


        select * from   <include refid="Table_Name"></include>
        where    business_id = #{businessId}
        order by gmt_create desc
        limit 1
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.antiy.asset.entity.AssetChangeRecord" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.antiy.asset.entity.AssetChangeRecord">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.antiy.asset.entity.AssetChangeRecord" parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="findChangeValByBusinessId" resultType="string" parameterType="com.antiy.common.base.ObjectQuery">
        select change_val from
        <include refid="Table_Name"></include>
        where type = #{type}
        and business_id = #{businessId}
        and gmt_create = ( select max( gmt_create ) from <include refid="Table_Name"></include> )
        and status = 1
    </select>
</mapper>