<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetGroupDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetGroup">
        <id column="id" property="id"/>
        <result column="purpose" property="purpose"/>
        <result column="important_degree" property="importantDegree"/>
        <result column="name" property="name"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="memo" property="memo"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name,purpose,important_degree AS importantDegree,name,gmt_create AS gmtCreate,gmt_modified AS gmtModified, memo,create_user AS createUser ,modify_user AS modifyUser,status
    </sql>

    <sql id="Table_Name">
        asset_group
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" purpose != null">
            purpose ,
        </if>
        <if test=" importantDegree != null">
            important_degree ,
        </if>
        <if test=" name != null">
            name ,
        </if>
        <if test=" gmtCreate != null">
            gmt_create ,
        </if>
        <if test=" gmtModified != null">
            gmt_modified ,
        </if>
        <if test=" memo != null">
            memo,
        </if>
        <if test=" createUser != null">
            create_user ,
        </if>
        <if test=" modifyUser != null">
            modify_user ,
        </if>
        <if test=" status != null">
            status ,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" purpose != null">
            #{purpose },
        </if>
        <if test=" importantDegree != null">
            #{importantDegree },
        </if>
        <if test=" name != null">
            #{name },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" memo != null">
            #{memo },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" purpose != null">
            purpose = #{purpose },
        </if>
        <if test=" importantDegree != null">
            important_degree = #{importantDegree },
        </if>
        <if test=" name != null">
            name = #{name },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" memo != null">
            memo = #{memo },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>

    </sql>

    <sql id="Where_Column_List">
        <if test=" purpose != null">
            AND purpose = #{purpose }
        </if>
        <if test=" importantDegree != null">
            AND important_degree = #{importantDegree }
        </if>
        <if test=" name != null">
            AND name = #{name }
        </if>
        <if test=" gmtCreate != null">
            AND gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModified != null">
            AND gmt_modified = #{gmtModified }
        </if>
        <if test=" memo != null">
            AND memo = #{memo },
        </if>
        <if test=" createUser != null">
            AND create_user = #{createUser }
        </if>
        <if test=" modifyUser != null">
            AND modify_user = #{modifyUser }
        </if>
        <if test=" status != null">
            AND status = #{status }
        </if>
        <if test=" status == null">
            AND status = 0
        </if>

    </sql>
    <sql id="Page_List">
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </sql>
    <insert id="insert" parameterType="com.antiy.asset.entity.AssetGroup" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetGroup">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.antiy.asset.entity.AssetGroup" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        update
        <include refid="Table_Name"></include>
        set status = 0
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.antiy.asset.entity.AssetGroup" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.antiy.asset.entity.AssetGroup">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1) count
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.antiy.asset.entity.AssetGroup"
            parameterType="com.antiy.common.base.ObjectQuery">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <include refid="Page_List"></include>

    </select>


    <select id="findListAssetGroup" resultType="com.antiy.asset.entity.AssetGroup"
            parameterType="com.antiy.asset.vo.query.AssetGroupQuery">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <include refid="Where_Column_List"></include>
        </trim>
        <include refid="Page_List"></include>
    </select>

    <select id="findPulldownGroup" resultMap="BaseResultMap" parameterType="com.antiy.common.base.ObjectQuery">
        select id,name from
        <include refid="Table_Name"></include>
    </select>
</mapper>
