<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetLendRelationDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetLendRelation">
        <id column="id" property="id"/>
        <result column="unique_id" property="uniqueId"/>
        <result column="asset_id" property="assetId"/>
        <result column="use_id" property="useId"/>
        <result column="order_id" property="orderId"/>
        <result column="lend_periods" property="lendPeriods"/>
        <result column="lend_purpose" property="lendPurpose"/>
        <result column="lend_status" property="lendStatus"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="status" property="status"/>
        <result column="lend_time" property="lendTime"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, unique_id, asset_id, use_id, order_id, lend_periods, lend_purpose, lend_status, gmt_create, gmt_modified, create_user, modify_user, status, lend_time
    </sql>

    <sql id="Table_Name">
        asset_lend_relation
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" uniqueId != null">
            unique_id,
        </if>
        <if test=" assetId != null">
            asset_id,
        </if>
        <if test=" useId != null">
            use_id,
        </if>
        <if test=" orderId != null">
            order_id,
        </if>
        <if test=" lendPeriods != null">
            lend_periods,
        </if>
        <if test=" lendPurpose != null">
            lend_purpose,
        </if>
        <if test=" lendStatus != null">
            lend_status,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" status != null">
            status,
        </if>
        <if test=" lendTime != null">
            lend_time,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" uniqueId != null">
            #{uniqueId },
        </if>
        <if test=" assetId != null">
            #{assetId },
        </if>
        <if test=" useId != null">
            #{useId },
        </if>
        <if test=" orderId != null">
            #{orderId },
        </if>
        <if test=" lendPeriods != null">
            #{lendPeriods },
        </if>
        <if test=" lendPurpose != null">
            #{lendPurpose },
        </if>
        <if test=" lendStatus != null">
            #{lendStatus },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" status != null">
            #{status },
        </if>
        <if test=" lendTime != null">
            #{lendTime },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" uniqueId != null">
            unique_id = #{uniqueId },
        </if>
        <if test=" assetId != null">
            asset_id = #{assetId },
        </if>
        <if test=" useId != null">
            use_id = #{useId },
        </if>
        <if test=" orderId != null">
            order_id = #{orderId },
        </if>
        <if test=" lendPeriods != null">
            lend_periods = #{lendPeriods },
        </if>
        <if test=" lendPurpose != null">
            lend_purpose = #{lendPurpose },
        </if>
        <if test=" lendStatus != null">
            lend_status = #{lendStatus },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
        <if test=" lendTime != null">
            lend_time = #{lendTime },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" uniqueId != null">
            and unique_id = #{uniqueId }
        </if>
        <if test=" assetId != null">
            and asset_id = #{assetId }
        </if>
        <if test=" useId != null">
            and use_id = #{useId }
        </if>
        <if test=" orderId != null">
            and order_id = #{orderId }
        </if>
        <if test=" lendPeriods != null">
            and lend_periods = #{lendPeriods }
        </if>
        <if test=" lendPurpose != null">
            and lend_purpose = #{lendPurpose }
        </if>
        <if test=" lendStatus != null">
            and lend_status = #{lendStatus }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModified != null">
            and gmt_modified = #{gmtModified }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" modifyUser != null">
            and modify_user = #{modifyUser }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
        <if test=" lendTime != null">
            and lend_time = #{lendTime }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetLendRelation" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetLendRelation" >
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
    </select>

    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        SELECT
          count(*)
        FROM asset  as a
        left join asset_user as au on a.responsible_user_id=au.id and au.status=1
        left join asset_key_manage as akm on a.id=akm.key_user_id and akm.status=1
        left join  asset_lend_relation as alr
        on a.id=alr.asset_id and alr.lend_status =1 and alr.status=1
        left join asset_user  on asset_user.id=alr.use_id and asset_user.status=1
        <trim prefix="where" prefixOverrides="and">
            <include refid="baseQuery"/>
            and a.status in (5,6)
            and a.status=1
            order by alr.lend_time desc ,a.first_enter_nett desc
        </trim>
    </select>

    <select id="findQuery" resultMap="BaseResultMap" parameterType="com.antiy.common.base.ObjectQuery">
        SELECT
        a.name,
        a.number,
        a.category_model as categoryModel,
        a.responsible_user_id as responsibleUserId,
        akm.key_num as keyNum,
        alr.lend_status as lendStatus,
        alr.use_id as useId,
        alr.lend_time as lendTime,
        alr.lend_periods as lendPeriods,
        au.name as responsibleUserName,
        asset_user.name as useName
        FROM asset  as a
        left join asset_user as au on a.responsible_user_id=au.id and au.status=1
        left join asset_key_manage as akm on a.id=akm.key_user_id and akm.status=1
        left join  asset_lend_relation as alr
        on a.id=alr.asset_id and alr.lend_status =1 and alr.status=1
        left join asset_user  on asset_user.id=alr.use_id and asset_user.status=1
        <trim prefix="where" prefixOverrides="and">
            <include refid="baseQuery"/>
            and a.status in (5,6)
            and a.status=1
            order by alr.lend_time desc ,a.first_enter_nett desc
        </trim>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <sql id="baseQuery">
        <if test='multiQuery !=null and multiQuery!="" '>
            (
            a.name LIKE CONCAT('%',replace(replace(#{multipleQuery},'%','\%'),'_','\_'),'%')
            or
            a.number LIKE CONCAT('%',replace(replace(#{multipleQuery},'%','\%'),'_','\_'),'%')
            or
            akm.key_num LIKE CONCAT('%',replace(replace(#{multipleQuery},'%','\%'),'_','\_'),'%')
            )
        </if>
        <if test="currentUseId !=null">
            and
            (
            alr.use_id=#{currentUseId} or ( a.responsible_user_id=#{currentUseId} and alr.use_id is null )
            )
        </if>
        <if test="lendTime !=null">
            and alr.lend_time &lt;= #{lendTime}
        </if>
        <if test="lendPeriods !=null">
            and alr.lend_periods &gt;= #{lendPeriods}
        </if>
        <if test='categoryModels !=null and categoryModels.size()>0 '>
            and a.category_model in
            <foreach collection="categoryModels" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test='lendStatus !=null and lendStatus.size()>0 '>
            and alr.lend_status in
            <foreach collection="lendStatus" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </sql>
</mapper>