<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetLockDao">

    <select id="getByAssetId" resultType="com.antiy.asset.entity.AssetLock">
        select id,asset_id as assetId,user_id as userId
        from asset_lock where   asset_id=#{assetId}
    </select>

    <delete id="deleteByAssetId">
        DELETE FROM asset_lock WHERE asset_id=#{assetId};
    </delete>
</mapper>