<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetMainboradDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetMainborad">
        <id column="id" property="id"/>
        <result column="asset_id" property="assetId"/>
        <result column="brand" property="brand"/>
        <result column="model" property="model"/>
        <result column="serial" property="serial"/>
        <result column="bios_version" property="biosVersion"/>
        <result column="bios_date" property="biosDate"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="memo" property="memo"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, asset_id AS assetId, brand, model, serial, bios_version AS biosVersion, bios_date AS biosDate, gmt_create AS gmtCreate, gmt_modified AS gmtModified, memo, create_user AS createUser, modify_user AS modifyUser, status
    </sql>

    <sql id="Table_Name">
        asset_mainborad
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" assetId != null">
            asset_id,
        </if>
        <if test=" brand != null">
            brand,
        </if>
        <if test=" model != null">
            model,
        </if>
        <if test=" serial != null">
            serial,
        </if>
        <if test=" biosVersion != null">
            bios_version,
        </if>
        <if test=" biosDate != null">
            bios_date,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" memo != null">
            memo,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" assetId != null">
            #{assetId },
        </if>
        <if test=" brand != null">
            #{brand },
        </if>
        <if test=" model != null">
            #{model },
        </if>
        <if test=" serial != null">
            #{serial },
        </if>
        <if test=" biosVersion != null">
            #{biosVersion },
        </if>
        <if test=" biosDate != null">
            #{biosDate },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" memo != null">
            #{memo },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
            brand = #{brand },
            model = #{model },
            serial = #{serial },
            bios_version = #{biosVersion },
            bios_date = #{biosDate },
            gmt_create = #{gmtCreate },
            gmt_modified = #{gmtModified },
            memo = #{memo },
            modify_user = #{modifyUser }
    </sql>

    <sql id="Where_Column_List">
        <if test=" assetId != null">
            and asset_id = #{assetId }
        </if>
        <if test=" brand != null">
            and brand = #{brand }
        </if>
        <if test=" model != null">
            and model = #{model }
        </if>
        <if test=" serial != null">
            and serial = #{serial }
        </if>
        <if test=" biosVersion != null">
            and bios_version = #{biosVersion }
        </if>
        <if test=" biosDate != null">
            and bios_date = #{biosDate }
        </if>
        and status = 1
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetMainborad" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetMainborad">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.antiy.asset.entity.AssetMainborad" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        update
        <include refid="Table_Name"></include>
        set status = 0
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.antiy.asset.entity.AssetMainborad" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.antiy.asset.entity.AssetMainborad">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1) count
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.antiy.asset.entity.AssetMainborad"
            parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>


    <select id="findListAssetMainborad" resultType="com.antiy.asset.entity.AssetMainborad"
            parameterType="com.antiy.asset.vo.query.AssetMainboradQuery">
        select * from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test=" assetId != null">
                and asset_id = #{assetId }
            </if>
            <if test=" brand != null">
                and brand = #{brand }
            </if>
            <if test=" model != null">
                and model = #{model }
            </if>
            <if test=" serial != null">
                and serial = #{serial }
            </if>
            <if test=" biosVersion != null">
                and bios_version = #{biosVersion }
            </if>
            <if test=" biosDate != null">
                and bios_date = #{biosDate }
            </if>
            and status = 1
        </trim>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <update id="deleteByAssetId" parameterType="java.lang.Integer">
        update
        <include refid="Table_Name"></include>
        set status = 0
        where asset_id = #{assetId}
    </update>
    <insert id="insertBatch" parameterType="com.antiy.asset.entity.AssetMainborad" useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        (
        asset_id,
        brand,
        model,
        serial,
        bios_version ,
        bios_date,
        gmt_create ,
        gmt_modified,
        memo,
        create_user,
        modify_user
        )
        values
        <foreach collection="list" item="mainboard" separator="," index="index">
            (
            #{mainboard.assetId},
            #{mainboard.brand},
            #{mainboard.model},
            #{mainboard.serial},
            #{mainboard.biosVersion} ,
            #{mainboard.biosDate},
            #{mainboard.gmtCreate },
            #{mainboard.gmtModified},
            #{mainboard.memo},
            #{mainboard.createUser},
            #{mainboard.modifyUser}
            )
        </foreach>
    </insert>
    <insert id="insertBatchWithId"  useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        (
        asset_id,
        brand,
        model,
        serial,
        bios_version ,
        bios_date,
        gmt_create ,
        gmt_modified,
        memo,
        create_user,
        modify_user
        )
        values
        <foreach collection="list" item="mainboard" separator="," index="index">
            (
            #{aid},
            #{mainboard.brand},
            #{mainboard.model},
            #{mainboard.serial},
            #{mainboard.biosVersion} ,
            #{mainboard.biosDate},
            #{mainboard.gmtCreate },
            #{mainboard.gmtModified},
            #{mainboard.memo},
            #{mainboard.createUser},
            #{mainboard.modifyUser}
            )
        </foreach>
    </insert>
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" separator=";" index="index" item="item">
            update
            <include refid="Table_Name"></include>
            <trim prefix="SET" suffixOverrides=",">
                <if test=" item.assetId != null">
                    asset_id = #{item.assetId },
                </if>
                <if test=" item.brand != null">
                    brand = #{item.brand },
                </if>
                <if test=" item.model != null">
                    model = #{item.model },
                </if>
                <if test=" item.serial != null">
                    serial = #{item.serial },
                </if>
                <if test=" item.biosVersion != null">
                    bios_version = #{item.biosVersion },
                </if>
                <if test=" item.biosDate != null">
                    bios_date = #{item.biosDate },
                </if>
                <if test=" item.gmtCreate != null">
                    gmt_create = #{item.gmtCreate },
                </if>
                <if test=" item.gmtModified != null">
                    gmt_modified = #{item.gmtModified },
                </if>
                <if test=" item.memo != null">
                    memo = #{item.memo },
                </if>
                <if test=" item.createUser != null">
                    create_user = #{item.createUser },
                </if>
                <if test=" item.modifyUser != null">
                    modify_user = #{item.modifyUser },
                </if>
                <if test=" item.status != null">
                    status = #{item.status },
                </if>
            </trim>
            where id = #{item.id}
        </foreach>
    </update>
    <select id="findMainboardByAssetId" resultMap="BaseResultMap"
            parameterType="int">
        select id, brand, model, serial, bios_version, bios_date from
        <include refid="Table_Name"></include>
        where asset_id = #{assetId}
        and status = 1
        order by id desc limit 1
    </select>
</mapper>
