<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetInstallTemplateCheckDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetInstallTemplateCheck">
        <id column="id" property="id"/>
        <result column="install_template_id" property="installTemplateId"/>
        <result column="user_id" property="userId"/>
        <result column="advice" property="advice"/>
        <result column="result" property="result"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, install_template_id, user_id, advice, result
    </sql>

    <sql id="Table_Name">
        asset_install_template_check
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" installTemplateId != null">
            install_template_id,
        </if>
        <if test=" userId != null">
            user_id,
        </if>
        <if test=" advice != null">
            advice,
        </if>
        <if test=" result != null">
            result,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" installTemplateId != null">
            #{installTemplateId },
        </if>
        <if test=" userId != null">
            #{userId },
        </if>
        <if test=" advice != null">
            #{advice },
        </if>
        <if test=" result != null">
            #{result },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" installTemplateId != null">
            install_template_id = #{installTemplateId },
        </if>
        <if test=" userId != null">
            user_id = #{userId },
        </if>
        <if test=" advice != null">
            advice = #{advice },
        </if>
        <if test=" result != null">
            result = #{result },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" installTemplateId != null">
            and install_template_id = #{installTemplateId }
        </if>
        <if test=" userId != null">
            and user_id = #{userId }
        </if>
        <if test=" advice != null">
            and advice = #{advice }
        </if>
        <if test=" result != null">
            and result = #{result }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetInstallTemplateCheck" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetInstallTemplateCheck">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
    </select>

    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
    </select>

    <select id="findQuery" resultMap="BaseResultMap" parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="queryTemplateCheckByTemplateId" resultType="com.antiy.asset.entity.AssetInstallTemplateCheck">
       SELECT
            asset_install_template_check.id,
            user_id as userId,
            advice,
            result,
            gmt_create as gmtCreate
       FROM
            asset_install_template_check,asset_install_template
       WHERE
            asset_install_template.id=asset_install_template_check.install_template_id
            AND asset_install_template.id=#{templateId}
       ORDER BY gmt_create DESC
    </select>
</mapper>