<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetCategoryModelDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetCategoryModel">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="asset_type" property="assetType"/>
        <result column="parent_id" property="parentId"/>
        <result column="description" property="description"/>
        <result column="is_default" property="isDefault"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="memo" property="memo"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, asset_type AS assetType, parent_id AS parentId,is_default AS isDefault, description, gmt_create AS gmtCreate, gmt_modified AS gmtModified, memo, create_user AS createUser, modify_user AS modifyUser, status
    </sql>

    <sql id="Table_Name">
        asset_category_model
    </sql>
    <sql id="Delete_Status">
        0
    </sql>

    <sql id="IF_Base_Column_List">
        <if test=" name != null">
            name,
        </if>
        <if test=" type != null">
            type,
        </if>
        <if test=" assetType != null">
            asset_type,
        </if>
        <if test=" parentId != null">
            parent_id,
        </if>
        <if test=" description != null">
            description,
        </if>
        <if test=" isDefault != null">
            is_default,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" memo != null">
            memo,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" name != null">
            #{name },
        </if>
        <if test=" type != null">
            #{type },
        </if>
        <if test=" assetType != null">
            #{assetType },
        </if>
        <if test=" parentId != null">
            #{parentId },
        </if>
        <if test=" description != null">
            #{description },
        </if>
        <if test=" isDefault != null">
            #{isDefault},
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" memo != null">
            #{memo },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" name != null">
            name = #{name },
        </if>
        <if test=" type != null">
            type = #{type },
        </if>
        <if test=" assetType != null">
            asset_type = #{assetType },
        </if>
        <if test=" parentId != null">
            parent_id = #{parentId },
        </if>
        <if test=" description != null">
            description = #{description },
        </if>
        <if test=" isDefault != null">
            is_default = #{isDefault},
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" memo != null">
            memo = #{memo },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" name != null">
            and name = #{name }
        </if>
        <if test=" type != null">
            and type = #{type }
        </if>
        <if test=" assetType != null">
            and asset_type = #{assetType }
        </if>
        <if test=" parentId != null">
            and parent_id = #{parentId }
        </if>

        <if test=" isDefault != null">
            and is_default = #{isDefault}
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModified != null">
            and gmt_modified = #{gmtModified }
        </if>
        <if test=" memo != null">
            and memo = #{memo }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" modifyUser != null">
            and modify_user = #{modifyUser }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
    </sql>
    <sql id="Where_Column">
        <if test=" name != null">
            and name = #{name }
        </if>
        <if test=" type != null">
            and type = #{type }
        </if>
        <if test=" assetType != null">
            and asset_type = #{assetType }
        </if>
        <if test=" parentId != null">
            and parent_id = #{parentId }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
        <if test="status == null">
            and status = 1
        </if>

    </sql>
    <insert id="insert" parameterType="com.antiy.asset.entity.AssetCategoryModel" useGeneratedKeys="true"
            keyProperty="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetCategoryModel">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id} and status=1
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.antiy.asset.entity.AssetCategoryModel" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id} and status=1
    </select>


    <update id="deleteById" parameterType="java.lang.Integer">
        update
        <include refid="Table_Name"></include>
        set status = 0
        where id = #{id} and status=1
    </update>

    <update id="delete">
        update
        <include refid="Table_Name"></include>
        set
        status=
        <include refid="Delete_Status"></include>
        where
        id
        in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item.id}
        </foreach>
        and status=1
    </update>

    <select id="getByWhere" resultType="com.antiy.asset.entity.AssetCategoryModel" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.antiy.asset.entity.AssetCategoryModel">
        select
        <include refid="Base_Column_List"></include>
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.asset.vo.query.AssetCategoryModelQuery">
        select count(1) count
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.antiy.asset.entity.AssetCategoryModel"
            parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>


    <select id="findListAssetCategoryModel" resultMap="BaseResultMap"
            parameterType="com.antiy.asset.vo.query.AssetCategoryModelQuery">
        select
        *
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test=" id != null">
                and id = #{id }
            </if>
            <if test=" name != null">
                and name = #{name }
            </if>
            <if test=" type != null">
                and type = #{type }
            </if>
            <if test=" assetType != null">
                and asset_type = #{assetType }
            </if>
            <if test=" parentId != null">
                and parent_id = #{parentId }
            </if>
            <if test=" status != null">
                status = #{status }
            </if>
            <if test=" status == null">
                status = 1
            </if>
        </trim>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

</mapper>
