<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetReportServiceDao">

    <!-- 通用查询映射结果 -->
    <!--none-->

    <select id="findCategoryCountByTime" resultType="com.antiy.asset.entity.AssetCategoryEntity"
            parameterType="com.antiy.common.base.ObjectQuery">
        SELECT
        count( 1 ) AS categoryCount,
        asset.category_model AS categoryModel,
        FROM_UNIXTIME( asset.gmt_create / 1000, #{format} ) AS date,
        acm.parent_id as parentId,
        acm.name as categoryName
        FROM
        asset
        LEFT JOIN asset_category_model acm ON acm.id = asset.category_model
        WHERE
        asset.gmt_create > #{beginTime}
        AND asset.gmt_create &lt; #{endTime}
        AND asset.`status` &lt;&gt; 9
        AND asset.category_model IS NOT NULL
        GROUP BY
        asset.category_model,
        FROM_UNIXTIME( asset.gmt_create / 1000, #{format} );
    </select>
</mapper>
