<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetOperationRecordDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetOperationRecord">
        <id column="id" property="id"/>
        <result column="target_object_id" property="targetObjectId"/>
        <result column="target_status" property="targetStatus"/>
        <result column="content" property="content"/>
        <result column="create_user" property="createUser"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="process_result" property="processResult"/>
        <result column="origin_status" property="originStatus"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, target_object_id AS targetObjectId, content, create_user AS createUser, gmt_create AS gmtCreate, target_status AS targetStatus,process_result AS processResult,origin_status, process_result AS processResult
    </sql>
    <sql id="AssetStatusNode">
        id,target_object_id AS assetId,note
    </sql>
    <sql id="Table_Name">
        asset_operation_record
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" targetObjectId != null">
            target_object_id,
        </if>
        <if test=" targetStatus != null">
            target_status,
        </if>
        <if test=" content != null">
            content,
        </if>
        <if test=" operateUserId != null">
            operate_user_id,
        </if>
        <if test=" operateUserName != null">
            operate_user_name,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" processResult != null">
            process_result,
        </if>
        <if test=" originStatus != null">
            origin_status
        </if>
    </sql>
    <sql id="IF_Base_Column_List_ForBatch">
            target_object_id,target_status,content,operate_user_id,operate_user_name,gmt_create,process_result,origin_status

    </sql>


    <sql id="IF_Value_Column_List">
        <if test=" targetObjectId != null">
            #{targetObjectId },
        </if>
        <if test=" targetStatus != null">
            #{targetStatus },
        </if>
        <if test=" content != null">
            #{content },
        </if>
        <if test=" operateUserId != null">
            #{operateUserId },
        </if>
        <if test=" operateUserName != null">
            #{operateUserName },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" processResult != null">
            #{processResult },
        </if>
        <if test=" originStatus != null">
            #{originStatus }
        </if>
    </sql>
    <sql id="IF_Value_Column_List_ForBatch">
            #{entity.targetObjectId },
            #{entity.targetStatus },
            #{entity.content },
            #{entity.operateUserId },
            #{entity.operateUserName },
            #{entity.gmtCreate },
            #{entity.processResult },
            #{entity.originStatus }
    </sql>

    <sql id="Set_Column_List">
        <if test=" targetObjectId != null">
            target_object_id = #{targetObjectId },
        </if>
        <if test=" targetStatus != null">
            target_status = #{targetStatus },
        </if>
        <if test=" content != null">
            content = #{content },
        </if>
        <if test=" operateUserId != null">
            operate_user_id = #{operateUserId },
        </if>
        <if test=" operateUserName != null">
            operate_user_name = #{operateUserName },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" processResult != null">
            process_result = #{processResult },
        </if>
        <if test=" originStatus != null">
            origin_status = #{originStatus }
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" targetObjectId != null">
            and target_object_id = #{targetObjectId }
        </if>
        <if test=" targetType != null">
            and target_type = #{targetType }
        </if>
        <if test=" targetStatus != null">
            and target_status = #{targetStatus }
        </if>
        <if test=" content != null">
            and content = #{content }
        </if>
        <if test=" operateUserId != null">
            and operate_user_id = #{operateUserId }
        </if>
        <if test=" operateUserName != null">
            and operate_user_name = #{operateUserName }
        </if>
        <if test=" schemeId != null">
            and scheme_id = #{schemeId }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" processResult != null">
            and process_result = #{processResult }
        </if>
        <if test=" originStatus != null">
            and origin_status = #{originStatus }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetOperationRecord" useGeneratedKeys="true"
            keyProperty="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List_ForBatch"></include>
        </trim>
        values
        <foreach collection="list" item="entity" separator=",">
            (
            <include refid="IF_Value_Column_List_ForBatch"></include>
            )
        </foreach>
    </insert>


    <update id="update" parameterType="com.antiy.asset.entity.AssetOperationRecord">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.antiy.asset.entity.AssetOperationRecord" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.antiy.asset.entity.AssetOperationRecord" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.antiy.asset.entity.AssetOperationRecord">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.antiy.asset.entity.AssetOperationRecord"
            parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>

    <select id="findAssetOperationRecordBarByAssetId" parameterType="com.antiy.asset.vo.query.AssetOperationRecordQuery"
            resultType="AssetOperationRecordBarPO">
        SELECT
        aor.gmt_create as gmtCreate,
        aor.operate_user_name AS userName,
        aor.process_result AS processResult,
        aor.target_object_id AS id,
        aor.origin_status AS originStatus,
        aor.operate_user_id as operateUserId,
        aor.content,
        aor.process_result as processResult,
        c.file_info as fileInfo,
        c.memo
        FROM
        asset_operation_record aor
        LEFT JOIN scheme c ON c.id = aor.scheme_id
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test=" targetObjectId != null">
                AND aor.target_object_id = #{targetObjectId}
            </if>
            <if test=" targetType != null">
                AND aor.target_type = #{targetType.code}
            </if>

            <if test="originStatus != null">
                AND aor.origin_status=#{originStatus}
            </if>
        </trim>
        ORDER BY aor.id desc
        <if test="pageSize !=-1">
            LIMIT #{pageSize}
        </if>
    </select>
    <select id="findCountAssetOperationRecordBarByAssetId" resultType="int"
            parameterType="com.antiy.common.base.ObjectQuery">
        SELECT
        count(1)
        FROM
        asset_operation_record aor
        LEFT JOIN scheme c ON c.id = aor.scheme_id
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test=" targetObjectId != null">
                AND aor.target_object_id = #{targetObjectId}
            </if>
            <if test=" targetType != null">
                AND aor.target_type = #{targetType.code}
            </if>

            <if test="originStatus != null">
                AND aor.origin_status=#{originStatus}
            </if>
        </trim>
    </select>
    <select id="getTimeByAssetId" resultType="java.lang.Long" parameterType="java.lang.String">
        select
        gmt_create
        from
        <include refid="Table_Name"></include>
        where target_object_id = #{assetId} order by id desc limit 1
    </select>
    <!-- 查询资产动态-->
    <select id="queryAssetAllStatusInfo" parameterType="java.lang.String" resultType="AssetStatusDetail">
      select
      <include refid="AssetStatusNode"/> ,origin_status as originStatus,operate_user_id as operateUserId,process_result as processResult,file_info as fileInfo,gmt_create as gmtCreate,operate_user_name as operateUserName
      from
      <include refid="Table_Name"/>
      where target_object_id = #{id} order by gmt_create desc
    </select>

    <!-- 查询上一步资产动态 -->
    <select id="queryAssetPreStatusInfo" resultType="AssetStatusNote">
    select
    a.id,a.target_object_id as assetId,note,a.gmt_create,file_info as fileInfo,a.origin_status as  originStatus
    from
    <include refid="Table_Name"/> a
    inner join
      ( SELECT target_object_id, MAX( gmt_create ) gmt_create
        FROM  <include refid="Table_Name"/>
        GROUP BY target_object_id
        HAVING target_object_id IN 
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
          #{item}
        </foreach>
        ) b
        on  a.target_object_id = b.target_object_id and a.gmt_create = b.gmt_create
    </select>
</mapper>