<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetReportDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetAreaEntity">
        <id column="areaAssetCount" property="areaAssetCount"/>
        <result column="areaId" property="areaId"/>
        <result column="date" property="date"/>
    </resultMap>

    <resultMap id="AssetGroupResultMap" type="com.antiy.asset.entity.AssetGroupEntity">
        <result column="asset_group_id" property="groupId"></result>
        <result column="assetGroupName" property="name"></result>
        <result column="countNum" property="groupCount"></result>
        <result column="date" property="date"></result>
    </resultMap>
    <!--获取所有的统计数据-->
    <select id="getAllAssetWithArea" resultType="java.util.Map"
            parameterType="com.antiy.asset.vo.request.ReportQueryRequest">
        SELECT
        <trim suffixOverrides=",">
            <foreach collection="assetAreaIds" item="item">
                sum(CASE WHEN area_id IN (#{item.parentAreaId},
                <foreach collection="item.childrenAradIds" separator="," item="area">
                    #{area}
                </foreach>
                )
                THEN 1
                ELSE 0
                END
                ) AS #{item.parentAreaName},
            </foreach>
        </trim>
        FROM
        asset
        WHERE
        gmt_create &lt;= #{endTime}
        AND asset_status != '9'
        AND STATUS = 1
    </select>
    <!--统计初始数据-->
    <select id="queryAssetWithAreaByDate" resultType="java.util.Map">
        SELECT
        CASE
        <foreach collection="list" item="item">
            WHEN area_id IN (#{item.parentAreaId},
            <foreach collection="item.childrenAradIds" separator="," item="area">
                #{area}
            </foreach>
            ) THEN #{item.parentAreaId}
        </foreach>
        END AS areaId,
        count(1) AS assetCount
        FROM
        asset
        WHERE
        gmt_create &lt; #{startTime}
        AND asset_status != '9'
        AND STATUS = 1
        AND area_id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.parentAreaId},
            <foreach collection="item.childrenAradIds" separator="," item="area">
                #{area}
            </foreach>
        </foreach>
        GROUP BY
        areaId
    </select>
    <!--统计区域每个区间的增量-->
    <select id="queryAddAssetWithArea" resultType="java.util.Map">
        SELECT
        FROM_UNIXTIME( gmt_create / 1000, #{timeType} ) AS date,
        <trim suffixOverrides=",">
            <foreach collection="list" item="item">
                sum(CASE WHEN area_id IN (#{item.parentAreaId},
                <foreach collection="item.childrenAradIds" separator="," item="area">
                    #{area}
                </foreach>
                )
                THEN 1
                ELSE 0
                END
                ) AS #{item.parentAreaName},
            </foreach>
        </trim>
        FROM
        asset
        WHERE
        gmt_create &lt; #{endTime}
        and gmt_create > #{startTime}
        AND asset_status != '9'
        AND STATUS = 1
        GROUP BY
        date
        ORDER BY
        date ASC
    </select>

    <select id="getNewAssetWithCategory" parameterType="com.antiy.asset.vo.request.AssetReportCategoryCountRequest"
            resultType="com.antiy.asset.entity.AssetCategoryEntity">
        SELECT count(1) as categoryCount,category_model as categoryModel,FROM_UNIXTIME(gmt_create/1000,#{format} ) as
        date FROM asset
        WHERE `status`=1 and asset_status != '9'
        <if test="beginTime!=null">
            and gmt_create>=#{beginTime}
        </if>
        <if test="endTime!=null">
            and gmt_create &lt;= #{endTime}
        </if>
        <if test="areaIds!=null and areaIds.size()>0">
            and area_id in
            <foreach item="areaId" collection="areaIds" open="(" separator="," close=")">
                #{areaId}
            </foreach>
        </if>
        GROUP BY category_model,FROM_UNIXTIME(gmt_create/1000,#{format} ) order by date;
    </select>




    <select id="getAssetConutWithGroup" parameterType="com.antiy.asset.vo.request.ReportQueryRequest"
            resultType="com.antiy.asset.entity.AssetGroupEntity">
        SELECT
        count(1) AS groupCount,
        ag.id AS groupId,
        ag.name AS name
        FROM
        asset_group_relation agr
        LEFT JOIN asset_group ag ON agr.asset_group_id = ag.id
        LEFT JOIN asset ON asset.id = agr.asset_id

        WHERE       agr.gmt_create &lt;#{startTime}

        AND asset.asset_status != '9'
        AND agr. STATUS = 1
        AND asset. STATUS = 1
        GROUP BY
        groupId,
        name
        ORDER BY groupCount desc
        <if test="topFive!=null">
            LIMIT 0,5
        </if>

    </select>


    <sql id="timeType">
        <choose>
            <when test="timeType==1">
                '%w'
            </when>
            <when test="timeType==2">
                '%U'
            </when>
            <otherwise>
                '%Y-%m'
            </otherwise>
        </choose>
    </sql>

    <select id="findCategoryCountByTime" resultType="com.antiy.asset.entity.AssetCategoryEntity"
            parameterType="com.antiy.common.base.ObjectQuery">
        SELECT
        count( 1 ) AS categoryCount,
        asset.category_model AS categoryModel,
        FROM_UNIXTIME( asset.gmt_create / 1000, #{format} ) AS date,
        acm.parent_id as parentId,
        acm.name as categoryName
        FROM
        asset
        LEFT JOIN asset_category_model acm ON acm.id = asset.category_model
        WHERE
        asset.gmt_create &lt; #{endTime}
        <if test="areaIds!=null and areaIds.size()>0">
            and area_id in
            <foreach item="areaId" collection="areaIds" open="(" separator="," close=")">
                #{areaId}
            </foreach>
        </if>
        AND asset.gmt_create > #{beginTime}
        AND asset.`status` &lt;&gt; 9
        AND asset.category_model IS NOT NULL
        GROUP BY
        asset.category_model,
        FROM_UNIXTIME( asset.gmt_create / 1000, #{format} );
    </select>

    <select id="findCategoryCountPrevious" resultType="com.antiy.asset.entity.AssetCategoryEntity"
            parameterType="com.antiy.common.base.ObjectQuery">
        SELECT
        count( 1 ) AS categoryCount,
        asset.category_model AS categoryModel,
        acm.parent_id as parentId,
        acm.name as categoryName
        FROM
        asset
        LEFT JOIN asset_category_model acm ON acm.id = asset.category_model
        WHERE
        asset.gmt_create &lt; #{beginTime}
        <if test="areaIds!=null and areaIds.size()>0">
            and area_id in
            <foreach item="areaId" collection="areaIds" open="(" separator="," close=")">
                #{areaId}
            </foreach>
        </if>
        AND asset.`status` &lt;&gt; 9
        AND asset.category_model IS NOT NULL
        GROUP BY
        asset.category_model
    </select>

    <select id="findCategoryCountAmount" resultType="int"
            parameterType="map">
        SELECT
        count( 1 )
        FROM
        asset
        WHERE
        asset.gmt_create &lt; #{beginTime}
        AND asset.`status` &lt;&gt; 9
        AND asset.category_model IS NOT NULL
        and asset.category_model = #{categoryModel}
    </select>

    <select id="getNewAssetWithGroup" parameterType="com.antiy.asset.vo.request.ReportQueryRequest"
            resultMap="AssetGroupResultMap">
        SELECT
        agr.asset_group_id,ag.`NAME` as assetGroupName,count(agr.asset_group_id) as countNum,
        FROM_UNIXTIME(agr.gmt_create / 1000, #{sqlTime}) AS `date`
        FROM
        asset_group_relation agr
        LEFT JOIN asset_group ag ON agr.asset_group_id = ag.id
        LEFT JOIN asset on agr.asset_id = asset.id
        WHERE
        agr.gmt_create &lt;= #{endTime}
        AND agr.gmt_create &gt;= #{startTime}
        AND asset.status = 1


        <if test="groupIds!=null and groupIds.size()>0" >
          AND ag.id in
        <foreach item="areaId" collection="groupIds" open="(" separator="," close=")">
            #{areaId}
        </foreach>
        </if>

        AND asset.asset_status != 9
        GROUP BY
        agr.asset_group_id,
        FROM_UNIXTIME(gmt_create / 1000, #{sqlTime})
        ORDER BY `date` asc
    </select>

    <select id="myTest" parameterType="com.antiy.asset.vo.request.ReportQueryRequest"
            resultMap="AssetGroupResultMap">
        SELECT
        agr.asset_group_id,
        ag.name as assetGroupName,
        count( agr.asset_group_id ) AS countNum,
        FROM_UNIXTIME( agr.gmt_create / 1000, '%w' ) AS date
        FROM
        asset_group_relation agr
        LEFT JOIN asset_group ag ON agr.asset_group_id = ag.id
        LEFT JOIN asset ON agr.asset_id = asset.id
        WHERE
        asset.asset_status != '9'
        AND FROM_UNIXTIME( agr.gmt_create / 1000, '%Y-%m-%d' ) &lt; last_day( curdate( ) ) AND FROM_UNIXTIME( agr.gmt_create / 1000, '%Y-%m-%d' ) &gt; date_sub(curdate(),INTERVAL WEEKDAY(curdate()) + 1 DAY)
        GROUP BY
        agr.asset_group_id,
        date
        ORDER BY countNum desc
    </select>

    <select id="getInitGroupData" parameterType="com.antiy.asset.vo.request.ReportQueryRequest"
            resultMap="AssetGroupResultMap">
        SELECT
        count( 1 ) AS countNum,
        ag.NAME AS assetGroupName
        FROM
        asset_group_relation agr
        LEFT JOIN asset_group ag ON agr.asset_group_id = ag.id
        LEFT JOIN asset ON asset.id = agr.asset_id
        WHERE
        1 = 1
        AND agr.gmt_create &lt; #{startTime}
        AND asset.asset_status != '9'
        AND agr.STATUS = 1
        AND asset.STATUS = 1
        GROUP BY
        assetGroupName
        ORDER BY
        countNum DESC
    </select>

</mapper>
