<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetInstallTemplateDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetInstallTemplate">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="number_code" property="numberCode"/>
        <result column="category_model" property="categoryModel"/>
        <result column="current_status" property="currentStatus"/>
        <result column="operation_system" property="operationSystem"/>
        <result column="operation_system_name" property="operationSystemName"/>
        <result column="description" property="description"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="create_user" property="createUser"/>
        <result column="modified_user" property="modifiedUser"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, number_code, category_model, current_status, operation_system, operation_system_name, description, gmt_create, gmt_modified, create_user, modified_user, status
    </sql>

    <sql id="Table_Name">
        asset_install_template
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" name != null">
            name,
        </if>
        <if test=" numberCode != null">
            number_code,
        </if>
        <if test=" categoryModel != null">
            category_model,
        </if>
        <if test=" currentStatus != null">
            current_status,
        </if>
        <if test=" operationSystem != null">
            operation_system,
        </if>
        <if test=" operationSystemName != null">
            operation_system_name,
        </if>
        <if test=" description != null">
            description,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifiedUser != null">
            modified_user,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" name != null">
            #{name },
        </if>
        <if test=" numberCode != null">
            #{numberCode },
        </if>
        <if test=" categoryModel != null">
            #{categoryModel },
        </if>
        <if test=" currentStatus != null">
            #{currentStatus },
        </if>
        <if test=" operationSystem != null">
            #{operationSystem },
        </if>
        <if test=" operationSystemName != null">
            #{operationSystemName },
        </if>
        <if test=" description != null">
            #{description },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifiedUser != null">
            #{modifiedUser },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" name != null">
            name = #{name },
        </if>
        <if test=" numberCode != null">
            number_code = #{numberCode },
        </if>
        <if test=" categoryModel != null">
            category_model = #{categoryModel },
        </if>
        <if test=" currentStatus != null">
            current_status = #{currentStatus },
        </if>
        <if test=" operationSystem != null">
            operation_system = #{operationSystem },
        </if>
        <if test=" operationSystemName != null">
            operation_system_name = #{operationSystemName },
        </if>
        <if test=" description != null">
            description = #{description },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifiedUser != null">
            modified_user = #{modifiedUser },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" name != null">
            and `name` like concat('%',replace(replace(#{name},'%','\%'),'_','\_'),'%')
        </if>
        <if test=" numberCode != null">
            and number_code like concat('%',replace(replace(#{numberCode},'%','\%'),'_','\_'),'%')
        </if>
        <if test=" categoryModel != null">
            and category_model = #{categoryModel }
        </if>
        <if test=" currentStatus != null">
            and current_status = #{currentStatus }
        </if>
        <if test=" operationSystem != null">
            and operation_system = #{operationSystem }
        </if>
        <if test=" operationSystemName != null">
            and operation_system_name = #{operationSystemName }
        </if>
        <if test=" description != null">
            and description = #{description }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModified != null">
            and gmt_modified = #{gmtModified }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" modifiedUser != null">
            and modified_user = #{modifiedUser }
        </if>

    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetInstallTemplate" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetInstallTemplate">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
        </trim>
    </select>

    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            and status=1
            <include refid="Where_Column_List"></include>
        </trim>
    </select>

    <select id="findQuery" resultMap="BaseResultMap" parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            and status=1
            <include refid="Where_Column_List"></include>
        </trim>
        order by
        <if test="baselineId != null">
            gmt_modified
        </if>
        <if test="baselineId == null">
            gmt_create
        </if>
        desc
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="findByAssetIds" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        asset_install_template
        WHERE

        id IN (
        SELECT
        asset.install_template_id
        FROM
        asset
        WHERE
        id IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>

        )
    </select>
    <update id="batchDeleteTemplate" parameterType="list">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            status = 0,
            gmt_modified = #{gmtModified},
            modified_user=#{modifiedUser},
        </trim>
        where id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and current_status=2
    </update>

    <select id="queryTemplateById" resultType="com.antiy.asset.vo.response.AssetTemplateRelationResponse">
        SELECT
            ait.id,
            ait.`name`,
            ait.number_code as numberCode,
            ait.description,
            count(DISTINCT asset_software_install_template.id) as softwareCount,
            count(DISTINCT asset_patch_install_template.id) as patchCount

        FROM
            asset_install_template AS ait

            left JOIN  asset_software_install_template on   asset_software_install_template.install_template_id = ait.id
            left join  asset_patch_install_template    on   asset_patch_install_template.install_template_id = ait.id
            GROUP BY ait.id
            HAVING ait.id=#{templateId}
    </select>
    <select id="queryTemplateOs" resultType="com.antiy.asset.vo.response.AssetInstallTemplateOsResponse">
        SELECT DISTINCT operation_system as osCode,operation_system_name as osName FROM asset_install_template where status=1
    </select>
    <select id="queryTemplateStatus" resultType="int">
        SELECT  DISTINCT current_status  FROM `asset_install_template` where status=1 order by current_status ;
    </select>
    <select id="queryNumberCode" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM `asset_install_template` WHERE number_code=#{numberCode} and status=1
    </select>
    <select id="queryOs" resultType="com.antiy.asset.vo.response.AssetInstallTemplateOsResponse">
        SELECT business_id as osCode,product_name as osName FROM `asset_cpe_filter`
        <trim prefixOverrides="and" prefix="where">
            <if test="osBusinessId !=null ">
                business_id=#{osBusinessId}
            </if>
            and status=1
        </trim>
    </select>
    <select id="querySoftCount" resultType="java.lang.Integer" parameterType="com.antiy.asset.vo.query.PrimaryKeyQuery">
        select count(1) from asset_software_install_template where install_template_id = #{pid} and status = 1
    </select>
    <select id="querySoftList" resultType="com.antiy.asset.entity.AssetHardSoftLib"
            parameterType="com.antiy.asset.vo.query.PrimaryKeyQuery">
        select
            t2.id,
            t2.business_id as businessId,
            t2.number,
            t2.type,
            t2.supplier,
            t2.product_name as productName,
            t2.version,
            t2.upgrade_msg as upgradeMsg,
            t2.sys_version as sysVersion,
            t2.language,
            t2.soft_version as softVersions,
            t2.soft_platform as softPlatform,
            t2.hard_platform as hardPlatform,
            t2.other
        from asset_software_install_template t1 inner join asset_hard_soft_lib t2 on t1.software_id = t2.business_id and t1.status = 1 and t2.status = 1
        where
        t1.install_template_id = #{pid}
    </select>
    <select id="queryPatchCount" resultType="java.lang.Integer"
            parameterType="com.antiy.asset.vo.query.PrimaryKeyQuery">
        select count(1) from asset_patch_install_template where install_template_id = #{pid} and status = 1
    </select>
    <select id="queryPatchList" resultType="com.antiy.asset.entity.PatchInfo"
            parameterType="com.antiy.asset.vo.query.PrimaryKeyQuery">
        select
            patch_number as patchNumber,
            antiy_patch_number as antiyPatchNumber,
            patch_name as patchName,
            patch_level as patchLevel,
            path_source as pathSource,
            hotfix,
            user_interaction as userInteraction,
            exclusive_install as exclusiveInstall,
            network_status as networkStatus
        from asset_patch_install_template t1 inner join patch_info t2 on t1.patch_id = t2.id  and t1.status = 1 and t2.status = 1
        where
        t1.install_template_id = #{pid}
    </select>
    <select id="queryBaselineTemplateType" parameterType="com.antiy.common.base.ObjectQuery"
            resultType="java.lang.Integer">
        select sw_type from baseline_template where id=#{baselineId}
    </select>
    <select id="findFilteredCount" resultType="java.lang.Integer" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1) from (SELECT
        ait.id AS stringId,
        ait.NAME AS NAME,
        ait.number_code AS numberCode,
        ait.gmt_modified AS gmtModified,
        ait.description AS description,
        count( DISTINCT asit.software_id ) AS softNum,
        count( DISTINCT apit.patch_id ) AS patchNum
        FROM
        asset_install_template ait
        LEFT JOIN asset_software_install_template asit ON ait.id = asit.install_template_id
        LEFT JOIN asset_patch_install_template apit ON ait.id = apit.install_template_id
        WHERE
        asit.software_id NOT IN (
        SELECT DISTINCT
        ahsl.business_id
        FROM
        baseline_template_software bts
        INNER JOIN baseline_template bt ON bts.template_id = bt.id
        INNER JOIN asset_hard_soft_lib ahsl ON bts.software_id = ahsl.id
        AND bt.sw_type = 2
        AND bt.id = #{baselineId}
        )
        <include refid="Where_Column_List"></include>
        and ait.status=1
        GROUP BY
        ait.id) t
    </select>
    <select id="queryTemplateInfo" resultType="com.antiy.asset.vo.response.AssetInstallTemplateResponse"
            parameterType="com.antiy.common.base.ObjectQuery">

        SELECT
        ait.id as stringId,
        ait.name as name,
        ait.number_code as numberCode,
        ait.gmt_modified as gmtModified,
        ait.description as description,
        ait.category_model as categoryModel,
        ait.current_status as currentStatus,
        ait.operation_system as operationSystem,
        ait.operation_system_name as operationSystemName,
        ait.gmt_create as gmtCreate,
        count(DISTINCT asit.software_id) as softNum,
        count(DISTINCT apit.patch_id) as patchNum
        FROM
        asset_install_template ait
        LEFT JOIN asset_software_install_template asit ON ait.id = asit.install_template_id
        LEFT JOIN asset_patch_install_template apit ON ait.id = apit.install_template_id
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            and ait.status=1
            <include refid="Where_Column_List"></include>
        </trim>
        GROUP BY
        ait.id
        order by
        <if test="baselineId != null">
            ait.gmt_modified
        </if>
        <if test="baselineId == null">
            ait.gmt_create
        </if>
        desc
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <select id="queryFilteredTemplate" resultType="com.antiy.asset.vo.response.AssetInstallTemplateResponse"
            parameterType="com.antiy.common.base.ObjectQuery">
        SELECT
        ait.id AS stringId,
        ait.NAME AS NAME,
        ait.number_code AS numberCode,
        ait.gmt_modified AS gmtModified,
        ait.description AS description,
        count( DISTINCT asit.software_id ) AS softNum,
        count( DISTINCT apit.patch_id ) AS patchNum
        FROM
        asset_install_template ait
        LEFT JOIN asset_software_install_template asit ON ait.id = asit.install_template_id
        LEFT JOIN asset_patch_install_template apit ON ait.id = apit.install_template_id
        WHERE
        asit.software_id NOT IN (
        SELECT DISTINCT
        ahsl.business_id
        FROM
        baseline_template_software bts
        INNER JOIN baseline_template bt ON bts.template_id = bt.id
        INNER JOIN asset_hard_soft_lib ahsl ON bts.software_id = ahsl.id
        AND bt.sw_type = 2
        AND bt.id = #{baselineId}
        )
        <include refid="Where_Column_List"></include>
        GROUP BY
        ait.id
        order by
        <if test="baselineId != null">
            ait.gmt_modified
        </if>
        <if test="baselineId == null">
            ait.gmt_create
        </if>
        desc
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <insert id="insertBatchSoft" parameterType="com.antiy.asset.vo.request.AssetInstallTemplateRequest">
        insert into asset_software_install_template
        (install_template_id,software_id,gmt_create,create_user)
        <trim prefix="values" suffix=";" suffixOverrides=",">
            <if test="softBussinessIds != null">
                <foreach collection="softBussinessIds" item="softBussinessId" separator=",">
                    (#{stringId},#{softBussinessId},#{gmtCreate},#{createUser})
                </foreach>
            </if>
        </trim>

    </insert>
    <insert id="insertBatchPatch" parameterType="com.antiy.asset.vo.request.AssetInstallTemplateRequest">
        insert into asset_patch_install_template
        (install_template_id,patch_id,gmt_create,create_user)
        <trim prefix="values" suffix=";" suffixOverrides=",">
            <if test="patchIds != null">
                <foreach collection="patchIds" item="patchId" separator=",">
                    (#{stringId},#{patchId},#{gmtCreate},#{createUser})
                </foreach>
            </if>
        </trim>

    </insert>
    <insert id="insertBatchUser" parameterType="com.antiy.asset.vo.request.AssetInstallTemplateRequest">
        insert into asset_install_template_check
        (install_template_id,user_id,result,gmt_create,create_user)
        <trim prefix="values" suffix=";" suffixOverrides=",">
            <if test="nextExecutor != null">
                <foreach collection="nextExecutor" item="userId" separator=",">
                    (#{stringId},#{userId},1,#{gmtCreate},#{createUser})
                </foreach>
            </if>
        </trim>

    </insert>
    <select id="queryCheckTemplateUserId" resultType="java.lang.Integer">
       select DISTINCT user_id from asset_install_template_check where install_template_id=#{installTemplateId}
    </select>
    <sql id="Set_InstallTemplate_Check_List">
        <if test=" advice != null">
            advice = #{advice },
        </if>
        <if test=" result != null">
            result = #{result },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" modifiedUser != null">
            modified_user = #{modifiedUser },
        </if>
    </sql>
    <update id="checkTemplate" parameterType="com.antiy.asset.vo.request.AssetInstallTemplateCheckRequest">
        update asset_install_template_check
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_InstallTemplate_Check_List"></include>
        </trim>
        where install_template_id = #{installTemplateId }
    </update>
</mapper>