<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.SchemeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.Scheme">
        <id column="id" property="id"/>
        <result column="asset_id" property="assetId"/>
        <result column="type" property="type"/>
        <result column="result" property="result"/>
        <result column="putinto_user_id" property="putintoUserId"/>
        <result column="putinto_time" property="putintoTime"/>
        <result column="putinto_user" property="putintoUser"/>
        <result column="expecte_start_time" property="expecteStartTime"/>
        <result column="expecte_end_time" property="expecteEndTime"/>
        <result column="order_level" property="orderLevel"/>
        <result column="file_info" property="fileInfo"/>
        <result column="extension" property="extension"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="memo" property="memo"/>
        <result column="asset_next_status" property="assetNextStatus"/>
        <result column="scheme_source" property="schemeSource"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, asset_id, type, result, putinto_user_id, putinto_time, putinto_user, file_info, extension, order_level , expecte_start_time, expecte_end_time, gmt_create, gmt_modified, memo, create_user, modify_user, status
    </sql>

    <sql id="Table_Name">
        scheme
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" assetId != null">
            asset_id,
        </if>
        <if test=" type != null">
            type,
        </if>
        <if test=" result != null">
            result,
        </if>
        <if test=" putintoUserId != null">
            putinto_user_id,
        </if>
        <if test=" putintoTime != null">
            putinto_time,
        </if>
        <if test=" putintoUser != null">
            putinto_user,
        </if>
        <if test=" fileInfo != null">
            file_info,
        </if>
        <if test=" extension != null">
            extension,
        </if>
        <if test=" orderLevel != null">
            order_level,
        </if>
        <if test=" expecteStartTime != null">
            expecte_start_time,
        </if>
        <if test=" expecteEndTime != null">
            expecte_end_time,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" memo != null">
            memo,
        </if>
        <if test=" content != null">
            content,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" assetNextStatus != null">
            asset_next_status,
        </if>
        <if test=" schemeSource != null">
            scheme_source,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" assetId != null">
            #{assetId },
        </if>
        <if test=" type != null">
            #{type },
        </if>
        <if test=" result != null">
            #{result },
        </if>
        <if test=" putintoUserId != null">
            #{putintoUserId },
        </if>
        <if test=" putintoTime != null">
            #{putintoTime },
        </if>
        <if test=" putintoUser != null">
            #{putintoUser },
        </if>
        <if test=" fileInfo != null">
            #{fileInfo },
        </if>
        <if test=" extension != null">
            #{extension },
        </if>
        <if test=" orderLevel != null">
            #{orderLevel },
        </if>
        <if test=" expecteStartTime != null">
            #{expecteStartTime },
        </if>
        <if test=" expecteEndTime != null">
            #{expecteEndTime },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" memo != null">
            #{memo },
        </if>
        <if test=" content != null">
            #{content },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" assetNextStatus != null">
            #{assetNextStatus },
        </if>
        <if test=" schemeSource != null">
            #{schemeSource },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" assetId != null">
            asset_id = #{assetId },
        </if>
        <if test=" type != null">
            type = #{type },
        </if>
        <if test=" result != null">
            result = #{result },
        </if>
        <if test=" putintoUserId != null">
            putinto_user_id = #{putintoUserId },
        </if>
        <if test=" putintoTime != null">
            putinto_time = #{putintoTime },
        </if>
        <if test=" putintoUser != null">
            putinto_user = #{putintoUser },
        </if>
        <if test=" orderLevel != null">
            order_level = #{orderLevel },
        </if>
        <if test=" fileInfo != null">
            file_info = #{fileInfo },
        </if>
        <if test=" extension != null">
            extension = #{extension },
        </if>
        <if test=" expecteStartTime != null">
            expecte_start_time = #{expecteStartTime },
        </if>
        <if test=" expecteEndTime != null">
            expecte_end_time = #{expecteEndTime },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" memo != null">
            memo = #{memo },
        </if>
        <if test=" content != null">
            content = #{content },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" assetId != null">
            and asset_id = #{assetId }
        </if>
        <if test=" type != null">
            and type = #{type }
        </if>
        <if test=" result != null">
            and result = #{result }
        </if>
        <if test=" putintoUserId != null">
            and putinto_user_id = #{putintoUserId }
        </if>
        <if test=" putintoTime != null">
            and putinto_time = #{putintoTime }
        </if>
        <if test=" putintoUser != null">
            and putinto_user = #{putintoUser }
        </if>
        <if test=" extension != null">
            and extension = #{extension }
        </if>
        <if test="orderLevel != null">
            and order_level = #{orderLevel }
        </if>
        <if test=" fileInfo != null">
            and file_info = #{fileInfo }
        </if>
        <if test=" expecteStartTime != null">
            and expecte_start_time = #{expecteStartTime }
        </if>
        <if test=" expecteEndTime != null">
            and expecte_end_time = #{expecteEndTime }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModified != null">
            and gmt_modified = #{gmtModified }
        </if>
        <if test=" memo != null">
            and memo = #{memo }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" modifyUser != null">
            and modify_user = #{modifyUser }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.Scheme" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.Scheme">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id} and status = 1
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        update
        <include refid="Table_Name"></include>
        set status = 0
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.antiy.asset.entity.Scheme" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.antiy.asset.entity.Scheme">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test=" putintoUser != null">
                and putinto_user like concat(#{putintoUser},'%')
            </if>
            <if test=" type != null">
                and type = #{type}
            </if>
            <if test=" assetId != null">
                and asset_id = #{assetId}
            </if>
            and status = 1
        </trim>
    </select>

    <select id="findQuery" resultMap="BaseResultMap" parameterType="com.antiy.asset.vo.query.SchemeQuery">
        select id,asset_id,type, result, content, expecte_start_time,
        expecte_end_time,scheme_source,putinto_time,order_level,putinto_user_id, putinto_user,
        file_info,memo from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test=" putintoUser != null">
                and putinto_user = #{putintoUser}
            </if>
            <if test=" assetId != null">
                and asset_id = #{assetId}
            </if>
            <if test=" type != null">
                and type = #{type}
            </if>
            and status = 1
        </trim>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
    <!--通过资产ID和状态查询方案信息-->
    <select id="findSchemeByAssetIdAndGmtCreateTime" resultMap="BaseResultMap" parameterType="map">
        select
        sch.file_info,
        sch.memo
        from
        <include refid="Table_Name"></include>
        sch
        left join asset
        on asset.id = sch.asset_id
        left join asset_operation_record aor
        on aor.scheme_id = sch.id
        where asset_id = #{assetId} and aor.gmt_create = #{gmtCreateTime}
    </select>

    <!--通过资产ID查询方案信息-->
    <select id="findSchemeByAssetIdAndType" resultMap="BaseResultMap"
            parameterType="com.antiy.asset.vo.query.AssetIDAndSchemeTypeQuery">
        select
        content,
        file_info,
        memo
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test=" assetId != null">
                and asset_id = #{assetId}
            </if>
            <if test=" type != null">
                and type = #{type}
            </if>
            and status = 1
            order by id desc limit 1
        </trim>
    </select>

    <select id="findMemoById" resultMap="BaseResultMap" parameterType="com.antiy.common.base.ObjectQuery">
        select
        memo,file_info
        from
        <include refid="Table_Name"></include>
        where asset_id = #{assetId} and asset_next_status = #{assetStatus} and scheme_source = #{assetTypeEnum.code}
        and status = 1 order by id
    </select>
</mapper>