<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetNetworkEquipmentDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetNetworkEquipment">
		<id column="id" property="id" />
		<result column="asset_id" property="assetId" />
		<result column="interface_size" property="interfaceSize" />
		<result column="is_wireless" property="isWireless" />
		<result column="inner_ip" property="innerIp" />
		<result column="outer_ip" property="outerIp" />
		<result column="mac_address" property="macAddress" />
		<result column="subnet_mask" property="subnetMask" />
		<result column="expect_bandwidth" property="expectBandwidth" />
		<result column="register" property="register" />
		<result column="dram_size" property="dramSize" />
		<result column="flash_size" property="flashSize" />
		<result column="ncrm_size" property="ncrmSize" />
		<result column="create_user" property="createUser" />
		<result column="modify_user" property="modifyUser" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="memo" property="memo" />
		<result column="gmt_modified" property="gmtModified" />
		<result column="status" property="status" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, asset_id AS assetId, interface_size AS interfaceSize, is_wireless AS isWireless, inner_ip AS innerIp, outer_ip AS outerIp, mac_address AS macAddress, subnet_mask AS subnetMask, expect_bandwidth AS expectBandwidth, register, dram_size AS dramSize, flash_size AS flashSize, ncrm_size AS ncrmSize, create_user AS createUser, modify_user AS modifyUser, gmt_create AS gmtCreate, memo, gmt_modified AS gmtModified, status
    </sql>

</mapper>
