<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetDepartmentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetDepartment">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="responsible_user" property="responsibleUser"/>
        <result column="telephone" property="telephone"/>
        <result column="parent_id" property="parentId"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="memo" property="memo"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="status" property="status"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, responsible_user AS responsibleUser, telephone, parent_id AS parentId, gmt_create AS gmtCreate, gmt_modified AS gmtModified, memo, create_user AS createUser, modify_user AS modifyUser, status
    </sql>


    <sql id="Table_Name">
        asset_department
    </sql>
    <sql id="User_Table_Name">
        asset_user
    </sql>
    <sql id="Delete_Status">
        0
    </sql>
    <sql id="Null">
        NULL
    </sql>
    <sql id="IF_Base_Column_List">
        <if test=" name != null">
            name,
        </if>
        <if test=" responsibleUser != null">
            responsible_user,
        </if>
        <if test=" telephone != null">
            telephone,
        </if>
        <if test=" parentId != null">
            parent_id,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" memo != null">
            memo,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" name != null">
            #{name },
        </if>
        <if test=" responsibleUser != null">
            #{responsibleUser },
        </if>
        <if test=" telephone != null">
            #{telephone },
        </if>
        <if test=" parentId != null">
            #{parentId },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" memo != null">
            #{memo },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" name != null">
            name = #{name },
        </if>
        <if test=" responsibleUser != null">
            responsible_user = #{responsibleUser },
        </if>
        <if test=" telephone != null">
            telephone = #{telephone },
        </if>
        <if test=" parentId != null">
            parent_id = #{parentId },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" memo != null">
            memo = #{memo },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" name != null">
            AND name = #{name }
        </if>
        <if test=" responsibleUser != null">
            AND responsible_user = #{responsibleUser }
        </if>
        <if test=" telephone != null">
            AND telephone = #{telephone }
        </if>
        <if test=" parentId != null">
            AND parent_id = #{parentId }
        </if>
        <if test=" gmtCreate != null">
            AND gmt_create = #{gmtCreate }
        </if>
        <if test=" gmtModified != null">
            AND gmt_modified = #{gmtModified }
        </if>
        <if test=" memo != null">
            AND memo = #{memo }
        </if>
        <if test=" createUser != null">
            AND create_user = #{createUser }
        </if>
        <if test=" modifyUser != null">
            AND modify_user = #{modifyUser }
        </if>
        <if test=" status != null">
            AND status = #{status }
        </if>
        <if test=" status == null">
            AND status = 1
        </if>
    </sql>
    <sql id="Page_List">
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </sql>
    <insert id="insert" parameterType="com.antiy.asset.entity.AssetDepartment" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetDepartment">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.antiy.asset.entity.AssetDepartment" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <update id="deleteById" parameterType="java.lang.Integer">
        UPDATE
        <include refid="Table_Name"></include>
        SET
        status=
        <include refid="Delete_Status"></include>
        where id=#{id}
    </update>

    <update id="delete" parameterType="java.util.Map">
        update
        <include refid="Table_Name"></include>
        department
        left join
        <include refid="User_Table_Name"></include>
        user
        on department.id=user.department_id
        set
        department.status=
        <include refid="Delete_Status"></include>,
        user.department_id=null
        where
        department.id
        in
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <select id="getByWhere" resultType="com.antiy.asset.entity.AssetDepartment" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.antiy.asset.entity.AssetDepartment">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1) count
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.antiy.asset.entity.AssetDepartment"
            parameterType="com.antiy.common.base.ObjectQuery">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <include refid="Page_List"></include>

    </select>


    <select id="findListAssetDepartment" resultType="com.antiy.asset.entity.AssetDepartment"
            parameterType="com.antiy.asset.vo.query.AssetDepartmentQuery">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <include refid="Where_Column_List"></include>
        </trim>
        <include refid="Page_List"></include>

    </select>
</mapper>
