<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetNetworkEquipmentDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetNetworkEquipment">
        <id column="id" property="id"/>
        <result column="asset_id" property="assetId"/>
        <result column="interface_size" property="interfaceSize"/>
        <result column="is_wireless" property="isWireless"/>
        <result column="inner_ip" property="innerIp"/>
        <result column="outer_ip" property="outerIp"/>
        <result column="mac_address" property="macAddress"/>
        <result column="subnet_mask" property="subnetMask"/>
        <result column="expect_bandwidth" property="expectBandwidth"/>
        <result column="register" property="register"/>
        <result column="dram_size" property="dramSize"/>
        <result column="flash_size" property="flashSize"/>
        <result column="ncrm_size" property="ncrmSize"/>
        <result column="create_user" property="createUser"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="memo" property="memo"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="status" property="status"/>
    </resultMap>
<!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, asset_id AS assetId, interface_size AS interfaceSize, is_wireless AS isWireless, inner_ip AS innerIp, outer_ip AS outerIp, mac_address AS macAddress, subnet_mask AS subnetMask, expect_bandwidth AS expectBandwidth, register, dram_size AS dramSize, flash_size AS flashSize, ncrm_size AS ncrmSize, create_user AS createUser, modify_user AS modifyUser, gmt_create AS gmtCreate, memo, gmt_modified AS gmtModified, status
    </sql>

    <sql id="Table_Name">
        asset_network_equipment
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" assetId != null">
            asset_id,
        </if>
        <if test=" interfaceSize != null">
            interface_size,
        </if>
        <if test=" isWireless != null">
            is_wireless,
        </if>
        <if test=" innerIp != null">
            inner_ip,
        </if>
        <if test=" outerIp != null">
            outer_ip,
        </if>
        <if test=" macAddress != null">
            mac_address,
        </if>
        <if test=" subnetMask != null">
            subnet_mask,
        </if>
        <if test=" expectBandwidth != null">
            expect_bandwidth,
        </if>
        <if test=" register != null">
            register,
        </if>
        <if test=" dramSize != null">
            dram_size,
        </if>
        <if test=" flashSize != null">
            flash_size,
        </if>
        <if test=" ncrmSize != null">
            ncrm_size,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" modifyUser != null">
            modify_user,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
        <if test=" memo != null">
            memo,
        </if>
        <if test=" gmtModified != null">
            gmt_modified,
        </if>
        <if test=" status != null">
            status,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" assetId != null">
            #{assetId },
        </if>
        <if test=" interfaceSize != null">
            #{interfaceSize },
        </if>
        <if test=" isWireless != null">
            #{isWireless },
        </if>
        <if test=" innerIp != null">
            #{innerIp },
        </if>
        <if test=" outerIp != null">
            #{outerIp },
        </if>
        <if test=" macAddress != null">
            #{macAddress },
        </if>
        <if test=" subnetMask != null">
            #{subnetMask },
        </if>
        <if test=" expectBandwidth != null">
            #{expectBandwidth },
        </if>
        <if test=" register != null">
            #{register },
        </if>
        <if test=" dramSize != null">
            #{dramSize },
        </if>
        <if test=" flashSize != null">
            #{flashSize },
        </if>
        <if test=" ncrmSize != null">
            #{ncrmSize },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" modifyUser != null">
            #{modifyUser },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
        <if test=" memo != null">
            #{memo },
        </if>
        <if test=" gmtModified != null">
            #{gmtModified },
        </if>
        <if test=" status != null">
            #{status },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" assetId != null">
            asset_id = #{assetId },
        </if>
        <if test=" interfaceSize != null">
            interface_size = #{interfaceSize },
        </if>
        <if test=" isWireless != null">
            is_wireless = #{isWireless },
        </if>
        <if test=" innerIp != null">
            inner_ip = #{innerIp },
        </if>
        <if test=" outerIp != null">
            outer_ip = #{outerIp },
        </if>
        <if test=" macAddress != null">
            mac_address = #{macAddress },
        </if>
        <if test=" subnetMask != null">
            subnet_mask = #{subnetMask },
        </if>
        <if test=" expectBandwidth != null">
            expect_bandwidth = #{expectBandwidth },
        </if>
        <if test=" register != null">
            register = #{register },
        </if>
        <if test=" dramSize != null">
            dram_size = #{dramSize },
        </if>
        <if test=" flashSize != null">
            flash_size = #{flashSize },
        </if>
        <if test=" ncrmSize != null">
            ncrm_size = #{ncrmSize },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
        <if test=" memo != null">
            memo = #{memo },
        </if>
        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
        <if test=" status != null">
            status = #{status },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" assetId != null">
            and asset_id = #{assetId }
        </if>
        <if test=" interfaceSize != null">
            and interface_size = #{interfaceSize }
        </if>
        <if test=" isWireless != null">
            and is_wireless = #{isWireless }
        </if>
        <if test=" innerIp != null">
            and inner_ip = #{innerIp }
        </if>
        <if test=" outerIp != null">
            and outer_ip = #{outerIp }
        </if>
        <if test=" macAddress != null">
            and mac_address = #{macAddress }
        </if>
        <if test=" subnetMask != null">
            and subnet_mask = #{subnetMask }
        </if>
        <if test=" expectBandwidth != null">
            and expect_bandwidth = #{expectBandwidth }
        </if>
        <if test=" register != null">
            and register = #{register }
        </if>
        <if test=" dramSize != null">
            and dram_size = #{dramSize }
        </if>
        <if test=" flashSize != null">
            and flash_size = #{flashSize }
        </if>
        <if test=" ncrmSize != null">
            and ncrm_size = #{ncrmSize }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" modifyUser != null">
            and modify_user = #{modifyUser }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
        <if test=" memo != null">
            and memo = #{memo }
        </if>
        <if test=" gmtModified != null">
            and gmt_modified = #{gmtModified }
        </if>
        <if test=" status != null">
            and status = #{status }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetNetworkEquipment">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetNetworkEquipment">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Long">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultMap="BaseResultMap">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1) count
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultMap="BaseResultMap" parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{currentPage}
        </if>
    </select>


    <select id="findListAssetNetworkEquipment" resultType="com.antiy.asset.entity.vo.response.AssetNetworkEquipmentResponse" parameterType="com.antiy.asset.entity.vo.query.AssetNetworkEquipmentQuery">
        select * from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
        <if test=" id != null">
                and id = #{id }
            </if>
        <if test=" assetId != null">
                and asset_id = #{assetId }
            </if>
        <if test=" interfaceSize != null">
                and interface_size = #{interfaceSize }
            </if>
        <if test=" isWireless != null">
                and is_wireless = #{isWireless }
            </if>
        <if test=" innerIp != null">
                and inner_ip = #{innerIp }
            </if>
        <if test=" outerIp != null">
                and outer_ip = #{outerIp }
            </if>
        <if test=" macAddress != null">
                and mac_address = #{macAddress }
            </if>
        <if test=" subnetMask != null">
                and subnet_mask = #{subnetMask }
            </if>
        <if test=" expectBandwidth != null">
                and expect_bandwidth = #{expectBandwidth }
            </if>
        <if test=" register != null">
                and register = #{register }
            </if>
        <if test=" dramSize != null">
                and dram_size = #{dramSize }
            </if>
        <if test=" flashSize != null">
                and flash_size = #{flashSize }
            </if>
        <if test=" ncrmSize != null">
                and ncrm_size = #{ncrmSize }
            </if>
        <if test=" createUser != null">
                and create_user = #{createUser }
            </if>
        <if test=" modifyUser != null">
                and modify_user = #{modifyUser }
            </if>
        <if test=" gmtCreate != null">
                and gmt_create = #{gmtCreate }
            </if>
        <if test=" memo != null">
                and memo = #{memo }
            </if>
        <if test=" gmtModified != null">
                and gmt_modified = #{gmtModified }
            </if>
        <if test=" status != null">
                and status = #{status }
            </if>
                </trim>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{currentPage}
        </if>
    </select>
</mapper>
