<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetOperationRecordDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetOperationRecord">
        <id column="id" property="id"/>
        <result column="target_object" property="targetObject"/>
        <result column="target_table_name" property="targetTableName"/>
        <result column="content" property="content"/>
        <result column="create_user" property="createUser"/>
        <result column="gmt_create" property="gmtCreate"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, target_object AS targetObject, target_table_name AS targetTableName, content, create_user AS createUser, gmt_create AS gmtCreate
    </sql>

    <sql id="Table_Name">
        asset_operation_record
    </sql>


    <sql id="IF_Base_Column_List">
        <if test=" targetObject != null">
            target_object,
        </if>
        <if test=" targetTableName != null">
            target_table_name,
        </if>
        <if test=" content != null">
            content,
        </if>
        <if test=" createUser != null">
            create_user,
        </if>
        <if test=" gmtCreate != null">
            gmt_create,
        </if>
    </sql>

    <sql id="IF_Value_Column_List">
        <if test=" targetObject != null">
            #{targetObject },
        </if>
        <if test=" targetTableName != null">
            #{targetTableName },
        </if>
        <if test=" content != null">
            #{content },
        </if>
        <if test=" createUser != null">
            #{createUser },
        </if>
        <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
    </sql>

    <sql id="Set_Column_List">
        <if test=" targetObject != null">
            target_object = #{targetObject },
        </if>
        <if test=" targetTableName != null">
            target_table_name = #{targetTableName },
        </if>
        <if test=" content != null">
            content = #{content },
        </if>
        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
    </sql>

    <sql id="Where_Column_List">
        <if test=" targetObject != null">
            and target_object = #{targetObject }
        </if>
        <if test=" targetTableName != null">
            and target_table_name = #{targetTableName }
        </if>
        <if test=" content != null">
            and content = #{content }
        </if>
        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
    </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetOperationRecord">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetOperationRecord">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultType="com.antiy.asset.entity.AssetOperationRecord" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultType="com.antiy.asset.entity.AssetOperationRecord" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultType="com.antiy.asset.entity.AssetOperationRecord">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.common.base.ObjectQuery">
        select count(1)
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultType="com.antiy.asset.entity.AssetOperationRecord"
            parameterType="com.antiy.common.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{pageOffset}
        </if>
    </select>
</mapper>