<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.Asset">
        <id column="id" property="id" />
        <result column="number" property="number" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="serial" property="serial" />
        <result column="category" property="category" />
        <result column="model" property="model" />
        <result column="manufacturer" property="manufacturer" />
        <result column="asset_status" property="assetStatus" />
        <result column="operation_system" property="operationSystem" />
        <result column="system_bit" property="systemBit" />
        <result column="location" property="location" />
        <result column="latitude" property="latitude" />
        <result column="longitude" property="longitude" />
        <result column="firmware_version" property="firmwareVersion" />
        <result column="uuid" property="uuid" />
        <result column="responsible_user_id" property="responsibleUserId" />
        <result column="contact_tel" property="contactTel" />
        <result column="email" property="email" />
        <result column="hard_disk" property="hardDisk" />
        <result column="memory" property="memory" />
        <result column="asset_source" property="assetSource" />
        <result column="importance_degree" property="importanceDegree" />
        <result column="describle" property="describle" />
        <result column="cpu" property="cpu" />
        <result column="network_card" property="networkCard" />
        <result column="parent_id" property="parentId" />
        <result column="tags" property="tags" />
        <result column="is_innet" property="isInnet" />
        <result column="service_life" property="serviceLife" />
        <result column="buy_date" property="buyDate" />
        <result column="warranty" property="warranty" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="memo" property="memo" />
        <result column="create_user" property="createUser" />
        <result column="modify_user" property="modifyUser" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, number, type, name, serial, category, model, manufacturer, asset_status AS assetStatus, operation_system AS operationSystem, system_bit AS systemBit, location, latitude, longitude, firmware_version AS firmwareVersion, uuid, responsible_user_id AS responsibleUserId, contact_tel AS contactTel, email, hard_disk AS hardDisk, memory, asset_source AS assetSource, importance_degree AS importanceDegree, describle, cpu, network_card AS networkCard, parent_id AS parentId, tags, is_innet AS isInnet, service_life AS serviceLife, buy_date AS buyDate, warranty, gmt_create AS gmtCreate, gmt_modified AS gmtModified, memo, create_user AS createUser, modify_user AS modifyUser, is_delete AS isDelete
    </sql>

</mapper>
