<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetHardDiskDao">

                <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetHardDisk">
                                        <id column="id" property="id"/>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <result column="asset_id" property="assetId"/>
                                                        <result column="brand" property="brand"/>
                                                        <result column="model" property="model"/>
                                                        <result column="serial" property="serial"/>
                                                        <result column="interface_type" property="interfaceType"/>
                                                        <result column="capacity" property="capacity"/>
                                                        <result column="disk_type" property="diskType"/>
                                                        <result column="buy_date" property="buyDate"/>
                                                        <result column="use_times" property="useTimes"/>
                                                        <result column="cumulative_hour" property="cumulativeHour"/>
                                                        <result column="gmt_create" property="gmtCreate"/>
                                                        <result column="gmt_modified" property="gmtModified"/>
                                                        <result column="memo" property="memo"/>
                                                        <result column="create_user" property="createUser"/>
                                                        <result column="modify_user" property="modifyUser"/>
                                                        <result column="status" property="status"/>
                                    </resultMap>

                <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                        id, asset_id AS assetId, brand, model, serial, interface_type AS interfaceType, capacity, disk_type AS diskType, buy_date AS buyDate, use_times AS useTimes, cumulative_hour AS cumulativeHour, gmt_create AS gmtCreate, gmt_modified AS gmtModified, memo, create_user AS createUser, modify_user AS modifyUser, status
        </sql>
    
    <sql id="Table_Name">
        asset_hard_disk
    </sql>


    <sql id="IF_Base_Column_List">
                                                    <if test=" assetId != null">
            asset_id,
        </if>
                                <if test=" brand != null">
            brand,
        </if>
                                <if test=" model != null">
            model,
        </if>
                                <if test=" serial != null">
            serial,
        </if>
                                <if test=" interfaceType != null">
            interface_type,
        </if>
                                <if test=" capacity != null">
            capacity,
        </if>
                                <if test=" diskType != null">
            disk_type,
        </if>
                                <if test=" buyDate != null">
            buy_date,
        </if>
                                <if test=" useTimes != null">
            use_times,
        </if>
                                <if test=" cumulativeHour != null">
            cumulative_hour,
        </if>
                                <if test=" gmtCreate != null">
            gmt_create,
        </if>
                                <if test=" gmtModified != null">
            gmt_modified,
        </if>
                                <if test=" memo != null">
            memo,
        </if>
                                <if test=" createUser != null">
            create_user,
        </if>
                                <if test=" modifyUser != null">
            modify_user,
        </if>
                                <if test=" status != null">
            status,
        </if>
                        </sql>

    <sql id="IF_Value_Column_List">
                                
                            <if test=" assetId != null">
            #{assetId },
        </if>
            
                            <if test=" brand != null">
            #{brand },
        </if>
            
                            <if test=" model != null">
            #{model },
        </if>
            
                            <if test=" serial != null">
            #{serial },
        </if>
            
                            <if test=" interfaceType != null">
            #{interfaceType },
        </if>
            
                            <if test=" capacity != null">
            #{capacity },
        </if>
            
                            <if test=" diskType != null">
            #{diskType },
        </if>
            
                            <if test=" buyDate != null">
            #{buyDate },
        </if>
            
                            <if test=" useTimes != null">
            #{useTimes },
        </if>
            
                            <if test=" cumulativeHour != null">
            #{cumulativeHour },
        </if>
            
                            <if test=" gmtCreate != null">
            #{gmtCreate },
        </if>
            
                            <if test=" gmtModified != null">
            #{gmtModified },
        </if>
            
                            <if test=" memo != null">
            #{memo },
        </if>
            
                            <if test=" createUser != null">
            #{createUser },
        </if>
            
                            <if test=" modifyUser != null">
            #{modifyUser },
        </if>
            
                            <if test=" status != null">
            #{status },
        </if>
            
            </sql>

    <sql id="Set_Column_List">
                                                            <if test=" assetId != null">
            asset_id = #{assetId },
        </if>
                                        <if test=" brand != null">
            brand = #{brand },
        </if>
                                        <if test=" model != null">
            model = #{model },
        </if>
                                        <if test=" serial != null">
            serial = #{serial },
        </if>
                                        <if test=" interfaceType != null">
            interface_type = #{interfaceType },
        </if>
                                        <if test=" capacity != null">
            capacity = #{capacity },
        </if>
                                        <if test=" diskType != null">
            disk_type = #{diskType },
        </if>
                                        <if test=" buyDate != null">
            buy_date = #{buyDate },
        </if>
                                        <if test=" useTimes != null">
            use_times = #{useTimes },
        </if>
                                        <if test=" cumulativeHour != null">
            cumulative_hour = #{cumulativeHour },
        </if>
                                        <if test=" gmtCreate != null">
            gmt_create = #{gmtCreate },
        </if>
                                        <if test=" gmtModified != null">
            gmt_modified = #{gmtModified },
        </if>
                                        <if test=" memo != null">
            memo = #{memo },
        </if>
                                        <if test=" createUser != null">
            create_user = #{createUser },
        </if>
                                        <if test=" modifyUser != null">
            modify_user = #{modifyUser },
        </if>
                                        <if test=" status != null">
            status = #{status },
        </if>
                        </sql>

    <sql id="Where_Column_List">
                                                            <if test=" assetId != null">
            and asset_id = #{assetId }
        </if>
                                        <if test=" brand != null">
            and brand = #{brand }
        </if>
                                        <if test=" model != null">
            and model = #{model }
        </if>
                                        <if test=" serial != null">
            and serial = #{serial }
        </if>
                                        <if test=" interfaceType != null">
            and interface_type = #{interfaceType }
        </if>
                                        <if test=" capacity != null">
            and capacity = #{capacity }
        </if>
                                        <if test=" diskType != null">
            and disk_type = #{diskType }
        </if>
                                        <if test=" buyDate != null">
            and buy_date = #{buyDate }
        </if>
                                        <if test=" useTimes != null">
            and use_times = #{useTimes }
        </if>
                                        <if test=" cumulativeHour != null">
            and cumulative_hour = #{cumulativeHour }
        </if>
                                        <if test=" gmtCreate != null">
            and gmt_create = #{gmtCreate }
        </if>
                                        <if test=" gmtModified != null">
            and gmt_modified = #{gmtModified }
        </if>
                                        <if test=" memo != null">
            and memo = #{memo }
        </if>
                                        <if test=" createUser != null">
            and create_user = #{createUser }
        </if>
                                        <if test=" modifyUser != null">
            and modify_user = #{modifyUser }
        </if>
                                        <if test=" status != null">
            and status = #{status }
        </if>
                        </sql>

    <insert id="insert" parameterType="com.antiy.asset.entity.AssetHardDisk">
        insert into
        <include refid="Table_Name"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="IF_Base_Column_List"></include>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="IF_Value_Column_List"></include>
        </trim>
    </insert>

    <update id="update" parameterType="com.antiy.asset.entity.AssetHardDisk">
        update
        <include refid="Table_Name"></include>
        <trim prefix="SET" suffixOverrides=",">
            <include refid="Set_Column_List"></include>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据主键查询 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        where id = #{id}
    </select>


    <delete id="deleteById" parameterType="java.lang.Long">
        delete from
        <include refid="Table_Name"></include>
        where id = #{id}
    </delete>

    <select id="getByWhere" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>


    <select id="getAll" resultMap="BaseResultMap">
        select *
        from
        <include refid="Table_Name"></include>
    </select>


    <select id="findCount" resultType="int" parameterType="com.antiy.asset.base.ObjectQuery">
        select count(1) count
        from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
    </select>

    <select id="findQuery" resultMap="BaseResultMap" parameterType="com.antiy.asset.base.ObjectQuery">
        select * from
        <include refid="Table_Name"></include>
        <where>
            <trim prefixOverrides="and">
                <include refid="Where_Column_List"></include>
            </trim>
        </where>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{currentPage}
        </if>
    </select>


    <select id="findListAssetHardDisk" resultMap="com.antiy.asset.entity.vo.response.AssetHardDiskResponse" parameterType="com.antiy.asset.entity.vo.query.AssetHardDiskQuery">
        select * from
        <include refid="Table_Name"></include>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
                    <if test=" id != null">
                and id = #{id }
            </if>
                    <if test=" assetId != null">
                and asset_id = #{assetId }
            </if>
                    <if test=" brand != null">
                and brand = #{brand }
            </if>
                    <if test=" model != null">
                and model = #{model }
            </if>
                    <if test=" serial != null">
                and serial = #{serial }
            </if>
                    <if test=" interfaceType != null">
                and interface_type = #{interfaceType }
            </if>
                    <if test=" capacity != null">
                and capacity = #{capacity }
            </if>
                    <if test=" diskType != null">
                and disk_type = #{diskType }
            </if>
                    <if test=" buyDate != null">
                and buy_date = #{buyDate }
            </if>
                    <if test=" useTimes != null">
                and use_times = #{useTimes }
            </if>
                    <if test=" cumulativeHour != null">
                and cumulative_hour = #{cumulativeHour }
            </if>
                    <if test=" gmtCreate != null">
                and gmt_create = #{gmtCreate }
            </if>
                    <if test=" gmtModified != null">
                and gmt_modified = #{gmtModified }
            </if>
                    <if test=" memo != null">
                and memo = #{memo }
            </if>
                    <if test=" createUser != null">
                and create_user = #{createUser }
            </if>
                    <if test=" modifyUser != null">
                and modify_user = #{modifyUser }
            </if>
                    <if test=" status != null">
                and status = #{status }
            </if>
                </trim>
        <if test="pageSize !=-1">
            LIMIT #{pageSize} offset #{currentPage}
        </if>
    </select>
</mapper>
