<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.AssetSoftwareLicenseDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.AssetSoftwareLicense">
        <id column="id" property="id" />
        <result column="software_id" property="softwareId" />
        <result column="busy_date" property="busyDate" />
        <result column="expiry_date" property="expiryDate" />
        <result column="license_secret_key" property="licenseSecretKey" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="memo" property="memo" />
        <result column="create_user" property="createUser" />
        <result column="modify_user" property="modifyUser" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, software_id AS softwareId, busy_date AS busyDate, expiry_date AS expiryDate, license_secret_key AS licenseSecretKey, gmt_create AS gmtCreate, gmt_modified AS gmtModified, memo, create_user AS createUser, modify_user AS modifyUser, status
    </sql>

</mapper>
