<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.IEventDao">
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.Event">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="reward" jdbcType="INTEGER" property="reward"/>
        <result column="process_method" jdbcType="TINYINT" property="processMethod"/>
        <result column="id_stars" jdbcType="INTEGER" property="idStars"/>
        <result column="integral" jdbcType="INTEGER" property="integral"/>
        <result column="edit_name" jdbcType="VARCHAR" property="editName"/>
        <result column="edit_reward" jdbcType="INTEGER" property="editReward"/>
        <result column="edit_process_method" jdbcType="TINYINT" property="editProcessMethod"/>
        <result column="edit_id_stars" jdbcType="INTEGER" property="editIdStars"/>
        <result column="edit_integral" jdbcType="INTEGER" property="editIntegral"/>
        <result column="audit_status" jdbcType="TINYINT" property="auditStatus"/>
        <result column="audit_time" jdbcType="INTEGER" property="auditTime"/>
        <result column="creator_id" jdbcType="VARCHAR" property="creatorId"/>
        <result column="creator_name" jdbcType="VARCHAR" property="creatorName"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
        <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId"/>
        <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName"/>
        <result column="update_time" jdbcType="INTEGER" property="updateTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="is_active" jdbcType="TINYINT" property="isActive"/>
    </resultMap>

    <!-- 基本sql -->
    <sql id="Base_Column_List">
    id, name, reward, process_method, id_stars,integral,edit_name,edit_reward,edit_process_method,edit_id_stars,
    edit_integral, audit_status, audit_time, creator_id, creator_name, create_time, update_user_id, update_user_name,
    update_time, is_delete,is_active
  </sql>

    <sql id="Base_Where_Case">
        <where>
            1=1
            <if test="idStars != null">
                AND id_stars = #{idStars};
            </if>
        </where>
    </sql>

    <!-- 查询所有 -->
    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zb_event
        where 1=1
    </select>

    <!-- 通过id查询 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from zb_event
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!-- 查询 -->
    <select id="getEventlist" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from zb_event
        <include refid="Base_Where_Case"/>
    </select>

    <!-- 删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
    update zb_event set is_delete = 1
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.antiy.asset.entity.Event" useGeneratedKeys="true" keyProperty="id">
        insert into zb_event
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="reward != null">
                reward,
            </if>
            <if test="processMethod != null">
                process_method,
            </if>
            <if test="idStars != null">
                id_stars,
            </if>
            <if test="integral != null">
                integral,
            </if>
            <if test="editName != null">
                edit_name,
            </if>
            <if test="editReward != null">
                edit_reward,
            </if>
            <if test="editProcessMethod != null">
                edit_process_method,
            </if>
            <if test="editIdStars != null">
                edit_id_stars,
            </if>
            <if test="editIntegral != null">
                edit_integral,
            </if>
            <if test="auditStatus != null">
                audit_status,
            </if>
            <if test="auditTime != null">
                audit_time,
            </if>
            <if test="creatorId != null">
                creator_id,
            </if>
            <if test="creatorName != null">
                creator_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="updateUserName != null">
                update_user_name,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="isActive != null">
                is_active,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="reward != null">
                #{reward,jdbcType=INTEGER},
            </if>
            <if test="processMethod != null">
                #{processMethod,jdbcType=TINYINT},
            </if>
            <if test="idStars != null">
                #{idStars,jdbcType=INTEGER},
            </if>
            <if test="integral != null">
                #{integral,jdbcType=INTEGER},
            </if>
            <if test="editName != null">
                #{editName,jdbcType=VARCHAR},
            </if>
            <if test="editReward != null">
                #{editReward,jdbcType=INTEGER},
            </if>
            <if test="editProcessMethod != null">
                #{editProcessMethod,jdbcType=TINYINT},
            </if>
            <if test="editIdStars != null">
                #{editIdStars,jdbcType=INTEGER},
            </if>
            <if test="editIntegral != null">
                #{editIntegral,jdbcType=INTEGER},
            </if>
            <if test="auditStatus != null">
                #{auditStatus,jdbcType=TINYINT},
            </if>
            <if test="auditTime != null">
                #{auditTime,jdbcType=INTEGER},
            </if>
            <if test="creatorId != null">
                #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null">
                #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=INTEGER},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateUserName != null">
                #{updateUserName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=TINYINT},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.antiy.asset.entity.Event">
        update zb_event
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="reward != null">
                reward = #{reward,jdbcType=INTEGER},
            </if>
            <if test="processMethod != null">
                process_method = #{processMethod,jdbcType=TINYINT},
            </if>
            <if test="idStars != null">
                id_stars = #{idStars,jdbcType=INTEGER},
            </if>
            <if test="integral != null">
                integral = #{integral,jdbcType=INTEGER},
            </if>
            <if test="editName != null">
                edit_name = #{editName,jdbcType=VARCHAR},
            </if>
            <if test="editReward != null">
                edit_reward = #{editReward,jdbcType=INTEGER},
            </if>
            <if test="editProcessMethod != null">
                edit_process_method = #{editProcessMethod,jdbcType=TINYINT},
            </if>
            <if test="editIdStars != null">
                edit_id_stars = #{editIdStars,jdbcType=INTEGER},
            </if>
            <if test="editIntegral != null">
                edit_integral = #{editIntegral,jdbcType=INTEGER},
            </if>
            <if test="auditStatus != null">
                audit_status = #{auditStatus,jdbcType=TINYINT},
            </if>
            <if test="auditTime != null">
                audit_time = #{auditTime,jdbcType=INTEGER},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null">
                creator_name = #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=INTEGER},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateUserName != null">
                update_user_name = #{updateUserName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=TINYINT},
            </if>
            <if test="isActive != null">
                is_active = #{isActive,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>