<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antiy.asset.dao.SchemeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.antiy.asset.entity.Scheme">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="result" property="result" />
        <result column="putinto_user_id" property="putintoUserId" />
        <result column="putinto_time" property="putintoTime" />
        <result column="putinto_user" property="putintoUser" />
        <result column="remark" property="remark" />
        <result column="filepath" property="filepath" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="memo" property="memo" />
        <result column="create_user" property="createUser" />
        <result column="modify_user" property="modifyUser" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, result, putinto_user_id AS putintoUserId, putinto_time AS putintoTime, putinto_user AS putintoUser, remark, filepath, gmt_create AS gmtCreate, gmt_modified AS gmtModified, memo, create_user AS createUser, modify_user AS modifyUser, is_delete AS isDelete
    </sql>

</mapper>
